<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input class="form-control col-md-4" type="text" ng-model="vm.filter.searchString" placeholder="Search" ng-change="vm.searchChange()"/>
            </div>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <a class="btn btn-primary" ng-click="vm.openSchoolOrgForm()">Add organization</a>
    </div>
</div>
<div class="row" ng-show="orgRequests && orgRequests.length > 0">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">You have <b>{{orgRequests.length}}</b> new organization requests. <a class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-org-requests">Respond</a></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-verticalalign table-responsive">
            <tr ng-repeat="org in vm.organizations">
                <td><h4>{{org.name}}</h4><br />{{org.streetAddress}}, {{org.city}}, {{org.state}}<br/><small class="text-muted">Requested by {{org.creator.displayName}}</small></td>
                <td class="col-xs-6"><small class="text-muted">{{org.description}}</small></td>
                <td ng-show="org.teams"><h6>
                  <span class="red">{{org.teams.teamLeadCount}}</span> Team Leads<br/>
                  <span class="red">{{org.teams.teamCount}}</span> Teams<br/>
                  <span class="red">{{org.teams.teamMemberCount}}</span> Team Members
                </h6></td>
                <td ng-hide="org.teams"></td>
                <td class="text-right">
                    <a class="btn btn-default" ng-click="vm.openSchoolOrgForm(org)">
                      <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <!-- <a class="btn btn-danger" data-toggle="modal" data-target="#modal-org-delete">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a> -->
                </td>
            </tr>
        </table>

        <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>



<!-- MODALS -->
<form-school-org-modal school-org="vm.schoolOrg" save-function="vm.saveSchoolOrgForm" cancel-function="vm.cancelSchoolOrgForm"></form-school-org-modal>
<!-- <delete-school-org-modal ></delete-school-org-modal> -->

<div class="modal fade" id="modal-org-requests" tabindex="-1" role="dialog"><!-- TODO: Form copied from member requests -- needs updated wiring -->
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Organization Requests</h4>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-body text-center">
                  <h4>Organization Name</h4>
                  <p class="text-muted small">Street Address, City State<br/>Requested by Requester Name</p>
                  <p class="small">Description - Bacon ipsum dolor amet fatback chicken biltong, short loin ground round meatball pork belly cupim hamburger spare ribs.</p>
                  <div class="btn-group">
                    <a class="btn btn-success btn-sm" title="Accept" ng-model="request.approve"
                      uib-btn-radio="true"><i class="glyphicon glyphicon-ok" ng-click="approve()"></i></a>
                    <a class="btn btn-danger btn-sm" title="Reject" ng-model="request.approve"
                      uib-btn-radio="false"><i class="glyphicon glyphicon-remove" ng-click="deny()"></i></a>
                  </div>
                  <div ng-show="request.error && (request.approve !== true && request.approve !== false)" class="text-danger">
                    <strong ng-bind="request.error"></strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-danger row" ng-show="error">
            <strong ng-bind="error"></strong>
          </div>
        </div>
        <div class="modal-footer" ng-show="teamRequests.length > 0">
          <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--END MODALS-->
