<div class="jumbotron text-center">
    <section class="content">
        <section class="container">
            <h2>Glossary</h2>
            <div class="input-group col-md-6 col-md-offset-3">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span><!-- TODO: Need to wire up search and filters-->
                </span>
                <input type="text" class="form-control" ng-model="vm.filter.searchString" ng-change="vm.searchChange()"
                placeholder="Search for a vocabulary term...">
            </div>
        </section>
    </section>
</div>
<section class="content">
    <section class="container">
        <nav class="navbar">
            <ul class="nav navbar-nav"><!--TODO: Wire up sorts-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Sort <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                       <li><a ng-click="vm.sortChange('')">Alphabetical</a></li>
                       <li><a ng-click="vm.sortChange('date')">Date</a></li>
                    </ul>
                </li>
            </ul>
            <a class="btn btn-primary pull-right" ng-click="vm.openAddEdit()">Add a vocabulary term</a>
        </nav>
        <table class="table">
            <tr ng-repeat="term in vm.glossary">
                <td><h4 ng-bind="term.term"></h4><td>
                <td><p class="text-muted" ng-bind="term.definition"></p></td>
                <td class="text-right col-md-2">
                    <a class="btn btn-primary" title="See uses" ng-click="vm.goToLesson(term)">
                      <i class="glyphicon glyphicon-search"></i><!--TODO: link to main Lesson page filtered with that vocab term-->
                    </a>
                    <a class="btn btn-default" ng-click="vm.openAddEdit(term)">
                      <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" ng-click="vm.openDelete(term)">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </table>
    </section>
</section>


<!-- MODALS -->
<form-term-modal term="vm.term" save-function="vm.saveTerm" cancel-function="vm.cancelTerm"></form-term-modal>

<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure you want to delete the term {{term}}?<!--TODO: Wire up term name--></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>This action cannot be reversed.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <!--TODO: Wire up button -->
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.remove()">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- END OF MODALS -->
