<section class="content shaded" ng-controller="RestorationStationController">
    <section class="container-fluid">
        <div class="page-header">
            <h2>Restoration Station</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-8">
                <img src="https://www.google.com/maps/vt/data=RfCSdfNZ0LFPrHSm0ublXdzhdrDFhtmHhN1u-gM,GtRFbUGq-rIYPEWbVKQMOsWLP66nINEZFiKRAQWuJqJ_oX27lup9OV0aoCavFivvdIhdlMyZ-2Z1VF-NmId_ceQgGI_Q8-ybngfTChgFAQ" width="100%" />
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>My Expeditions</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr class="red">
                                <td><i class="glyphicon glyphicon-unchecked"></i></td>
                                <td>NY Harbor Expedition</td>
                                <td class="small">Incomplete</td>
                                <td><a class="btn btn-default btn-sm btn-block" ui-sref="expeditions.create-protocols">Edit</a></td>
                            </tr>
                            <tr>
                                <td><i class="glyphicon glyphicon-check"></i></td>
                                <td>Baltimore Harbor Expedition 2016</td>
                                <td class="text-muted small">Published</td>
                                <td><a class="btn btn-default btn-sm btn-block" ui-sref="expeditions.create-protocols">View</a></td>
                            </tr>
                            <tr>
                                <td><i class="glyphicon glyphicon-check"></i></td>
                                <td>Baltimore Harbor Expedition 2015</td>
                                <td class="text-muted small">Published</td>
                                <td><a class="btn btn-default btn-sm btn-block" ui-sref="expeditions.create-protocols">View</a></td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary">Join Expedition</a>
                    </div>
                </div>
            </div>
        </div>
        <a ui-sref="expeditions.list">List Expeditions</a><br/>
        <a ui-sref="expeditions.create">Create Expedition</a><br/>
    </section>
</section>
