<div class="jumbotron text-center" ng-controller="RestorationStationController">
    <section class="content">
        <section class="container-fluid">
            <h2>Restoration Station</h2>
        </section>
    </section
</div>
<section class="content" ng-controller="RestorationStationController">
    <section class="container-fluid">
        <!-- <tide-table></tide-table> -->
        <a ui-sref="expeditions.list">List Expeditions</a><br/>
        <a ui-sref="expeditions.create">Create Expedition</a><br/>
        <a ui-sref="protocol-site-conditions.create">Create Protocol 1: Site Conditions</a>
    </section>
</section>
