<div class="modal fade" id="modal-team-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="form.teamProfileForm" ng-submit="save(form.teamProfileForm.$valid)" novalidate>
              <fieldset>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" ng-show="team._id">Edit the <span class="red">{{team.name}}</span> profile</h4>
                    <h4 class="modal-title" ng-hide="team._id">Add a team</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" show-errors>
                        <label for="name" class="control-label required">Team Name *</label>
                        <input class="form-control" id="name" name="name" ng-model="editTeam.name" required />
                        <div ng-messages="form.teamProfileForm.name.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Team name is required.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">Team Description</label>
                        <textarea class="form-control" id="description" name="description" ng-model="editTeam.description"></textarea>
                    </div>
                    <div class="form-group" ng-show="isAdmin && !team._id">
                        <label for="schoolOrg" ng-class="{'required': isAdmin}">Team Organization *</label>
                        <input type="text" ng-model="editTeam.schoolOrg" placeholder="Team Organization" id="schoolOrg" name="schoolOrg"
                        uib-typeahead="org as org.name for org in organizations | filter:{name:$viewValue}" autocomplete="off"
                        class="form-control" typeahead-show-hint="true" typeahead-min-length="0" typeahead-select-on-exact="true"
                        ng-disabled="!isAdmin" ng-required="isAdmin">
                    </div>
                    <div class="form-group">
                      <label for="image" class="control-label">Team Photo</label>
                      <single-image-drop-zone uploader="teamPhotoUploader" image-url="teamPhotoURL"
                      image-alt="Team Photo" id="team-image-dropzone"></single-image-drop-zone>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" ng-click="close()">Cancel</a>
                    <button type="submit" class="btn btn-primary">{{team._id ? 'Update' : 'Add'}}</button>
                </div>
              </fieldset>
            </form>
        </div>
    </div>
</div>
