<section class="content shaded" id="dashboard">
    <section class="container-fluid">
        <div class="page-header">
            <div class="row">
                <h2 class="col-md-3">Dashboard</h2>
                <div class="col-md-9">
                    <div class="pull-right" ng-show="vm.teams.length > 1">
                        <a class="btn btn-lg btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="teamMenu">{{vm.team.name}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="teamMenu">
                            <li ng-repeat="team in vm.teams"><a href="#" ng-click="vm.fieldChanged(team)">{{team.name}}</a></li>
                        </ul>
                    </div>
                    <div class="pull-right" ng-show="vm.teams.length === 1" id="single-team-name">
                        <a ui-sref="profiles.team-view({ teamId: vm.team._id })"><h3>{{vm.team.name}}</h3></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-sm-2">
                    <h6><i class="fa fa-building"></i> Organization</h6>
                    <p class="pull-left"><a ui-sref="profiles.organization-view({ schoolOrgId: vm.team.schoolOrg._id })">{{vm.team.schoolOrg.name}}</a></p>
                </div> -->
                <div class="col-sm-12" ng-show="vm.team.teamLeads && vm.team.teamLeads.length > 0">
                    <p class="pull-right" ng-repeat="teamLead in vm.team.teamLeads">
                        <img ng-src="{{teamLead.profileImageURL}}" alt="{{teamLead.displayName}}"
                            class="pull-left header-profile-image" />
                        <a ng-click="vm.openViewUserModal(teamLead)">{{teamLead.displayName}}</a>
                        &nbsp;&nbsp;&nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info text-center" ng-show="(!vm.teams || vm.teams.length === 0) && vm.isTeamLead">
                  You don't have any teams yet! <a class="btn btn-default" ng-click="vm.openViewUserModal(null, 'formTeamMember')">Add members</a>
                </div>
                <div class="alert alert-info text-center" ng-show="vm.isTeamLeadPending">
                  Sorry, your team lead account is still pending! You will be able to add members and teams as soon as your account is approved.
                </div>
                <div class="alert alert-info text-center" ng-show="(!vm.teams || vm.teams.length === 0) && (vm.isTeamMember)">
                  Sorry, you aren't on a team yet! As soon as your team lead adds you to a team, you'll see data here.
                </div>
                <div class="alert alert-info text-center" ng-show="vm.isTeamMemberPending">
                  Sorry, your team membership is still pending! As soon as your team lead adds you to a team, you'll see data here.
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-class="{ 'col-md-8': (vm.isTeamLead || vm.isTeamMember || vm.isAdmin), 'col-md-12': (vm.isTeamMemberPending || vm.isTeamLeadPending) }">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="btn btn-default pull-right" ui-sref="restoration-stations.list">See all</a>
                        <h4>Oyster Research Stations</h4>
                    </div>
                    <div class="panel-body">
                      <leaflet-map map-controls="vm.mapControls" map-click-event="vm.mapClick"
                      marker-drag-end-event="vm.markerDragEnd" can-move-marker="vm.canMoveMarker"
                      show-marker="vm.showMarker" can-click-map-to-add-marker="vm.canClickMapToAddMarker"
                      add-points="vm.mapPoints"></leaflet-map>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Published Expeditions</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <tr ng-repeat="expedition in vm.published" ui-sref="expeditions.view({ expeditionId: expedition._id })">
                                <td>
                                    {{expedition.name}}<br/>
                                    <small class="text-muted">{{vm.getExpeditionDate(expedition.monitoringStartDate)}},
                                      {{vm.getExpeditionTimeRange(expedition.monitoringStartDate, expedition.monitoringEndDate)}}</small>
                                </td>
                                <td><i class="glyphicon glyphicon-map-marker gray"></i> {{expedition.station.name}}</td>
                                <td>
                                    {{expedition.team.name}}<br/>
                                    <span class="text-muted" ng-repeat="teamLead in expedition.team.teamLeads">
                                      {{expedition.teamLead.displayName}}{{$last ? '' : ', '}}</span><br/>
                                    <small>{{expedition.team.schoolOrg.name}}</small>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default" ui-sref="expeditions.data({ active: 'pubexpeditions' })" id="pubexpeditions">See all</a>
                        <a class="btn btn-default" ui-sref="expeditions.data({ active: 'compareexpeditions' })" id="compareexpeditions">Compare data</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4" ng-show="vm.isTeamLead && vm.team">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Team Members <span class="badge badge-success pull-right">{{vm.members.length}}</span></h4>
                            </div>
                            <div class="panel-body">
                                <p ng-repeat="member in vm.members">
                                  <a ng-click="vm.openViewUserModal(member)">
                                  <img ng-src="{{member.profileImageURL}}" class="header-profile-image"> {{member.displayName}}
                                </a></p>
                                <div class="alert" ng-show="vm.members.length === 0">No members yet! To start,
                                  <a ui-sref="profiles.team" ng-class="{ 'disabled': vm.isTeamLeadPending }"
                                  ng-disabled="vm.isTeamLeadPending" disable-link="vm.isTeamLeadPending">invite members to join</a>.
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-primary" ng-click="vm.openViewUserModal(null, 'formTeamMember')"
                                ng-class="{ 'disabled': vm.isTeamLeadPending }" ng-disabled="vm.isTeamLeadPending"
                                disable-link="vm.isTeamLeadPending">Add members</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default" ng-show="vm.isTeamLead && vm.team">
                            <div class="panel-heading">
                                <h4>Activity <span class="badge badge-success pull-right">{{vm.activitiesCount}}</span></h4>
                            </div>
                            <div class="panel-body">
                                <div class="alert alert-success">{{vm.activitiesCount}} members updated their protocols</div>
                                <div class="row" ng-repeat="activity in vm.activities">
                                    <div class="col-sm-2 col-xs-4">
                                        <img ng-src="{{activity.user.profileImageURL}}" class="header-profile-image">
                                    </div>
                                    <div class="col-sm-10 col-xs-8">
                                        <p>{{activity.user.displayName}} <small class="text-muted" am-time-ago="activity.created"></small><br />
                                        <span class="text-muted">{{activity.status}}</span>
                                        <a ui-sref="expeditions.protocols({ expeditionId: activity.expedition._id })"
                                        ng-class="{ 'disabled': vm.isTeamLeadPending }" ng-disabled="vm.isTeamLeadPending"
                                        disable-link="vm.isTeamLeadPending">{{vm.displaySubmittedProtocols(activity)}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="vm.isTeamLead || vm.isAdmin || vm.isTeamLeadPending" ng-class="{ 'col-lg-4': ((vm.isTeamLead || vm.isAdmin) && vm.team), 'col-lg-12': (!vm.team || (vm.isTeamLeadPending && vm.team)) }">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Documents</h4>
                            </div>
                            <div class="panel-body">
                                <p><a href="https://drive.google.com/drive/folders/0Bzf_STNcTtRmaW9XN1hlM09vRXc?usp=sharing" target="_blank"><i class="glyphicon glyphicon-folder-open pull-left"></i>&nbsp;&nbsp;Data Sheets</a></p>
                                <p><a href="https://drive.google.com/drive/folders/0Bzf_STNcTtRmM2VubzJaM1dWZEU?usp=sharing" target="_blank"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Manuals</a></p>
                                <p><a href="https://drive.google.com/folderview?id=0BwOkf1kzdWyncFR4SFRHMkJMZkU&usp=sharing" target="_blank"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Species ID</a></p>
                                <p><a href="https://drive.google.com/folderview?id=0Bzf_STNcTtRmbG1pMVpUM1lGUmM&usp=sharing" target="_blank"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Additional Resources</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default" ng-show="(vm.isTeamLead || vm.isAdmin)">
                    <div class="panel-heading">
                        <h4>My ORS</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <!--TODO: Change list to only show all ORS user has created, then all stations user has visited on an expedition (we're removing ORS owned by teams, ORS are now owned by team leads)-->

                            <tr ng-repeat="station in vm.stations" ng-click="vm.openViewRestorationStation(station)">
                                <td><h3>
                                  <i class="glyphicon glyphicon-map-marker green" ng-show="station.status === 'Active'"></i>
                                  <i class="glyphicon glyphicon-map-marker red" ng-show="station.status !== 'Active'"></i>
                                </h3></td>
                                <td><image ng-src="{{station.photo.path}}" class="img-thumbnail" ng-show="station.photo"></td>
                                <td>{{station.name}}<br/>
                                    <span class="small text-muted">{{station.bodyOfWater}}</span><br/>
                                    <span class="small text-muted" ng-show="station.teamLead">by {{station.teamLead.displayName}} from </span>
                                    <span class="small text-muted" ng-show="station.schoolOrg">{{station.schoolOrg.name}}</span>
                                </td>
                                <td class="text-right">
                                  <span class="label label-success" ng-show="station.status === 'Active'">Active</span>
                                  <span class="label label-danger" ng-show="station.status !== 'Active'">{{station.status}}</span>
                                </td>
                              </tr>
                        </table>
                        <div class="alert" ng-show="vm.stations.length === 0" ng-show="(vm.isTeamLead || vm.isTeamLeadPending)">
                            No ORS yet! Why don't you <a ng-click="vm.openFormRestorationStation()" id="register-first-ORS">register one</a>?
                        </div>
                    </div>
                    <div class="panel-footer">
                      <!-- <a class="btn btn-default" ui-sref="restoration-stations.list">See all</a> -->
                        <a class="btn btn-primary" ng-click="vm.openFormRestorationStation()" id="register-an-ORS"
                        ng-show="(vm.isTeamLead || vm.isTeamLeadPending)" ng-disabled="vm.isTeamLeadPending">Register an ORS</a>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="(vm.isTeamLead || vm.isTeamMember) && vm.team">
                    <div class="panel-heading">
                        <h4>My Expeditions</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <tr ng-repeat="expedition in vm.expeditions" ui-sref="expeditions.view({ expeditionId: expedition._id })">
                                <td>
                                    {{expedition.name}}<br/>
                                    <small class="text-muted">{{vm.getExpeditionDate(expedition.monitoringStartDate)}},
                                      {{vm.getExpeditionTimeRange(expedition.monitoringStartDate, expedition.monitoringEndDate)}}</small>
                                </td>
                                <td><i class="glyphicon glyphicon-map-marker gray"></i> {{expedition.station.name}}</td>
                                <td class="text-right">
                                    <!--<span class="label label-default" ng-show="vm.isUpcoming(expedition)">Coming up</span>-->
                                    <span class="label label-danger"ng-show="((((vm.checkStatusIncomplete(expedition) || vm.checkStatusReturned(expedition) || vm.checkStatusUnpublished(expedition)) &&
                                    vm.isTeamMember) || ((expedition.status === 'incomplete' || expedition.status === 'returned') && (vm.isTeamLead || vm.isAdmin))))">Protocols Incomplete</span><!--&& !vm.isUpcoming(expedition)-->
                                    <span class="label label-info" ng-show="vm.checkStatusPending(expedition) && vm.isTeamMember">Protocols Submitted</span>
                                    <span class="label label-info" ng-show="expedition.status === 'pending' && (vm.isTeamLead || vm.isAdmin) && !vm.isTeamMember">Protocols Need Review</span>
                                    <span class="label label-success" ng-show="expedition.status === 'published'">Expedition Published</span>
                                </td>
                            </tr>
                        </table>
                        <div class="alert" ng-show="vm.expeditions.length === 0 && (vm.isTeamLead || vm.isTeamLeadPending || vm.isAdmin)">
                            No expeditions yet! Why don't you <a ng-click="vm.createExpedition()"
                            ng-class="{ 'disabled': vm.isTeamLeadPending }" disable-link="vm.isTeamLeadPending">create one</a>?
                        </div>
                        <div class="alert" ng-show="vm.expeditions.length === 0 && vm.isTeamMember === true &&
                        vm.isAdmin === false && vm.isTeamLead === false">
                            No expeditions yet! As soon as your team lead assigns you to one, you'll see it here.
                        </div>
                    </div>
                    <div class="panel-footer">
                        <!-- TIFFANY: change link to My Expeditions tab of Expeditions list page -->
                        <a class="btn btn-default" ui-sref="expeditions.list" id="myexpeditions"
                        ng-class="{ 'disabled': vm.isTeamLeadPending }" ng-disabled="vm.isTeamLeadPending" disable-link="vm.isTeamLeadPending">See all</a>
                        <a class="btn btn-primary" ng-click="vm.createExpedition()" ng-show="vm.isTeamLead || vm.isTeamLeadPending || vm.isAdmin"
                         ng-class="{ 'disabled': vm.isTeamLeadPending }" ng-disabled="vm.isTeamLeadPending" disable-link="vm.isTeamLeadPending">
                          Create an expedition</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>






<!-- MODALS -->
<!-- <form-restoration-station-modal station="vm.station" mapPoints="vm.stationMapPoints"
save-function="vm.saveFormRestorationStation" remove-function="vm.removeFormRestorationStation"
cancel-function="vm.closeFormRestorationStation"></form-restoration-station-modal> -->
<view-restoration-station-popup station="vm.station" initial="vm.initial" close-function="vm.closeFormRestorationStation"></view-restoration-station-popup>
<view-user-modal user="vm.userToView" initial="vm.initialUser" team="vm.team" close-function="vm.closeViewUserModal"></view-user-modal>

<!--END MODALS-->
