<section class="content shaded">
    <section class="container-fluid">
        <div class="page-header">
            <div class="row">
                <h2 class="col-md-8">Restoration Stations</h2>
                <div class="col-md-4">
                    <div class="pull-right" ng-show="vm.teams.length > 1">
                      <a class="btn btn-lg btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{vm.team.name}} <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li ng-repeat="team in vm.teams"><a href="#" ng-click="vm.fieldChanged(team)">{{team.name}}</a></li>
                      </ul>
                    </div>
                    <div class="pull-right" ng-show="vm.teams.length === 1">
                      <span class="btn btn-lg btn-success">{{vm.team.name}}</span>
                    </div>
                    <p ng-show="vm.teams.length > 0">
                        <img ng-src="{{vm.team.teamLead.profileImageURL}}" class="header-profile-image pull-left">
                        <b>{{vm.team.teamLead.displayName}}</b><br />
                        <span class="text-muted">{{vm.team.schoolOrg.name}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Oyster Restoration Stations</h4>
                    </div>
                    <div class="panel-body">
                      <leaflet-map map-controls="vm.mapControls" map-click-event="vm.mapClick"
                      marker-drag-end-event="vm.markerDragEnd" can-move-marker="vm.canMoveMarker"
                      show-marker="vm.showMarker" can-click-map-to-add-marker="vm.canClickMapToAddMarker" add-points="vm.mapPoints"></leaflet-map>
                    </div>
                </div>
                <div class="row" ng-show="vm.isTeamLead || vm.isTeamLeadPending || vm.isAdmin">
                    <div class="col-lg-4">
                        <div class="panel panel-default" ng-show="vm.isTeamLead || vm.isAdmin">
                            <div class="panel-heading">
                                <h4>Team Members <span class="badge badge-success pull-right">{{vm.members.length}}</span></h4>
                            </div>
                            <div class="panel-body">
                                <p ng-repeat="member in vm.members"><img ng-src="{{member.profileImageURL}}" class="header-profile-image"> {{member.displayName}}</p>
                                <!-- TODO: Wire up alerts -->
                                <div class="alert" ng-show="vm.members.length === 0 && vm.isTeamLead">No members yet! To start, <a ui-sref="settings.admin-team-owner">invite members to join</a>.</div>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-primary" ui-sref="settings.admin-team-owner" ng-show="vm.isTeamLead">Add members</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" ng-show="vm.isTeamLead || vm.isAdmin">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Activity <span class="badge badge-success pull-right">{{vm.activities.length}}</span></h4>
                            </div>
                            <div class="panel-body">
                                <!-- TODO: Only show if there are activities for that team -->
                                <div class="alert alert-success">{{vm.activities.length}} members updated their protocols</div>
                                <div class="row" ng-repeat="activity in vm.activities">
                                    <div class="col-sm-2 col-xs-4">
                                        <img ng-src="{{activity.user.profileImageURL}}" class="header-profile-image">
                                    </div>
                                    <div class="col-sm-10 col-xs-8">
                                        <p>{{activity.user.displayName}} <small class="text-muted" am-time-ago="activity.created"></small><br />
                                        <span class="text-muted">{{activity.status}}</span>
                                        <a ui-sref="expeditions.protocols({ expeditionId: activity.expedition._id })">{{vm.displaySubmittedProtocols(activity)}}</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-primary" ui-sref="expeditions.submitted">View submissions</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" ng-show="vm.isTeamLead || vm.isTeamLeadPending || vm.isAdmin">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Documents</h4>
                            </div>
                            <div class="panel-body">
                                <p><a href="https://drive.google.com/folderview?id=0Bzf_STNcTtRmbG1pMVpUM1lGUmM&usp=sharing" target="_blank"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Resources & Curriculum</a></p>
                                <p><a href="https://drive.google.com/folderview?id=0Bzf_STNcTtRmU3dPVXNEaGdrRVE&usp=sharing" target="_blank"><i class="glyphicon glyphicon-folder-open pull-left"></i>&nbsp;&nbsp;Data Sheets</a></p>
                                <p><a href="https://drive.google.com/folderview?id=0Bzf_STNcTtRmRlNLTUFTbG5pWGs&usp=sharing" target="_blank"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Manuals</a></p>
                                <p><a href="https://drive.google.com/folderview?id=0BwOkf1kzdWyncFR4SFRHMkJMZkU&usp=sharing" target="_blank"><i class="glyphicon glyphicon-folder-open"></i>&nbsp;&nbsp;Species ID</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default" ng-show="vm.isTeamLead || vm.isAdmin">
                    <div class="panel-heading">
                        <h4>Team ORS</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <tr ng-repeat="station in vm.stations" ng-click="vm.canEditRestorationStation(station)">
                                <td><h3>
                                  <i class="glyphicon glyphicon-map-marker green" ng-show="station.status === 'Active'"></i>
                                  <i class="glyphicon glyphicon-map-marker red" ng-show="station.status === 'Lost'"></i>
                                </h3></td>
                                <td>{{station.name}}<br/><span class="small text-muted">{{station.latitude}}, {{station.longitude}}<br />
                                  {{station.bodyOfWater}}</span>
                                </td>
                                <td class="text-right">
                                  <span class="label label-success" ng-show="station.status === 'Active'">Active</span>
                                  <span class="label label-default" ng-show="station.status === 'Lost'">Lost</span>
                                </td>
                              </tr>
                        </table>
                        <!-- TODO: Wire up alerts -->
                        <div class="alert" ng-show="vm.stations.length === 0 && (vm.isTeamLead || vm.isAdmin)">
                            No team ORS yet! Why don't you <a ng-click="vm.openFormRestorationStation()">register one</a>?
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-primary" ng-click="vm.openFormRestorationStation()" ng-show="vm.isTeamLead || vm.isAdmin">Register a station</a>
                    </div>
                </div>
                <div class="panel panel-default" ng-show="vm.isTeamLead || vm.isTeamMember || vm.isAdmin">
                    <div class="panel-heading">
                        <h4>Team Expeditions</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-hover">
                            <tr class="text-muted" ng-repeat="expedition in vm.expeditions" ui-sref="{{vm.expeditionLink(expedition)}}">
                                <td>
                                    <i class="glyphicon glyphicon-unchecked" ng-show="vm.isUpcoming(expedition)"></i>
                                    <i class="glyphicon glyphicon-unchecked red" ng-show="((vm.checkStatusIncomplete(expedition) || vm.checkStatusReturned(expedition)) && vm.isTeamMember) ||
                                      ((expedition.status === 'incomplete' || expedition.status === 'returned') && (vm.isTeamLead || vm.isAdmin))"></i>
                                    <i class="glyphicon glyphicon-check red" ng-show="vm.checkStatusPending(expedition) && vm.isTeamMember"></i>
                                    <i class="glyphicon glyphicon-unchecked red" ng-show="expedition.status === 'pending' && (vm.isTeamLead || vm.isAdmin) && !vm.isTeamMember"></i>
                                    <i class="glyphicon glyphicon-check green" ng-show="expedition.status === 'published'"></i>
                                </td>
                                <td>
                                    <b>{{expedition.name}}</b><br/>
                                    <p class="text-muted">{{vm.getExpeditionDate(expedition)}}</br>{{vm.getExpeditionTimeRange(expedition)}}</p>
                                </td>
                                <td class="text-right">
                                    <span class="label label-default" ng-show="vm.isUpcoming(expedition)">Coming up</span>
                                    <span class="label label-danger"ng-show="((vm.checkStatusIncomplete(expedition) || vm.checkStatusReturned(expedition)) && vm.isTeamMember) ||
                                      ((expedition.status === 'incomplete' || expedition.status === 'returned') && (vm.isTeamLead || vm.isAdmin))">Incomplete</span>
                                    <span class="label label-danger" ng-show="vm.checkStatusPending(expedition) && vm.isTeamMember">Pending</span>
                                    <span class="label label-danger" ng-show="expedition.status === 'pending' && (vm.isTeamLead || vm.isAdmin) && !vm.isTeamMember">Submitted</span>
                                    <span class="label label-success" ng-show="expedition.status === 'published'">Published</span>
                                </td>
                            </tr>
                        </table>
                        <!-- TODO: Wire up alerts -->
                        <div class="alert" ng-show="vm.expeditions.length === 0 && vm.isTeamLead && !vm.isAdmin">
                            No team expeditions yet! Why don't you <a ui-sref="expeditions.create">create one</a>?
                        </div>
                        <div class="alert" ng-show="vm.expeditions.length === 0 && vm.isTeamMember && !vm.isAdmin && !vm.isTeamLead">
                            No expeditions yet! As soon as your team lead assigns you to one, you'll see it here.
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default" ui-sref="expeditions.list">See all</a>
                        <a class="btn btn-primary" ui-sref="expeditions.create" ng-show="vm.isTeamLead">Create an expedition</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>






<!-- MODALS -->
<form-restoration-station-modal station="vm.station" teams="vm.teams" save-function="vm.saveFormRestorationStation"
remove-function="vm.removeFormRestorationStation" cancel-function="vm.cancelFormRestorationStation"></form-restoration-station-modal>
<!--END MODALS-->
