<div class="row">
  <div class="col-sm-12" ng-show="photoUrl">
    <image ng-src="{{photoUrl}}" class="img-thumbnail" width="100%">
  </div>
  <div class="col-sm-12">
    <h4 class="blue">{{name}}</h4>
    <span class="label label-success" ng-show="station.status === 'Active'">Active</span>
    <span class="label label-danger" ng-show="station.status === 'Lost'">Lost</span>
    <h5>{{bodyOfWater}}</h5>
    <p class="text-muted">
      <span ng-show="teamLead">by <b>{{teamLead}}</b> from </span>
      <span ng-show="schoolOrg">{{schoolOrg}}</span>
    </p>
  </div>
</div>
