<div>
  <image ng-show="photoUrl" ng-src="{{photoUrl}}" class="img-thumbnail" width="100%">
  
  <!--TODO: Wire up labels:-->
  <span class="label label-success" ng-show="vm.station.status === 'Active'">Active</span>
  <span class="label label-danger" ng-show="vm.station.status === 'Lost'">Lost</span>
  
  <h4 class="blue">{{name}}</h4>
  <p>
    {{bodyOfWater}}<br/>
    <span class="text-muted" ng-show="teamLead">by {{teamLead}} from </span>
    <span class="text-muted" ng-show="schoolOrg">{{schoolOrg}}</span>
  </p>
  
  <!--TODO: Edit link to open modal NOT inside of the map marker-->
  <a class="btn btn-block btn-default" data-toggle="modal" data-target="#modal-station">See more</a>
</div>
