<div class="modal fade" id="modal-station-register" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form name="form.restorationStationForm" ng-submit="save(form.restorationStationForm.$valid)" novalidate>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" ng-hide="station._id">Register an ORS</h4>
          <h4 class="modal-title" ng-show="station._id">Update the <span class="red">{{station.title}}</span> ORS</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="required" for="name">ORS Name *</label>
                        <input type="text" class="form-control" ng-model="station.name" name="name" id="name" required/>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="required" for="status">Station Status *</label>
                        <select class="form-control" ng-model="station.status" name="status" id="status" required>
                            <option value="Active">Active</option>
                            <option value="Lost">Lost</option>
                        </select>
                        <!--TIFFANY: wire up Support/Feedback link to open Support modal (add a dropdown support type of "ORS damaged or lost"?)
                        <span class="help-block">Note: if your ORS is damaged or lost, please <a href="#" ng-click="openFeedback()">send us an alert immediately</a></span>-->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="required" for="bodyOfWater">Body of Water *</label>
                        <!-- <input type="text" class="form-control" ng-model="station.bodyOfWater" required/> -->
                        <input type="text" ng-model="station.bodyOfWater" placeholder="Body of Water"
                        uib-typeahead="bodyOfWater.name as bodyOfWater.name for bodyOfWater in bodiesOfWater | filter:{name:$viewValue}"
                        class="form-control" typeahead-show-hint="true" typeahead-min-length="0"
                        typeahead-select-on-exact="true" name="bodyOfWater" id="bodyOfWater" required>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="required" for="boroughCounty">Borough/County *</label>
                        <!-- <input type="text" class="form-control" ng-model="station.boroughCounty" required/> -->
                        <input type="text" ng-model="station.boroughCounty" placeholder="Borough/County"
                        uib-typeahead="boroughCounty.name as boroughCounty.name for boroughCounty in boroughsCounties | filter:{name:$viewValue}"
                        class="form-control" typeahead-show-hint="true" typeahead-min-length="0"
                        typeahead-select-on-exact="true" name="boroughCounty" id="boroughCounty" required>
                    </div>
                </div>
                <google-geocode ng-if="canGeocode" place-selected="placeSelected"></google-geocode>
                <leaflet-map map-controls="mapControls" can-click-map-to-add-marker="canClickMapToAddMarker"
                map-click-event="mapClick" marker-drag-end-event="markerDragEnd"
                can-move-marker="canMoveMarker" show-marker="showMarker"
                add-points="mapPoints"></leaflet-map>
                <br />
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label class="required" for="latitude">Latitude *</label>
                        <input type="text" class="form-control" placeholder="39.290385"
                        ng-model="station.latitude" name="latitude" id="latitude" readonly required/>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="required" for="longitude">Longitude *</label>
                        <input type="text" class="form-control" placeholder="-76.612189"
                        ng-model="station.longitude" name="longitude" id="longitude" readonly required/>
                    </div>
                </div>
                <div class="row">
                  <div class="form-group col-sm-12">
                    <label for="image" class="control-label">Take a photograph of the station from the shore with your camera</label>
                    <single-image-drop-zone uploader="stationPhotoUploader" image-url="stationPhotoURL"
                    image-alt="Station Photograph" id="ors-image-dropzone"></single-image-drop-zone>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-show="station._id" ng-click="remove()">Delete</button>
          <button type="button" class="btn btn-default" ng-click="cancelFunction()" ng-disabled="disableCancel">Cancel</button>
          <button type="submit" class="btn btn-primary">{{station._id ? 'Update' : 'Register'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
