<section class="content">
  <leaflet-map map-controls="vm.mapControls" map-click-event="vm.mapClick"
  marker-drag-end-event="vm.markerDragEnd" can-move-marker="vm.canMoveMarker"
  show-marker="vm.showMarker" can-click-map-to-add-marker="vm.canClickMapToAddMarker"
  add-points="vm.mapPoints"></leaflet-map>
</section>
<section class="content">
    <section class="container">
        <a class="btn btn-primary pull-right" ng-click="vm.openFormRestorationStation()">Register a station</a>
        <h2>Stations</h2>
        <table class="table">
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker green"></i></h3></td>
                <td><h4>NY Harbor 19</h4><br/><span class="text-muted">East River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-success">Active</span></td>
            </tr>
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker red"></i></h3></td>
                <td>Eastern Shore 525<br/><span class="text-muted">West River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-default">Lost</span></td>
            </tr>
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker green"></i></h3></td>
                <td>Baltimore Harbor 64<br/><span class="text-muted">North River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-success">Active</span></td>
            </tr>
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker green"></i></h3></td>
                <td><h4>NY Harbor 19</h4><br/><span class="text-muted">East River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-success">Active</span></td>
            </tr>
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker red"></i></h3></td>
                <td>Eastern Shore 525<br/><span class="text-muted">West River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-default">Lost</span></td>
            </tr>
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker green"></i></h3></td>
                <td>Baltimore Harbor 64<br/><span class="text-muted">North River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-success">Active</span></td>
            </tr>
        </table>
    </section>
</section>
