<section class="content">
    <img src="https://www.google.com/maps/vt/data=RfCSdfNZ0LFPrHSm0ublXdzhdrDFhtmHhN1u-gM,GtRFbUGq-rIYPEWbVKQMOsWLP66nINEZFiKRAQWuJqJ_oX27lup9OV0aoCavFivvdIhdlMyZ-2Z1VF-NmId_ceQgGI_Q8-ybngfTChgFAQ" width="100%" />
</section>
<section class="content">
    <section class="container">
        <a class="btn btn-primary pull-right">Register a station</a>
        <h2>Stations</h2>
        <table class="table">
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker green"></i></h3></td>
                <td><h4>NY Harbor 19</h4><br/><span class="text-muted">East River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-success">Active</span></td>
            </tr>
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker red"></i></h3></td>
                <td>Eastern Shore 525<br/><span class="text-muted">West River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-default">Lost</span></td>
            </tr>
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker green"></i></h3></td>
                <td>Baltimore Harbor 64<br/><span class="text-muted">North River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-success">Active</span></td>
            </tr>
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker green"></i></h3></td>
                <td><h4>NY Harbor 19</h4><br/><span class="text-muted">East River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-success">Active</span></td>
            </tr>
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker red"></i></h3></td>
                <td>Eastern Shore 525<br/><span class="text-muted">West River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-default">Lost</span></td>
            </tr>
            <tr>
                <td><h3><i class="glyphicon glyphicon-map-marker green"></i></h3></td>
                <td>Baltimore Harbor 64<br/><span class="text-muted">North River</span></td>
                <td>40.704039, -74.0035392</td>
                <td class="text-right"><span class="label label-success">Active</span></td>
            </tr>
        </table>
    </section>
</section>
