<section class="content shaded">
  <section class="container">
    <form name="vm.form.researchForm" ng-submit="vm.save(vm.form.researchForm.$valid)" novalidate>
      <fieldset>
        <div class="container-fluid">
          <div class="page-header">
            <div class="pull-right">
                <!-- Show saving when saving -->
                <h6 class="navbar-text green" ng-show="vm.saving">
                  <i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Saving</h6>

                <!-- Show status -->
                <h6 class="navbar-text" ng-show="vm.research.status === 'draft'">Draft</h6>
                <h6 class="navbar-text blue" ng-show="vm.research.status === 'pending'">Awaiting Approval</h6>
                <h6 class="navbar-text red" ng-show="vm.research.status === 'returned'">Returned</h6>
                <h6 class="navbar-text" ng-show="vm.research.status === 'published'">Published</h6>
            </div>
            <h1>{{vm.research._id ? 'Edit poster' : 'Create a new poster'}}</h1>
          </div>

          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <label>Layout *</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 
                        <img class="img-thumbnail" alt="Layout 1" src="modules/core/client/img/icons/poster-layout1.png" />
                        Layout 1
                      </label>
                    </div>
                    <div class="col-sm-6">
                      <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <img class="img-thumbnail" alt="Layout 2" src="modules/core/client/img/icons/poster-layout2.png" />
                        Layout 2
                      </label>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group" show-errors>
                    <label for="researchTitle" class="control-label required">Title *</label>
                    <input class="form-control" name="researchTitle" id="researchTitle" ng-model="vm.researchForm.title"
                    required/>
                    <div ng-messages="vm.form.researchForm.researchFormTitle.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Title is required.</p>
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label for="color" class="control-label required">Color *</label>
                    <input colorpicker colorpicker-size="200" type="text" class="form-control"
                    placeholder="#426ca9" name="color" id="color" ng-model="vm.unit.color" required />
                    <div ng-messages="vm.form.unitForm.color.$error" role="alrt">
                        <p class="help-block error-text" ng-message="required">Color is required.</p>
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label for="font" class="control-label required">Font *</label>
                    <select class="form-control" required>
                      <option></option>
                      <!--Use Example 5 from here: http://bootstrapformhelpers.com/googlefont/ -->
                    </select>
                    <div ng-messages="vm.form.unitForm.color.$error" role="alrt">
                        <p class="help-block error-text" ng-message="required">Color is required.</p>
                    </div>
                  </div>
                </div>
              
              </div>
            </div>
          </div>

          <!-- Abstract -->
          <h4>Abstract</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="abstract" in-title=""
                ng-model="vm.research.abstract" label-class="control-label"></wysiwyg-editor>
              </div>
            </div>
          </div>

          <!-- Intro -->
          <h4>Intro</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="intro" in-title=""
                ng-model="vm.research.intro" label-class="control-label"></wysiwyg-editor>
              </div>
            </div>
          </div>

          <!-- Methods -->
          <h4>Methods</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="methods" in-title=""
                ng-model="vm.research.methods" label-class="control-label"></wysiwyg-editor>
              </div>
            </div>
          </div>

          <!-- Results -->
          <h4>Results</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="results" in-title=""
                ng-model="vm.research.results" label-class="control-label"></wysiwyg-editor>
              </div>
            </div>
          </div>

          <!-- Discussion -->
          <h4>Discussion</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="discussion" in-title=""
                ng-model="vm.research.discussion" label-class="control-label"></wysiwyg-editor>
              </div>
            </div>
          </div>

          <!-- Conclusion -->
          <h4>Conclusion</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="conclusion" in-title=""
                ng-model="vm.research.conclusion" label-class="control-label"></wysiwyg-editor>
              </div>
            </div>
          </div>
          
          <div class="alert alert-danger" ng-show="(vm.form.researchForm.$dirty || vm.form.researchForm.$submitted) &&
          vm.form.researchForm.$invalid && (vm.form.researchForm.$error || vm.error.length > 0)">
            <h4>Sorry, you can't submit just yet!</h4>
            <ul class="list-unstyled" ng-repeat="(key, errors) in vm.form.researchForm.$error track by $index">
                <li ng-repeat="e in errors"><i class="glyphicon glyphicon-remove-sign"></i> <b>{{ e.$name }}</b> is {{ key }}</li>
            </ul>
            <ul class="list-unstyled">
              <li ng-repeat="e in vm.error"><i class="glyphicon glyphicon-remove-sign"></i> {{ e }}</li>
            </ul>
          </div>
          <div>
            <h6 class="navbar-text green" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Saving</h6>
            <a class="btn btn-danger" ng-click="vm.cancel()">Cancel</a>
            <a class="btn btn-default" ng-click="vm.saveDraft(vm.form.researchForm.$valid)">Save draft</a>
            <a class="btn btn-default">Preview</a>
            <button class="btn btn-primary" type="submit" ng-disabled="!vm.form.researchForm.$valid">
              {{vm.research._id ? 'Update poster' : 'Publish poster'}}</button><!-- ng-disabled="!vm.form.lessonForm.$valid" -->

            <a type="button" class="btn btn-danger pull-right" ng-show="vm.research._id" ng-click="vm.openDeleteResearch()">Delete</a>
          </div>
        </div>
      </fieldset>
    </form>
  </section>
</section>
