<div class="modal fade" id="modal-accept-research" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form name="form.publishResearchForm" ng-submit="publish(form.publishResearchForm.$valid)" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure you want to accept <span class="red">{{research.title}}</span>?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>The poster will automatically be published to Research and the author will be notified.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <!--TODO: Wire up button -->
                <button type="submit" class="btn btn-success">Accept</button>
            </div>
          </form>
        </div>
    </div>
</div>
