<div class="modal fade" id="modal-saved-poster" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" ng-show="isTeamMember === 'true'">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Your poster has been submitted to your {{(teamLeads.length > 1) ? 'team leads' : 'team lead'}}
                  <span class="red">{{teamLeads.join(', ')}}</span> for approval!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>If accepted, the poster will be automatically published in Research. We'll let you know once your team lead
                          either accepts or rejects it. Until then, you won't be able to edit it.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <div class="modal-content" ng-hide="isTeamMember === 'true'">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Your poster has been published!</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>If you would like to edit it, you will have to unpublish first.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
