<div class="jumbotron text-center">
  <section class="content">
    <section class="container-fluid">
      <h2>My Collection</h2>
    </section>
  </section>
</div>
<section class="content">
  <section class="container-fluid">
    <div>
      <a class="btn btn-default pull-right" ui-sref="researches.create">
        <i class="glyphicon glyphicon-plus"></i> Create new poster
      </a>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{active: vm.createdResearches.length > 0}"><a href="#created" aria-controls="grid" role="tab" data-toggle="tab" ng-click="vm.switchTab('created')">Created Posters</a></li>
        <li role="presentation" view-permissions="admin"><a href="#submitted" aria-controls="grid" role="tab" data-toggle="tab" ng-click="vm.switchTab('submitted')">Submitted Posters</a></li>
      </ul>
      <div class="tab-content">
        <br />
        <div role="tabpanel" class="tab-pane" id="created" ng-class="{active: vm.createdResearches.length > 0}">
          <!--<created-researches ng-show="vm.active === 'created' || !vm.active"></created-researches>-->
        </div>
        <div role="tabpanel" class="tab-pane" id="submitted" view-permissions="admin">
          <!--<submitted-researches ng-show="vm.active === 'submitted'"></submitted-researches>-->
        </div>
      </div>
    </div>
  </section>
</section>
