<section>
    <section class="content shaded content-unpadded content-fixed">
        <section class="container-fluid">
            <div class="row">
                <nav class="navbar">
                    <h6 class="navbar-text blue">{{vm.research.title}}
                        <span ng-show="vm.user">
                          <a ng-click="vm.favoriteResearch()" ng-hide="vm.research.saved">
                            <i class="fa fa-heart-o"></i>
                          </a>
                          <a ng-click="vm.unfavoriteResearch()" ng-show="vm.research.saved">
                            <i class="fa fa-heart red"></i>
                          </a>
                        </span>
                    </h6>
                    <a ng-click="vm.openViewUserModal()" ng-show="vm.user">
                      <h6 class="navbar-text"><i class="glyphicon glyphicon-user"></i> {{vm.research.user.displayName}}</h6>
                    </a>
                    <h6 class="navbar-text" ng-hide="vm.user"><i class="glyphicon glyphicon-user"></i> {{vm.research.user.displayName}}</h6>
                    <h6 class="navbar-text">{{vm.getDate(vm.research.created)}}</h6>
                    <div class="pull-right">
                        <h6 class="navbar-text" ng-show="(vm.research.isCurrentUserOwner || vm.research.isCurrentUserTeamLead || vm.research.isCurrentUserTeammate) &&
                          vm.research.status === 'published'">Published</h6>
                        <h6 class="navbar-text" ng-show="vm.research.status === 'draft'">Draft</h6>
                        <h6 class="navbar-text" ng-show="vm.research.status === 'pending'">Pending</h6>
                        <h6 class="navbar-text" ng-show="vm.research.status === 'returned'">Returned</h6>

                        <a class="btn btn-primary" ui-sref="researches.edit({ researchId: vm.research._id })"
                          ng-show="vm.research.isCurrentUserOwner && vm.research._id && vm.research.status !== 'pending'">
                          {{(vm.research.status === 'published') ? 'Unpublish and edit' : 'Edit'}}</a>
                        <a class="btn btn-default" ng-click="vm.openResearchFeedbackView()" ng-show="vm.feedback.feedbackCount > 0 && vm.user">View Feedback &nbsp;&nbsp;<span class="badge">{{vm.feedback.feedbackCount}}</span></a>
                        <a class="btn btn-default" ng-click="vm.openResearchFeedbackModal()" ng-hide="vm.research.isCurrentUserOwner || !vm.user">Give Feedback</a>
                        <a class="btn btn-default" ng-click="vm.downloadResearch()" ng-show="vm.user">Download</a> 

                        <a href="#" class="btn btn-default" socialshare socialshare-provider="facebook"
                          ng-show="vm.research.status === 'published' && vm.user"
                          socialshare-type="feed"
                          socialshare-via="{{vm.facebookAppId}}"
                          socialshare-title="{{vm.subject}}"
                          socialshare-description="{{vm.message}}"
                          socialshare-hashtags="{{vm.hashtags}}"
                          socialshare-media="{{vm.downloadImageURL}}"
                          socialshare-url="{{vm.url}}"
                          ng-click="vm.share('facebook')">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" class="btn btn-default" socialshare socialshare-provider="twitter"
                          ng-show="vm.research.status === 'published' && vm.user"
                          socialshare-text="{{vm.text}}"
                          socialshare-hashtags="{{vm.hashtags}}"
                          socialshare-url="{{vm.url}}"
                          ng-click="vm.share('twitter')">
                          <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="btn btn-default" socialshare socialshare-provider="tumblr"
                          ng-show="vm.research.status === 'published' && vm.user"
                          socialshare-text="{{vm.text}}"
                          socialshare-media="{{vm.downloadImageURL}}"
                          socialshare-url="{{vm.url}}"
                          ng-click="vm.share('tumblr')">
                          <i class="fa fa-tumblr"></i>
                        </a>
                        <a href="#" class="btn btn-default" socialshare socialshare-provider="pinterest"
                          ng-show="vm.research.status === 'published' && vm.user"
                          socialshare-text="{{vm.text}}"
                          socialshare-media="{{vm.downloadImageURL}}"
                          socialshare-url="{{vm.url}}"
                          ng-click="vm.share('pinterest')">
                          <i class="fa fa-pinterest"></i>
                        </a>
                        <a href="#" class="btn btn-default" ng-click="vm.openEmailShare()"
                          ng-show="vm.research.status === 'published' && vm.user">
                          <i class="fa fa-envelope"></i>
                        </a>

                        <!-- <a href="#" class="btn btn-default" socialshare socialshare-provider="sms"
                          ng-show="vm.research.status === 'published' && vm.user"
                          socialshare-text="Check out my poster at the Billion Oyster Project"
                          socialshare-to="678-999-7657"
                          socialshare-url="{{vm.url}}">
                          <i class="fa fa-mobile"></i>
                        </a> -->
                    </div>
                </nav>
            </div>
        </section>
    </section>
    <div class="content">
        <section class="container">
            <view-research-poster research="vm.research" header-image="vm.headerImageURL" created="{{vm.getDate(vm.research.created)}}"></view-research-poster>
        </section>
    </div>
</section>

<!-- MODALS -->
<research-feedback-modal research="vm.research" close-function="vm.closeResearchFeedbackModal"></research-feedback-modal>
<research-feedback-view-modal research="vm.research" close-function="vm.closeResearchFeedbackView"></research-feedback-view-modal>
<view-user-modal user="vm.research.user" close-function="vm.closeViewUserModal"></view-user-modal>
<share-email share-subject="{{vm.subject}}" share-message="{{vm.message}}" share-link="{{vm.url}}"
  modal-header="Share this research poster" close-function="vm.closeEmailShare"></share-email>
