<section class="content shaded">
  <section class="container">
    <form name="vm.form.lessonForm" ng-submit="vm.save(vm.form.lessonForm.$valid, false)" novalidate>
      <fieldset>
        <div class="container-fluid">
          <div class="page-header">
            <div class="pull-right">
                <h6 class="navbar-text green" ng-show="vm.saving">
                  <i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Saving</h6>
                <h6 class="navbar-text" ng-show="vm.lesson.status === 'draft'">Draft</h6>
                <h6 class="navbar-text blue" ng-show="vm.lesson.status === 'pending'">Awaiting Approval</h6>
                <h6 class="navbar-text red" ng-show="vm.lesson.status === 'returned'">Returned</h6>
                <h6 class="navbar-text" ng-show="vm.lesson.status === 'published'">Published</h6>
            </div>
            <h1 id="lesson-header">{{vm.lesson._id ? 'Edit lesson' : 'Create new lesson'}}</h1>
          </div>
          <div class="alert alert-info"><b>Note:</b> This form does NOT save automatically, so please click the Save Draft button frequently (located at the bottom of the page).</div>

          <!-- Lesson -->
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group" show-errors>
                    <label for="lessonTitle" class="control-label required">Lesson Title *</label>
                    <input class="form-control" name="lessonTitle" id="lessonTitle" ng-model="vm.lesson.title" 
                    required/>
                    <div ng-messages="vm.form.lessonForm.lessonTitle.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Lesson title is required.</p>
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label for="units" class="control-label">Unit(s) *</label>
                    <select class="form-control" name="units" id="units" ng-model="vm.lesson.units"
                    ng-options="unit as unit.title for unit in vm.units track by unit._id" multiple="true" required></select>
                    <span class="help-block">To select multiple units, press and hold the Ctrl key (Windows) or Command key (Mac).</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group" show-errors>
                    <label for="lesson-featured-image" class="control-label">Featured Image</label>
                    <single-image-drop-zone uploader="vm.featuredImageUploader" image-url="vm.featuredImageURL"
                    image-alt="Featured Image" id="lesson-featured-image" name="lesson-featured-image"></single-image-drop-zone>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Lesson Overview -->
          <h4>Lesson Overview</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group" show-errors>
                        <label for="grade" class="control-label">Grade</label>
                        <select class="form-control" name="grade" id="grade" ng-model="vm.lesson.lessonOverview.grade">
                          <!-- These will probably change, haven't gotten customer feedback on what options should be available -->
                          <option>Elementary</option>
                          <option>6-8th</option>
                          <option>6th</option>
                          <option>7th</option>
                          <option>8th</option>
                          <option>9th-12th</option>
                          <option>9th</option>
                          <option>10th</option>
                          <option>11th</option>
                          <option>12th</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" show-errors>
                        <label for="classPeriods" class="control-label">Class Periods</label>
                        <input class="form-control" name="classPeriods" id="classPeriods" ng-model="vm.lesson.lessonOverview.classPeriods"/>
                        <!-- <select class="form-control" name="classPeriods" id="classPeriods" ng-model="vm.lesson.lessonOverview.classPeriods">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                        </select> -->
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" show-errors>
                        <label for="settings" class="control-label">Setting</label>
                        <select class="form-control" name="settings" id="settings" ng-model="vm.lesson.lessonOverview.setting">
                          <option>Classroom</option>
                          <option>Field</option>
                          <option>Classroom & Field</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <!-- <div class="form-group" show-errors>
                    <label for="subjectAreas" class="control-label">Subject Area(s)</label>
                    <div aa-select2="vm.subjectAreasSelectConfig" name="subjectAreas" id="subjectAreas" ng-model="vm.lesson.lessonOverview.subjectAreas"
                    class="form-control"></div>
                  </div> -->
                  <select-tags outer-column="col-md-12" name="subjectAreas" id="subjectAreas"
                  in-title="Subject Area(s)" ng-model="vm.lesson.lessonOverview.subjectAreas"
                  label-class="control-label" select-config="vm.subjectAreasSelectConfig"></select-tags>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-12">
                    <wysiwyg-editor name="lessonSummary"
                    in-title="Summary" ng-model="vm.lesson.lessonOverview.lessonSummary" label-class="control-label"></wysiwyg-editor>
                </div>
                <div class="form-group col-sm-12">
                    <wysiwyg-editor name="lessonObjectives"
                    in-title="Objectives" ng-model="vm.lesson.lessonObjectives" label-class="control-label"></wysiwyg-editor>
                </div>
              </div>
            </div>
          </div>

          <!-- Materials & Resources -->
          <h4>Materials & Resources</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="control-label">Supplies</label>
                    <span class="help-block"><i class="fa fa-info-circle"></i> Bulleted list of physical materials needed to execute the lesson.</span>
                    <wysiwyg-editor name="supplies" ng-model="vm.lesson.materialsResources.supplies"></wysiwyg-editor>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <resource-upload-with-view id="handout-files" index="1" modal-title-text="Add a handout" resource-files-uploader="vm.handoutFilesUploader"
                  resource-files="vm.resources.handoutFiles" resource-links="vm.resources.handoutLinks" resource-dropzone-id="handout-file-dropzone"
                  control-label-text="Handouts" help-block-text="Documents designed to be printed and distributed to students during the lesson."
                  add-button-text="Add Handout"></resource-upload-with-view>

									<hr/>

                  <resource-upload-with-view id="lesson-materials" index="2" modal-title-text="Add a lesson material" resource-files-uploader="vm.lessonMaterialFilesUploader"
                  resource-files="vm.resources.materialFiles" resource-links="vm.resources.materialLinks" resource-dropzone-id="lesson-material-file-dropzone"
                  control-label-text="Materials" help-block-text="Shared class resources, such as PowerPoints or websites, that the teacher must use to execute the lesson."
                  add-button-text="Add Material"></resource-upload-with-view>
                </div>
                <div class="col-md-6">
                  <resource-upload-with-view id="lesson-resources" index="3" modal-title-text="Add a teacher resource" resource-files-uploader="vm.teacherResourceFilesUploader"
                  resource-files="vm.resources.resourceFiles" resource-links="vm.resources.resourceLinks" resource-dropzone-id="lesson-resources-file-dropzone"
                  control-label-text="Teacher Resources" help-block-text="Optional background reading, like articles or websites, that can help inform the teacher before teaching the lesson."
                  add-button-text="Add Resource"></resource-upload-with-view>

                  <hr/>

                  <resource-upload-with-view id="state-test-questions" index="4" modal-title-text="Add state test questions" resource-files-uploader="vm.stateTestQuestionsFilesUploader"
                  resource-files="vm.resources.stateTestQuestionsFiles" resource-links="vm.resources.stateTestQuestionLinks" resource-dropzone-id="state-test-questions-file-dropzone"
                  control-label-text="State Test Questions" help-block-text="State test questions that connect to this lesson."
                  add-button-text="Add Questions"></resource-upload-with-view>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group" id="vocabulary">
                    <label for="vocabulary" class="control-label">Vocabulary</label>
                    <div class="input-group">
                      <div aa-select2="vm.vocabularySelectConfig" name="vocabulary-select" id="vocabulary-select"
                      ng-model="vm.lesson.materialsResources.vocabulary" class="form-control col-md-10"></div>
                      <div class="input-group-btn">
                        <a class="btn btn-default" type="button" title="Add term" ng-click="vm.openAdd()"><i class="glyphicon glyphicon-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <!-- <select-tags outer-column="col-md-12" name="vocabulary" id="vocabulary"
                  in-title="Vocabulary" ng-model="vm.lesson.materialsResources.vocabulary"
                  label-class="control-label" select-config="vm.vocabularySelectConfig"></select-tags> -->
                </div>
              </div>
            </div>
          </div>

          <!-- Before you get started -->
          <h4>Before you get started</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="form-group">
                <wysiwyg-editor name="teacherTips"
                in-title="Tips for Teachers" ng-model="vm.lesson.materialsResources.teacherTips" label-class="control-label"></wysiwyg-editor>
              </div>
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="preparation" in-title="Preparation"
                ng-model="vm.lesson.preparation" label-class="control-label"></wysiwyg-editor>
              </div>
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="background" in-title="Background"
                ng-model="vm.lesson.background" label-class="control-label"></wysiwyg-editor>
              </div>
            </div>
          </div>

          <!-- Instruction Plan -->
          <h4>Instruction Plan</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active">
                      <a href="#engage" data-toggle="tab" aria-controls="engage" role="tab">Engage</a>
                    </li>
                    <li role="presentation">
                      <a href="#explore" data-toggle="tab" aria-controls="explore" role="tab">Explore</a>
                    </li>
                    <li role="presentation">
                      <a href="#explain" data-toggle="tab" aria-controls="explain" role="tab">Explain</a>
                    </li>
                    <li role="presentation">
                      <a href="#elaborate" data-toggle="tab" aria-controls="elaborate" role="tab">Elaborate</a>
                    </li>
                    <li role="presentation">
                      <a href="#evaluate" data-toggle="tab" aria-controls="evaluate" role="tab">Evaluate</a>
                    </li>
                    <li role="presentation">
                      <a href="#extend" data-toggle="tab" aria-controls="extend" role="tab">Extend</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="engage">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="engage" ng-model="vm.lesson.instructionPlan.engage" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="explore">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="explore" ng-model="vm.lesson.instructionPlan.explore" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="explain">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="explain" ng-model="vm.lesson.instructionPlan.explain" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="elaborate">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="elaborate" ng-model="vm.lesson.instructionPlan.elaborate" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="evaluate">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="evaluate" ng-model="vm.lesson.instructionPlan.evaluate" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="extend">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="extend" ng-model="vm.lesson.instructionPlan.extend" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Standards -->
          <h4>Standards</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <select-tags outer-column="col-md-12" name="nycsssUnits" id="nycsssUnits"
                in-title="NYC Science Scope &amp; Sequence - Units" ng-model="vm.lesson.standards.nycsssUnits"
                label-class="control-label" select-config="vm.nycsssUnitsSelectConfig"></select-tags>
              </div>
              <div class="row">
                <select-tags outer-column="col-md-12" name="nysssKeyIdeas" id="nysssKeyIdeas"
                in-title="NYS Science Standards - Key Ideas" ng-model="vm.lesson.standards.nysssKeyIdeas"
                label-class="control-label" select-config="vm.nysssKeyIdeasSelectConfig"></select-tags>
              </div>
              <div class="row">
                <select-tags outer-column="col-md-12" name="nysssMajorUnderstandings" id="nysssMajorUnderstandings"
                in-title="NYS Science Standards - Major Understandings" ng-model="vm.lesson.standards.nysssMajorUnderstandings"
                label-class="control-label" select-config="vm.nysssMajorUnderstandingsSelectConfig"></select-tags>
              </div>
              <div class="row">
                <select-tags outer-column="col-md-12" name="nysssMst" id="nysssMst"
                in-title="NYS Science Standards - MST" ng-model="vm.lesson.standards.nysssMst"
                label-class="control-label" select-config="vm.nysssMstSelectConfig"></select-tags>
              </div>
              <div class="row">
                <select-tags outer-column="col-md-12" name="ngssDisciplinaryCoreIdeas" id="ngssDisciplinaryCoreIdeas"
                in-title="NGSS - Disciplinary Core Ideas" ng-model="vm.lesson.standards.ngssDisciplinaryCoreIdeas"
                label-class="control-label" select-config="vm.ngssDisciplinaryCoreIdeasSelectConfig"></select-tags>
              </div>
              <div class="row">
                <select-tags outer-column="col-md-12" name="ngssScienceEngineeringPractices" id="ngssScienceEngineeringPractices"
                in-title="NGSS - Science and Engineering Practices" ng-model="vm.lesson.standards.ngssScienceEngineeringPractices"
                label-class="control-label" select-config="vm.ngssScienceEngineeringPracticesSelectConfig"></select-tags>
              </div>
              <div class="row">
                <select-tags outer-column="col-md-12" name="ngssCrossCuttingConcepts" id="ngssCrossCuttingConcepts"
                in-title="NGSS - Cross-Cutting Concepts" ng-model="vm.lesson.standards.ngssCrossCuttingConcepts"
                label-class="control-label" select-config="vm.ngssCrossCuttingConceptsSelectConfig"></select-tags>
              </div>
              <div class="row">
                <select-tags outer-column="col-md-12" name="cclsMathematics" id="cclsMathematics"
                in-title="CCLS - Mathematics" ng-model="vm.lesson.standards.cclsMathematics"
                label-class="control-label" select-config="vm.cclsMathematicsSelectConfig"></select-tags>
              </div>
              <div class="row">
                <select-tags outer-column="col-md-12" name="cclsElaScienceTechnicalSubjects" id="cclsElaScienceTechnicalSubjects"
                in-title="CCLS - ELA Science & Technical Subjects" ng-model="vm.lesson.standards.cclsElaScienceTechnicalSubjects"
                label-class="control-label" select-config="vm.cclsElaScienceTechnicalSubjectsSelectConfig"></select-tags>
              </div>
            </div>
          </div>
          <div class="alert alert-danger" ng-show="(vm.form.lessonForm.$dirty || vm.form.lessonForm.$submitted) &&
          vm.form.lessonForm.$invalid && (vm.form.lessonForm.$error || vm.error.length > 0)">
            <h4>Sorry, you can't submit just yet!</h4>
            <ul class="list-unstyled" ng-repeat="(key, errors) in vm.form.lessonForm.$error track by $index">
                <li ng-repeat="e in errors"><i class="glyphicon glyphicon-remove-sign"></i> <b>{{ e.$name }}</b> is {{ key }}</li>
            </ul>
            <ul class="list-unstyled">
              <li ng-repeat="e in vm.error"><i class="glyphicon glyphicon-remove-sign"></i> {{ e }}</li>
            </ul>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <h6 class="navbar-text" ng-show="vm.lesson.status === 'draft'">Draft</h6>
                <h6 class="navbar-text blue" ng-show="vm.lesson.status === 'pending'">Awaiting Approval</h6>
                <h6 class="navbar-text red" ng-show="vm.lesson.status === 'returned'">Returned</h6>
                <h6 class="navbar-text" ng-show="vm.lesson.status === 'published'">Published</h6>
                <h6 class="navbar-text green" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Saving</h6>
            </div>
          </div>

          <a class="btn btn-default" ng-click="vm.cancel()">Cancel</a>

          <a class="btn btn-default" ng-click="vm.save(vm.form.lessonForm.$valid, true)">{{vm.lesson.status === 'published' ? 'Revert to draft' : 'Save draft' }}</a>

          <button class="btn btn-primary" type="submit" ng-disabled="!vm.form.lessonForm.$valid">
          {{vm.lesson.status === 'published' ? 'Unpublish and resubmit lesson update' : 'Submit lesson' }}</button>
          <!-- ng-disabled="!vm.form.lessonForm.$valid" -->

          <button type="button" class="btn btn-danger pull-right" ng-show="vm.lesson._id" ng-click="vm.openDeleteLesson()">Delete</button>

          <hr/>

        </div>
      </fieldset>
    </form>
  </section>


  <!-- MODALS -->
  <saved-lesson-modal></saved-lesson-modal>
  <updated-lesson-modal></updated-lesson-modal>
  <!-- <resource-upload-modal resource-files-uploader="vm.teacherResourceFilesUploader"
  resource-files="vm.resources.resourceFiles" resource-links="vm.resources.resourceLinks"
  resource-dropzone-id="lesson-resources-file-dropzone"
  close-function=""></resource-upload-modal> -->
  <delete-lesson-modal callback-function="vm.confirmDeleteLesson"></delete-lesson-modal>
  <form-term-modal term="vm.term" save-function="vm.saveTerm" cancel-function="vm.cancelTermAdd"></form-term-modal>
  <save-draft-progress-bar value="finishedSaving" status="savingStatus"></save-draft-progress-bar>
  <!--END MODALS-->
</section>
