<section class="content shaded">
  <section class="container">
    <form name="vm.form.lessonForm" ng-submit="vm.save(vm.form.lessonForm.$valid)" novalidate>
      <fieldset>
        <div class="container-fluid">
          <div class="page-header">
            <h1>{{vm.lesson._id ? 'Edit lesson' : 'Create new lesson'}}</h1>
          </div>

          <!-- Lesson -->
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group" show-errors>
                    <label for="lessonTitle" class="control-label required">Lesson Title *</label>
                    <input class="form-control" name="lessonTitle" id="lessonTitle" ng-model="vm.lesson.title" required/>
                    <div ng-messages="vm.form.lessonForm.lessonTitle.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Lesson title is required.</p>
                    </div>
                  </div>
                  <div class="form-group" show-errors>
                    <label for="unit" class="control-label required">Unit *</label>
                    <select class="form-control" name="unit" id="unit" ng-model="vm.lesson.unit._id" ng-options="unit._id as unit.title for unit in vm.units" required></select>
                    <div ng-messages="vm.form.lessonForm.unit.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Unit is required.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group" show-errors>
                    <!-- TODO: Wire up a featured image for each article -->
                    <label for="image" class="control-label">Featured Image</label>
                    <single-image-drop-zone uploader="vm.featuredImageUploader" image-url="vm.featuredImageURL" image-alt="Featured Image"></single-image-drop-zone>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Lesson Overview -->
          <h4>Lesson Overview</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group" show-errors>
                        <label for="grade" class="control-label required">Grade *</label>
                        <select class="form-control" name="grade" id="grade" ng-model="vm.lesson.lessonOverview.grade" required>
                          <!-- These will probably change, haven't gotten customer feedback on what options should be available -->
                          <option>6-8th</option>
                          <option>6th</option>
                          <option>7th</option>
                          <option>8th</option>
                          <option>9th-12th</option>
                          <option>9th</option>
                          <option>10th</option>
                          <option>11th</option>
                          <option>12th</option>
                        </select>
                        <div ng-messages="vm.form.lessonForm.grade.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Grade is required.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" show-errors>
                        <label for="classPeriods" class="control-label required">Class Periods *</label>
                        <select class="form-control" name="classPeriods" id="classPeriods" ng-model="vm.lesson.lessonOverview.classPeriods" required>
                          <!-- These will probably change, haven't gotten customer feedback on what options should be available -->
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                          <option>6</option>
                          <option>7</option>
                          <option>8</option>
                          <option>9</option>
                        </select>
                        <div ng-messages="vm.form.lessonForm.classPeriods.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Class period is required.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group" show-errors>
                        <label for="settings" class="control-label required">Setting *</label>
                        <select class="form-control" name="settings" id="settings" ng-model="vm.lesson.lessonOverview.setting" required>
                          <option>Classroom</option>
                          <option>Field</option>
                        </select>
                        <div ng-messages="vm.form.lessonForm.title.$error" role="alert">
                          <p class="help-block error-text" ng-message="required">Setting is required.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- TODO: Pull this list dynamically from wherever admins will CRUD subject fields -->
                <!-- <select-optgroup outer-column="col-md-6" name="subjectArea" in-title="Subject Area(s)" ng-model="vm.lesson.lessonOverview.subjectAreas" required="true" label-class="control-label required" options="{{vm.subjectAreas}}"></select-optgroup> -->
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="subjectAreas" class="control-label required">Subject Area(s) *</label>

                    <select2 class="form-control" name="subjectAreas" id="subjectAreas" ng-model="vm.lesson.lessonOverview.subjectAreas" s2-options="subject.value as subject.name group by subject.type for subject in vm.subjectAreas" options="{ allowClear: true, dropdownAutoWidth: true }" multiple required></select2>

                    <div ng-messages="vm.form.lessonForm.subjectAreas.$error" role="alert">
                      <p class="help-block error-text" ng-message="required">Subject area is required.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <select-optgroup outer-column="col-md-12" name="protocolConnections" in-title="Protocol Connections *" ng-model="vm.lesson.lessonOverview.protocolConnections" required="true" label-class="control-label" options="{{vm.protocolConnections}}"></select-optgroup>
                <!-- <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="protocolConnections" class="control-label">Protocol Connections</label> -->
                <!-- TODO: should be required -->
                <!-- TODO: Items entered in this Protocol field should search an external API and autopopulate
                                            Selections should turn into "tags" using select2. Multiple selections should be able to be made.
                                            Similar to https://select2.github.io/examples.html#data-ajax except with multiples -->
                <!-- <select class="select2 form-control" name="protocolConnections" multiple="multiple" placeholder="Protocol 1: Site Conditions" ng-model="vm.lesson.lessonOverview.protocolConnections"></select>
                                    </div>
                                </div> -->
              </div>
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="lessonSummary" in-title="Lesson Summary *" ng-model="vm.lesson.lessonOverview.lessonSummary" required="true" label-class="control-label required"></wysiwyg-editor>
              </div>
            </div>
          </div>

          <!-- Lesson Objectives -->
          <h4>Lesson Objectives</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="lessonObjectives" in-title="Objectives *" ng-model="vm.lesson.lessonObjectives" required="true" label-class="control-label required"></wysiwyg-editor>
              </div>
            </div>
          </div>

          <!-- Materials & Resources -->
          <h4>Materials & Resources</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" show-errors>
                    <label for="supplies" class="control-label required">Supplies *</label>
                    <!-- TODO: should be required, but not populated yet -->
                    <!-- <select class="select2create form-control" name="supplies" multiple="multiple" ng-model="vm.lesson.materialsResources.supplies"></select> -->
                    <textarea name="supplies" id="supplies" class="form-control" ng-model="vm.lesson.materialsResources.supplies" required></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="vocabulary" class="control-label">Vocabulary</label>
                    <div class="input-group">
                      <select2 class="form-control col-md-10" ng-model="vm.lesson.materialsResources.vocabulary"
                      s2-options="item._id as item.term for item in vm.vocabulary"
                      options="{ allowClear: true, dropdownAutoWidth: true }" multiple
                      name="vocabulary" id="vocabulary"></select2>
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="button" title="Add term" ng-click="vm.openAdd()"><i class="glyphicon glyphicon-plus"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <!-- TODO: Give location for upload files to be stored in the lesson -->
                  <div class="form-group">
                    <label for="handouts" class="control-label">Handouts *</label>
                    <multiple-file-drop-zone uploader="vm.handoutFilesUploader" files="vm.handouts"></multiple-file-drop-zone>
                    <div ng-show="vm.form.lessonForm.$submitted && vm.handouts.length <= 0">
                      <p class="red">Handouts are required.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="vocabulary" class="control-label">Teacher Resources *</label>
                    <!-- TODO: wire up "add resource" modal, wire up table to display added resources-->
                    <table class="table table-hover">
                      <tr ng-repeat="link in vm.resourceLinks">
                        <td>{{link.name}}
                          (link)</td>
                        <td>{{link.link}}</td>
                        <td>
                          <i class="glyphicon glyphicon-remove" ng-click="deleteTeacherResourceLink($index)"></i>
                        </td>
                      </tr>
                      <tr ng-repeat="file in vm.resourceFiles">
                        <td>{{file.originalname}}
                          (File upload)</td>
                        <td>&nbsp;</td>
                        <td>
                          <i class="glyphicon glyphicon-remove" ng-click="deleteTeacherResourceFile($index, file)"></i>
                        </td>
                      </tr>
                    </table>
                    <a class="btn btn-primary form-control" data-toggle="modal" data-target="#modal-resources">Add Resource</a>
                    <div ng-show="vm.form.lessonForm.$submitted && vm.resourceLinks.length <= 0 && vm.resourceFiles.length <= 0">
                      <p class="red">Teacher Resources are required.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="teacherTips" class="control-label">Teacher Tips</label>
                    <textarea name="teacherTips" id="teacherTips" class="form-control" ng-model="vm.lesson.materialsResources.teacherTips"></textarea>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="stateTestQuestions" class="control-label">State Test Questions</label><br/>
                    <em class="text-muted">Take a screenshot of any state test questions that connect to this lesson and upload the file</em>
                    <multiple-file-drop-zone uploader="vm.stateTestQuestionsFilesUploader" files="vm.stateTestQuestionsFiles"></multiple-file-drop-zone>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Background -->
          <h4>Background</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <wysiwyg-editor outer-column="col-md-12" name="background" in-title="Background" ng-model="vm.lesson.background" label-class="control-label"></wysiwyg-editor>
              </div>
            </div>
          </div>

          <!-- Instruction Plan -->
          <h4>Instruction Plan</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-12">
                  <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li role="presentation" class="active">
                      <a href="#engage" data-toggle="tab" aria-controls="engage" role="tab">Engage</a>
                    </li>
                    <li role="presentation">
                      <a href="#explore" data-toggle="tab" aria-controls="explore" role="tab">Explore</a>
                    </li>
                    <li role="presentation">
                      <a href="#explain" data-toggle="tab" aria-controls="explain" role="tab">Explain</a>
                    </li>
                    <li role="presentation">
                      <a href="#elaborate" data-toggle="tab" aria-controls="elaborate" role="tab">Elaborate</a>
                    </li>
                    <li role="presentation">
                      <a href="#evaluate" data-toggle="tab" aria-controls="evaluate" role="tab">Evaluate</a>
                    </li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="engage">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="engage" ng-model="vm.lesson.instructionPlan.engage" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="explore">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="explore" ng-model="vm.lesson.instructionPlan.explore" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="explain">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="explain" ng-model="vm.lesson.instructionPlan.explain" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="elaborate">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="elaborate" ng-model="vm.lesson.instructionPlan.elaborate" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="evaluate">
                      <div class="row">
                        <wysiwyg-editor outer-column="col-md-12" name="evaluate" ng-model="vm.lesson.instructionPlan.evaluate" label-class="control-label"></wysiwyg-editor>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Standards -->
          <h4>Standards</h4>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="nycsssUnits" class="control-label">NYC Science Scope & Sequence - Units</label>
                    <select2 class="form-control" ng-model="vm.lesson.standards.nycsssUnits"
                    s2-options="unit._id as unit.value for unit in vm.nycsssUnits"
                    options="{ allowClear: true, dropdownAutoWidth: true }" multiple
                    name="nycsssUnits" id="nycsssUnits"></select2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="nysssKeyIdeas" class="control-label">NYS Science Standards - Key Ideas</label>
                    <select2 class="form-control" ng-model="vm.lesson.standards.nysssKeyIdeas"
                    s2-options="idea._id as idea.value for idea in vm.nysssKeyIdeas"
                    options="{ allowClear: true, dropdownAutoWidth: true }" multiple
                    name="nysssKeyIdeas" id="nysssKeyIdeas"></select2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="nysssMajorUnderstandings" class="control-label">NYS Science Standards - Major Understandings</label>
                    <select2 class="form-control" ng-model="vm.lesson.standards.nysssMajorUnderstandings"
                    s2-options="understanding._id as understanding.value for understanding in vm.nysssMajorUnderstandings"
                    options="{ allowClear: true, dropdownAutoWidth: true }" multiple
                    name="nysssMajorUnderstandings" id="nysssMajorUnderstandings"></select2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="nysssMst" class="control-label">NYS Science Standards - MST</label>
                    <select2 class="form-control" ng-model="vm.lesson.standards.nysssMst"
                    s2-options="mst._id as mst.value for mst in vm.nysssMst"
                    options="{ allowClear: true, dropdownAutoWidth: true }" multiple
                    name="nysssMst" id="nysssMst"></select2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="ngssDisciplinaryCoreIdeas" class="control-label">NGSS - Disciplinary Core Ideas</label>
                    <select2 class="form-control" ng-model="vm.lesson.standards.ngssDisciplinaryCoreIdeas"
                    s2-options="core._id as core.value for core in vm.ngssDisciplinaryCoreIdeas"
                    options="{ allowClear: true, dropdownAutoWidth: true }" multiple
                    name="ngssDisciplinaryCoreIdeas" id="ngssDisciplinaryCoreIdeas"></select2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="ngssScienceEngineeringPractices" class="control-label">NGSS - Science and Engineering Practices</label>
                    <select2 class="form-control" ng-model="vm.lesson.standards.ngssScienceEngineeringPractices"
                    s2-options="practice._id as practice.value for practice in vm.ngssScienceEngineeringPractices"
                    options="{ allowClear: true, dropdownAutoWidth: true }" multiple
                    name="ngssScienceEngineeringPractices" id="ngssScienceEngineeringPractices"></select2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="ngssCrossCuttingConcepts" class="control-label">NGSS - Cross-Cutting Concepts</label>
                    <select2 class="form-control" ng-model="vm.lesson.standards.ngssCrossCuttingConcepts"
                    s2-options="concept._id as concept.value for concept in vm.ngssCrossCuttingConcepts"
                    options="{ allowClear: true, dropdownAutoWidth: true }" multiple
                    name="ngssCrossCuttingConcepts" id="ngssCrossCuttingConcepts"></select2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="cclsMathematics" class="control-label">CCLS - Mathematics</label>
                    <select2 class="form-control" ng-model="vm.lesson.standards.cclsMathematics"
                    s2-options="math._id as math.value for math in vm.cclsMathematics"
                    options="{ allowClear: true, dropdownAutoWidth: true }" multiple
                    name="cclsMathematics" id="cclsMathematics"></select2>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="cclsElaScienceTechnicalSubjects" class="control-label">CCLS - ELA Science & Technical Subjects</label>
                    <select2 class="form-control" ng-model="vm.lesson.standards.cclsElaScienceTechnicalSubjects"
                    s2-options="ela._id as ela.value for ela in vm.cclsElaScienceTechnicalSubjects"
                    options="{ allowClear: true, dropdownAutoWidth: true }" multiple
                    name="cclsElaScienceTechnicalSubjects" id="cclsElaScienceTechnicalSubjects"></select2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
            <button class="btn btn-primary" type="submit">{{vm.lesson._id ? 'Update lesson' : 'Publish lesson'}}</button>
            <!-- ng-disabled="!vm.form.lessonForm.$valid" -->
            <button type="button" class="btn btn-danger pull-right" ng-show="vm.lesson._id" ng-click="vm.openDeleteLesson()">Delete</button>
          </div>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
        <!-- <ul>
                    <li ng-repeat="(key, errors) in vm.form.lessonForm.$error track by $index"> <strong>{{ key }}</strong> errors
                        <ul>
                            <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                        </ul>
                    </li>
                </ul> -->
      </fieldset>
    </form>
  </section>


  <!-- MODALS -->
  <saved-lesson-modal></saved-lesson-modal>
  <div class="modal fade" id="modal-resources" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Add a teacher resource</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#link" data-toggle="tab" aria-controls="link" role="tab">Link</a>
                </li>
                <li role="presentation">
                  <a href="#upload" data-toggle="tab" aria-controls="upload" role="tab">Upload</a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="link">
                  <br/>
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="vm.tempResourceLinkName"/>
                  </div>
                  <div class="form-group">
                    <label>URL to video (hosted on Youtube, Vimeo, etc) or website</label>
                    <input type="text" class="form-control" ng-model="vm.tempResourceLink"/>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="upload">
                  <multiple-file-drop-zone uploader="vm.teacherResourceFilesUploader" files="vm.tempResourceFiles"></multiple-file-drop-zone>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancelTeacherResources()">Cancel</button>
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.deleteTeacherResources()">Delete</button> -->
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.addTeacherResources()">Add</button>
        </div>
      </div>
    </div>
  </div>
  <delete-lesson-modal callback-function="vm.confirmDeleteLesson"></delete-lesson-modal>
  <form-term-modal term="vm.term" save-function="vm.saveTerm" cancel-function="vm.cancelTermAdd"></form-term-modal>
  <!--END MODALS-->
</section>
