<div class="modal fade" id="modal-lesson-view-feedback" tabindex="-1" role="dialog" aria-labelledby="modal-feedback">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" ng-hide="sent">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Feedback given for the lesson <b class="red">{{lesson.title}}</b></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-pills nav-stacked col-sm-3" role="tablist">
              <li role="presentation" class="active" ng-show="feedback.howLessonTaughtFeedback && feedback.howLessonTaughtFeedback.length > 0">
                <a href="#effectiveness" aria-controls="effectiveness" role="tab" data-toggle="tab">Overall effectiveness</a></li>
              <li role="presentation" ng-show="feedback.whyLessonTaughtNowFeedback && feedback.whyLessonTaughtNowFeedback.length > 0">
                <a href="#what" aria-controls="what" role="tab" data-toggle="tab">What was taught?</a></li>
              <li role="presentation" ng-show="feedback.willTeachLessonAgainFeedback && feedback.willTeachLessonAgainFeedback.length > 0">
                <a href="#why" aria-controls="why" role="tab" data-toggle="tab">Why it was taught?</a></li>
              <li role="presentation" ng-show="feedback.lessonSummaryFeedback && feedback.lessonSummaryFeedback.length > 0">
                <a href="#will" aria-controls="will" role="tab" data-toggle="tab">Will it be taught again?</a></li>
              <li role="presentation" class="dropdown">
                <a href="#" class="dropdown-toggle" id="sections" data-toggle="dropdown" aria-controls="sections-contents" aria-expanded="true">Individual sections <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="" ng-show="feedback.lessonSummaryFeedback && feedback.lessonSummaryFeedback.length > 0">
                    <a href="#sections-summary" role="tab" data-toggle="tab" aria-controls="sections-summary" aria-expanded="false">Lesson Summary</a></li>
                  <li class="" ng-show="feedback.lessonObjectivesFeedback && feedback.lessonObjectivesFeedback.length > 0">
                    <a href="#sections-objectives" role="tab" data-toggle="tab" aria-controls="sections-objectives" aria-expanded="false">Lesson Objectives</a></li>
                  <li class="" ng-show="feedback.materialsResourcesFeedback && feedback.materialsResourcesFeedback.length > 0">
                    <a href="#sections-materials" role="tab" data-toggle="tab" aria-controls="sections-materials" aria-expanded="false">Materials and Resources</a></li>
                  <li class="" ng-show="feedback.preparationFeedback && feedback.preparationFeedback.length > 0">
                    <a href="#sections-preparation" role="tab" data-toggle="tab" aria-controls="sections-preparation" aria-expanded="false">Preparation</a></li>
                  <li class="" ng-show="feedback.backgroundFeedback && feedback.backgroundFeedback.length > 0">
                    <a href="#sections-background" role="tab" data-toggle="tab" aria-controls="sections-background" aria-expanded="false">Background</a></li>
                  <li class="" ng-show="feedback.instructionPlanFeedback && feedback.instructionPlanFeedback.length > 0">
                    <a href="#sections-plan" role="tab" data-toggle="tab" aria-controls="sections-plan" aria-expanded="false">Instruction Plan</a></li>
                  <li class="" ng-show="feedback.standardsFeedback && feedback.standardsFeedback.length > 0">
                    <a href="#sections-standards" role="tab" data-toggle="tab" aria-controls="sections-standards" aria-expanded="false">Standards</a></li>
                  <li class="" ng-show="feedback.otherFeedback && feedback.otherFeedback.length > 0">
                    <a href="#sections-other" role="tab" data-toggle="tab" aria-controls="sections-other" aria-expanded="false">Other</a></li>
                </ul>
              </li>
            </ul>

            <div class="tab-content col-md-9">
              <div role="tabpanel" class="tab-pane active" id="effectiveness">
                <div class="row">
                    <div class="col-xs-3 text-center">
                        <h3 ng-class="{'green': feedback.lessonEffectiveAvg > 3, 'yellow': feedback.lessonEffectiveAvg === 3,
                        'red': feedback.lessonEffectiveAvg < 3}">{{feedback.lessonEffectiveAvg | number:1}}</h3>
                        <h4><raty-fa id="star1" score="feedback.lessonEffectiveAvg" number="5" read-only="true"
                        ng-class="{'green': feedback.lessonEffectiveAvg > 3, 'yellow': feedback.lessonEffectiveAvg === 3,
                        'red': feedback.lessonEffectiveAvg < 3}"></raty-fa></h4>
                    </div>
                    <div class="col-xs-9">
                        <br/>
                        <p>How effective is this lesson?</p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-3 text-center">
                        <h3 ng-class="{'green': feedback.lessonAlignWithCurriculumnAvg > 3, 'yellow': feedback.lessonAlignWithCurriculumnAvg === 3,
                        'red': feedback.lessonAlignWithCurriculumnAvg < 3}">{{feedback.lessonAlignWithCurriculumnAvg | number:1}}</h3>
                        <h4><raty-fa id="star2" score="feedback.lessonAlignWithCurriculumnAvg" number="5" read-only="true"
                        ng-class="{'green': feedback.lessonAlignWithCurriculumnAvg > 3, 'yellow': feedback.lessonAlignWithCurriculumnAvg === 3,
                        'red': feedback.lessonAlignWithCurriculumnAvg < 3}"></raty-fa></h4>
                    </div>
                    <div class="col-xs-9">
                        <br/>
                        <p>How effectively does this lesson align with NY State core curriculum, NYC scope and sequence, and/or other content standards you are required to use in your school?</p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-3 text-center">
                        <h3 ng-class="{'green': feedback.lessonSupportScientificPracticeAvg > 3, 'yellow': feedback.lessonSupportScientificPracticeAvg === 3,
                        'red': feedback.lessonSupportScientificPracticeAvg < 3}">{{feedback.lessonSupportScientificPracticeAvg | number:1}}</h3>
                        <h4><raty-fa id="star3" score="feedback.lessonSupportScientificPracticeAvg" number="5" read-only="true"
                        ng-class="{'green': feedback.lessonSupportScientificPracticeAvg > 3, 'yellow': feedback.lessonSupportScientificPracticeAvg === 3,
                        'red': feedback.lessonSupportScientificPracticeAvg < 3}"></raty-fa></h4>
                    </div>
                    <div class="col-xs-9">
                        <br/>
                        <p>How effectively does this lesson support inquiry, student-led research, and/or scientific practices?</p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-3 text-center">
                        <h3 ng-class="{'green': feedback.lessonPreparesStudentsAvg > 3, 'yellow': feedback.lessonPreparesStudentsAvg === 3,
                        'red': feedback.lessonPreparesStudentsAvg < 3}">{{feedback.lessonPreparesStudentsAvg | number:1}}</h3>
                        <h4><raty-fa id="star4" score="feedback.lessonPreparesStudentsAvg" number="5" read-only="true"
                        ng-class="{'green': feedback.lessonPreparesStudentsAvg > 3, 'yellow': feedback.lessonPreparesStudentsAvg === 3,
                        'red': feedback.lessonPreparesStudentsAvg < 3}"></raty-fa></h4>
                    </div>
                    <div class="col-xs-9">
                        <br/>
                        <p>How effectively does this lesson prepare students for environmental restoration, BOP field science, or the ORS?</p>
                    </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane" id="what" ng-show="feedback.howLessonTaughtFeedback && feedback.howLessonTaughtFeedback.length > 0">
                <h4 class="blue">Describe what you did and what your students did in this lesson. Did you modify or adapt this lesson? Give specific examples of what you and your students did in the lesson.</h4>
                <ul ng-repeat="feedback in feedback.howLessonTaughtFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="why" ng-show="feedback.whyLessonTaughtNowFeedback && feedback.whyLessonTaughtNowFeedback.length > 0">
                <h4 class="blue">Why did you teach this lesson when you did? Was it part of your regular scheduled curriculum, one-off, or prep for the field?</h4>
                <ul ng-repeat="feedback in feedback.whyLessonTaughtNowFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="will" ng-show="feedback.willTeachLessonAgainFeedback && feedback.willTeachLessonAgainFeedback.length > 0">
                <h4 class="blue">Will you teach some version of this lesson in the future? If so, what will you repeat, what will you do differently, and why? If not, why not?</h4>
                <ul ng-repeat="feedback in feedback.willTeachLessonAgainFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="sections-summary" ng-show="feedback.lessonSummaryFeedback && feedback.lessonSummaryFeedback.length > 0">
                <h4 class="blue">Lesson Summary</h4>
                <ul ng-repeat="feedback in feedback.lessonSummaryFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="sections-objectives" ng-show="feedback.lessonObjectivesFeedback && feedback.lessonObjectivesFeedback.length > 0">
                <h4 class="blue">Lesson Objectives</h4>
                <ul ng-repeat="feedback in feedback.lessonObjectivesFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="sections-materials" ng-show="feedback.materialsResourcesFeedback && feedback.materialsResourcesFeedback.length > 0">
                <h4 class="blue">Materials and Resources</h4>
                <ul ng-repeat="feedback in feedback.materialsResourcesFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="sections-preparation" ng-show="feedback.preparationFeedback && feedback.preparationFeedback.length > 0">
                <h4 class="blue">Preparation</h4>
                <ul ng-repeat="feedback in feedback.preparationFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="sections-background" ng-show="feedback.backgroundFeedback && feedback.backgroundFeedback.length > 0">
                <h4 class="blue">Background</h4>
                <ul ng-repeat="feedback in feedback.backgroundFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="sections-plan" ng-show="feedback.instructionPlanFeedback && feedback.instructionPlanFeedback.length > 0">
                <h4 class="blue">Instruction Plan</h4>
                <ul ng-repeat="feedback in feedback.instructionPlanFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="sections-standards" ng-show="feedback.standardsFeedback && feedback.standardsFeedback.length > 0">
                <h4 class="blue">Standards</h4>
                <ul ng-repeat="feedback in feedback.standardsFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
              <div role="tabpanel" class="tab-pane" id="sections-other" ng-show="feedback.otherFeedback && feedback.otherFeedback.length > 0">
                <h4 class="blue">Other</h4>
                <ul ng-repeat="feedback in feedback.otherFeedback">
                  <li><b>{{feedback.author}}, {{feedback.date}}:</b> {{feedback.feedback}}</li>
                <ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="closeFunction()">Close</button>
      </div>
    </div>
  </div>
</div>
