<section>
    <div class="page-header">
        <h1>Lessons</h1>
    </div>
    <div class="row">
        <a ng-repeat="lesson in vm.lessons" ui-sref="lessons.view({ lessonId: lesson._id })" class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="caption">
                    <h3 class="list-group-item-heading" ng-bind="lesson.title"></h3>
                    <p>
                        <small class="list-group-item-text">Posted on
                            <span ng-bind="lesson.created | date:'mediumDate'"></span>
                            by
                            <span ng-if="lesson.user" ng-bind="lesson.user.displayName"></span>
                            <span ng-if="!lesson.user">Deleted User</span>
                        </small>
                    </p>
                    <p class="list-group-item-text" ng-bind="lesson.content"></p>
                </div>
            </div>
        </a>
        <a class="col-sm-6 col-md-3">
            <div class="thumbnail text-center">
                <h1 class="glyphicon glyphicon-plus" aria-hidden="true"></h1>
                <div class="caption">
                    <h4 class="list-group-item-heading">Create new lesson</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="alert alert-warning text-center" ng-if="vm.lessons.$resolved && !vm.lessons.length">
        No lessons yet, why don't you <a ui-sref="lessons.create">create one</a>?
    </div>
</section>
