<div class="jumbotron text-center">
    <section class="content">
        <section class="container-fluid">
            <h2>Lessons</h2>
            <div class="input-group col-md-6 col-md-offset-3">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input type="text" class="form-control" ng-model="vm.filter.searchString" ng-change="vm.searchChange()"
                placeholder="Search for a Lesson by title, lesson summary, lesson objective...">
            </div>
            <div class="alert alert-danger text-center" ng-show="vm.error">
              <p ng-bind="vm.error"></p>
            </div>
            <div class="alert alert-info text-center" ng-show="vm.lessons.length === 0 && vm.filter.searchString !== '' && !vm.error">
                Sorry, no results found for that search term
            </div>
        </section>
    </section>
</div>
<section class="content">
    <section class="container-fluid">
        <nav class="navbar">
            <!--Comment out settings modal for now -- <a class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-lesson-settings"><i class="glyphicon glyphicon-cog"></i></a>-->
            <a class="btn btn-default pull-right" ui-sref="lessons.create" view-permissions="admin,team lead">
                <i class="glyphicon glyphicon-plus"></i> Create new lesson
            </a>
            <ul class="nav navbar-nav">
                <li><a ng-click="vm.clearFilters()" ok-sel="*">Show All</a></li>
                <li class="dropdown" id="subjectAreaSelection">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Subject Area{{(vm.filter.subjectAreaName) ? ': ' + vm.filter.subjectAreaName : ''}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a ng-click="vm.subjectAreaSelected()" ok-sel=".all">All</a></li>
                      <li role="separator" class="divider"></li>
                      <li ng-repeat="subject in vm.subjectAreas">
                        <a ok-sel=".{{subject._id}}" ng-click="vm.subjectAreaSelected(subject)">
                            <i class="fa fa-circle" style="color:{{subject.color}}"></i> {{subject.subject}}
                        </a>
                      </li>
                    </ul>
                </li>
                <li class="dropdown" id="settingSelection">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Setting{{(vm.filter.setting) ? ': ' + vm.filter.setting : ''}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu"><!--opt-kind="" ok-key="filter"-->
                       <li><a ok-sel="*" ng-click="vm.settingSelected()">Show all</a></li>
                       <li><a ok-sel=".Classroom" ng-click="vm.settingSelected('Classroom')">Classroom</a></li>
                       <li><a ok-sel=".Field" ng-click="vm.settingSelected('Field')">Field</a></li>
                       <li><a ok-sel=".Both" ng-click="vm.settingSelected('Classroom & Field')">Classroom & Field</a></li>
                    </ul>
                </li>
                <li class="dropdown" id="unitSelection">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Units{{(vm.filter.unitName) ? ': ' + vm.filter.unitName : ''}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a ok-sel="*" ng-click="vm.unitSelected()">Show all</a></li>
                      <li ng-repeat="unit in vm.units">
                        <a ok-sel=".{{unit._id}}" ng-click="vm.unitSelected(unit)">
                          <i class="fa fa-circle" style="color:{{unit.color}}"></i> {{unit.title}}
                        </a>
                      </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="row" isotope-container="isotope-container" id="lesson-list-isotope-container" images-loaded>
            <div ng-repeat="lesson in vm.lessons track by lesson._id" isotope-item="isotope-item" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 library-item {{lesson.lessonOverview.setting}} {{lesson.unit}}">
                <div class="panel" data-category="transition" ui-sref="lessons.view({ lessonId: lesson._id })">
                    <div class="panel-heading" style="background: #fcfcfc; border-bottom-color: #ddd;">
                        <p class="panel-title" ng-show="unit" style="color: {{unit.color}}" ng-repeat="unit in lesson.units">
                            <i class="{{unit.icon}}"></i>
                            <b>{{unit.title}}</b>
                        </p>
                    </div>
                    <div class="panel-body">
                        <h4><b>{{lesson.title}}</b></h4>
                        <p class="text-muted">
                            <small ng-show="lesson.lessonOverview.setting"><b>{{lesson.lessonOverview.setting}}</b> setting</small>
                            <small ng-show="lesson.lessonOverview.setting && lesson.lessonOverview.grade" class="gray">&nbsp;&nbsp;|&nbsp;&nbsp;</small>
                            <small ng-show="lesson.lessonOverview.grade"><b>{{lesson.lessonOverview.grade}}</b> grade</small>
                        </p>
                        <p class="small">
                            <span ng-bind-html="lesson.lessonOverview.lessonSummary | limitTo:200 | sanitize"></span>
                            <span ng-show="lesson.lessonOverview.lessonSummary.length > 200">...</span>
                        </p>
                        <img ng-show="lesson.featuredImage" ng-src="{{lesson.featuredImage.path}}" class="img-responsive" />
                    </div>
                    <div class="panel-footer">
                        <p class="pull-left text-muted small" ng-show="lesson.stats.teamLeadCount > 0"><i class="fa fa-check"></i> Taught by <b>{{lesson.stats.teamLeadCount}}</b> teachers</p>
                        <ul class="list-inline">
                            <li ng-repeat="subject in lesson.lessonOverview.subjectAreas">
                                <span ng-style="{'background-color':'{{subject.color}}'}" ng-bind="subject.subject"
                                class="label label-default"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 library-item" isotope-item="isotope-item" view-permissions="admin,team lead">
                <div class="panel panel-default" ui-sref="lessons.create">
                    <div class="panel-body text-center text-muted">
                        <h1 class="glyphicon glyphicon-plus" aria-hidden="true"></h1>
                        <h4 class="list-group-item-heading">Create new lesson</h4>
                    </div>
                </div>
            </div>-->
        </div>
    </section>
</section>





<!-- MODALS -->
<div class="modal fade" id="modal-lesson-settings" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Admin Settings</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#lessons" data-toggle="tab" aria-controls="link" role="tab">Lessons</a></li>
                            <li role="presentation"><a href="#units" data-toggle="tab" aria-controls="upload" role="tab">Units</a></li>
                            <li role="presentation"><a href="#protocols" data-toggle="tab" aria-controls="upload" role="tab">Protocols</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="lessons">
                                <br />
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label>Grade Options</label>
                                        <input type="text" value="6th, 7th, 8th, 6-8th, 9th, 10th, 11th, 12th, 9-12th" class="form-control" />
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Number of Class Period Options</label>
                                        <input type="number" value="9" class="form-control" />
                                    </div>
                                </div>
                                <label>Subject Area Options</label>
                                <table class="table table-condensed">
                                    <tr>
                                        <th class="col-sm-4">Name</th>
                                        <th class="col-sm-2">Color</th>
                                        <th class="col-sm-4">Name</th>
                                        <th class="col-sm-2">Color</th>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" value="Ecology" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                        <td><input type="text" class="form-control" value="Geology and Earth Science" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" value="Limnology" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                        <td><input type="text" class="form-control" value="Marine Biology" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" value="Oceanography" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                        <td><input type="text" class="form-control" value="Computer Science" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" value="Engineering" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                        <td><input type="text" class="form-control" value="Data Analysis" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" value="Graphing" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                        <td><input type="text" class="form-control" value="Ratios & Proportions" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" value="Algebra" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                        <td><input type="text" class="form-control" value="History" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" value="Economics" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                        <td><input type="text" class="form-control" value="English Language Arts" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="form-control" value="Music" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                        <td><input type="text" class="form-control" value="Art" /></td>
                                        <td><input type="text" class="form-control" value="#f4f7f8" /></td>
                                    </tr>
                                </table>
                                <a class="btn btn-default">Add subject area</a>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="units">

                            </div>
                            <div role="tabpanel" class="tab-pane" id="protocols">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
<!--END OF MODALS-->
