<div class="modal fade" id="modal-lesson-log" tabindex="-1" role="dialog" aria-labelledby="modal-lesson-log">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Log your teaching of this lesson</h4>
        <p>Did you teach this lesson? We want to know! Fill this form out for each time the lesson was taught.</p>
        <!--TIFF: If team lead has taught before, show:-->
        <div class="alert alert-info" ng-show="trackList.length > 0">You taught this lesson on {{trackedLessonString}}.
        </div>
      </div>
      <form name="form.logLessonForm" ng-submit="track(form.logLessonForm.$valid)" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="taughtOn" class="control-label required">Date lesson was taught *</label>
                <input type="date" class="form-control" name="taughtOn" id="taughtOn" ng-model="tracker.taughtOn" required/>
              </div>
              <div class="form-group">
                <!-- <label for="classOrSubject" class="control-label required">Name of class or subject *</label>
                <input type="text" class="form-control" name="classOrSubject" id="classOrSubject" ng-model="tracker.classOrSubject" required/> -->
                <select-tags name="classOrSubject" id="classOrSubject"
                in-title="Subject *" ng-model="tracker.classOrSubject"
                label-class="control-label required" select-config="subjectAreasSelectConfig"></select-tags>
              </div>
              <div class="form-group">
                <label for="grade" class="control-label required">Grade level of students *</label>
                <select class="form-control" name="grade" id="grade" ng-model="tracker.grade" required>
                  <option>Elementary</option>
                  <option>6-8th</option>
                  <option>6th</option>
                  <option>7th</option>
                  <option>8th</option>
                  <option>9th-12th</option>
                  <option>9th</option>
                  <option>10th</option>
                  <option>11th</option>
                  <option>12th</option>
                </select>
              </div>
              <div class="form-group">
                <label for="totalNumberOfStudents" class="control-label required">Total number of students *</label>
                <input type="number" class="form-control" name="totalNumberOfStudents" id="totalNumberOfStudents"
                  ng-model="tracker.totalNumberOfStudents" min="0" required/>
              </div>
              <div class="form-group">
                <label for="totalNumberOfClassesOrSections" class="control-label required">Total number of classes/sections *</label>
                <input type="number" class="form-control" name="totalNumberOfClassesOrSections" id="totalNumberOfClassesOrSections"
                  ng-model="tracker.totalNumberOfClassesOrSections" min="0" required/>
              </div>
              <div class="form-group">
                <label for="classPeriodsOrSessionsNeededToComplete" class="control-label required">How many class periods/sessions were needed to complete this lesson? *</label>
                <input type="number" class="form-control" name="classPeriodsOrSessionsNeededToComplete" id="classPeriodsOrSessionsNeededToComplete"
                  ng-model="tracker.classPeriodsOrSessionsNeededToComplete" min="0" required/>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
