<!-- <div>
  <div class="dropzone" file-dropzone="{{fileTypes}}"
    file="file" file-name="fileName" data-max-file-size="3">
    <span ng-hide="file">Drop Image Here</span>
  </div>
  <div class="image-container">
    <img ng-src={{file}} />
    <span class="file-name">{{fileName}}</span>
  </div>
</div> -->
<div>
  <div class="form-group" ng-show="imageURL">
    <img ng-src="{{imageURL}}" alt="{{imageAlt}}" class="img-thumbnail">
  </div>
  <div ng-hide="imageURL">
    <h3>Select files</h3>
    <div ng-show="uploader.isHTML5">
      <!-- 3. nv-file-over uploader="link" over-class="className" -->
      <div nv-file-drop="" uploader="uploader">
        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
          Drop Image Here
        </div>
      </div>
    </div>
    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
    <div >
      <span class="btn btn-default btn-file">
          Select Image <input type="file" nv-file-select uploader="uploader">
      </span>
    </div>
  </div>
</div>