<div class="jumbotron text-center">
    <section class="content">
        <section class="container-fluid">
            <h2>People</h2>
            <div class="input-group col-md-6 col-md-offset-3">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                        <input class="form-control" type="text" placeholder="Search"
                        ng-model="filter.searchString" ng-model-options='{ debounce: 400 }'
                        ng-change="searchChange()" />
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

<!--TIFF: 
    1) Change page permissions to be visible to all admin/team lead/team members (not pendings). I updated the sidenav permissions but still getting a forbidden
    2) Can we speed up the initial page load by just pulling in the first page results? Or, alternatively, make "Team Lead" the default filter on initial load -->
<section class="content">
<section class="container">
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <select class="form-control" name="role" id="role" ng-model="filter.role"
            ng-change="fieldChanged()">
                <option value="">Show all roles</option>
                <option value="team lead">Team Lead</option>
                <option value="team member">Team Member</option>
                <option value="admin">Admin</option><!--TIFF: Only show admin filter (and admin accounts) to admin-->
            </select>
        </div>
    </div>
    <!--TIFF: Wire up this new Team Lead type filter - display only when role "Team Lead" filter is selected --
    <div class="col-sm-4">
        <div class="form-group">
            <select class="form-control" name="role" id="role" ng-model="filter.role"
            ng-change="fieldChanged()">
                <option value="">Show all types</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>
    </div>-->
    <div class="col-sm-4">
        <div class="form-group">
            <select class="form-control" name="schoolOrg" id="schoolOrg" ng-model="filter.organizationId"
              ng-change="fieldChanged()">
                <option value="">Show all organizations</option>
                <option ng-repeat="org in organizations" value="{{org._id}}">{{org.name}}</option>
            </select>
        </div>
    </div>
</div>
<div class="alert alert-danger text-center" ng-show="error">
  <p ng-bind="error"></p>
</div>
<div class="alert alert-info text-center" ng-show="(pagedItems.length === 0 && !error)">
    Sorry, no results found for that search term
</div>
<!--TIFF: Only show to admin-->
<div class="row" ng-show="leadRequests && leadRequests.length > 0">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">You have <b>{{leadRequests.length}}</b> new team lead requests.
          <a class="btn btn-sm btn-default" ng-click="openApproveTeamLeads()">Respond</a></div>
    </div>
</div>
<!--TIFF: Only show to admin-->
<div class="row" ng-show="leadRequestsOrgPending && leadRequestsOrgPending.length > 0">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">You have <b>{{leadRequestsOrgPending.length}}</b> new team lead requests that have organization request that must be approved before they can be approved.
          <a class="btn btn-sm btn-default" ng-click="openApproveOrganizations()">Respond to Organizations</a></div>
    </div>
</div>
<!--TIFF: Only admin should see admin accounts and pending lead/member accounts -->
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-verticalalign table-responsive">
            <!--TIFF: Fix click to open user profile modal on this page -->
            <tr ng-repeat="user in pagedItems" ng-click="vm.openViewUserModal()">
                <td><img ng-src="{{user.profileImageURL}}" class="profile-image"></td>
                <td>
                    <h4>{{user.firstName}} {{user.lastName}}</h4><br />
                    <!--TIFF: Only show 1 main role instead of list (either Admin, Team Lead/Member pending, or Team Lead/Member) -- "user" or "org lead" should never show-->
                    <h6>{{listRoles(user)}}
                      <span ng-show="user.teamLeadType"><br/>{{user.teamLeadType | teamLeadTypes}}</span>
                    </h6>
                </td>
                <td>
                  <p><b>{{user.username}}</b><br/>{{user.email}}</p>
                </td>
                <td>
                    <h6>Organization</h6>
                    <p>{{(user.schoolOrg) ? user.schoolOrg.name : ''}}</p>
                    <br/>
                    <h6><span class="blue" ng-show="{{user.teams.length > 1}}">{{user.teams.length}} </span>{{user.teams.length > 1 ? 'Teams' : 'Team'}}</h6>
                    <p ng-repeat="team in user.teams">
                      {{team.name}}<span ng-if="!$last">,&nbsp;</span>
                    </p>
                </td>
                <!--archived:
                    ng-click="openAdminTeam(team)"
                    ng-click="openAdminTeamLeadForm(user)"
                    ng-click="openDeleteUser(user)"-->
            </tr>
        </table>

        <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>
</section>
</section>

<!-- MODALS -->
<form-admin-team-lead-modal user="formUser" organizations="organizations" save-function="saveAdminTeamLeadForm" close-function="cancelAdminTeamLeadForm"></form-admin-team-lead-modal>
<delete-user-modal user="userToDelete" can-be-deleted-function="canBeDeleted" delete-function="deleteUser" close-function="cancelDeleteUser"></delete-user-modal>
<approve-team-leads-modal lead-requests="leadRequests" cancel-function="closeApproveTeamLeads"></approve-team-leads-modal>
<approve-school-org-modal org-requests="leadRequestsOrgPending" cancel-function="closeApproveOrganizations"></approve-school-org-modal>
<view-admin-team-modal team="team" delete-team-function="openDeleteTeam" delete-team-error="deleteTeamError"
  delete-team-member-function="openDeleteTeamMember" delete-team-member-error="deleteTeamMemberError"
  close-function="closeAdminTeam"></view-admin-team-modal>
<!-- END MODALS -->
