<div ng-hide="loaded">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
      <div class="row">
          <div class="col-sm-12 text-center">
              <h1><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw green"></i></h1>
              <h3>Loading...</h4>
          </div>
      </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
<div ng-show="loaded">
  <div class="modal-header">
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="close" aria-label="Close" ng-click="closeFunction()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" class="img-circle img-responsive" width="100">
      </div>
      <div class="col-md-4">
        <h3>{{user.displayName}}</h3>
        <h6>{{roles | roleNormalizer}}</h6>
        <p class="text-muted">
          <span ng-show="user.teamLeadType">{{user.teamLeadType | teamLeadTypes}}<br/></span>
          <b>{{user.username}}</b><br/>
          <a href="mailto:{{user.email}}">{{user.email}}</a>
        </p>
        <p ng-bind-html="user.researchInterests | sanitize"></p>
      </div>
      <div class="col-md-3">
        <br/>
        <h6><span class="blue">{{userTeams.length}}</span> {{userTeams.length > 1 ? 'Teams' : 'Team'}}</h6>
        <h4 ng-repeat="team in userTeams">
          <a ui-sref="profiles.team-view({ teamId: team._id})">{{team.name}}</a>
          <br/>
          <div ng-repeat="teamLead in team.teamLeads" ng-show="isUserTeamMember">
            <small>{{teamLead.displayName}}</small>
          </div>
        </h4>
      </div>
      <div class="col-md-3">
        <br/>
        <h6>Organization</h6>
        <h4 ng-show="organization">
          <a ui-sref="profiles.organization-view({ schoolOrgId: organization._id })">
            {{organization.name}}
          </a>
          <br/>
          <small ng-show="organization.city && organization.state">{{organization.city}},
            {{organization.state}}</small>
        </h4>
      </div>
      <hr/>
    </div>

    <nav class="nav nav-default text-right">
      <h6 class="pull-left" ng-show="isUserPending && canSeePending">Pending&nbsp;&nbsp;</h6>

      <span ng-show="isUserPending && canSeePending">
        <a class="btn btn-primary pull-left" ng-hide="reminderSent" ng-click="sendReminder()">
          <i class="fa fa-envelope"></i>
          Send reminder</a>
        <h6 class="green pull-left" ng-show="reminderSent">
          <i class="fa fa-check"></i>
          Reminder sent</h6>
      </span>

      <a class="btn btn-default" ng-click="openUserForm()"
        ng-show="isCurrentUserUser || isCurrentUserUsersTeamLead || isCurrentUserAdmin">Edit profile</a>

      <a class="btn btn-danger" ng-click="openUserDelete()" ng-show="isCurrentUserUsersTeamLead || isCurrentUserAdmin">Delete</a>
      <hr ng-show="isCurrentUserUser || isCurrentUserUsersTeamLead || isCurrentUserAdmin || isUserPending"/>
    </nav>
  </div>

  <!-- TEAM MEMBER PROFILES -->
  <div class="modal-body">
    <div ng-show="isUserTeamMember">
      <div class="row">
        <div class="col-sm-6">
          <dl class="dl-horizontal">
            <dt>Data
              <i class="fa fa-question-circle gray" title="Published expeditions"></i>
            </dt>
            <dd ng-repeat="expedition in expeditions">
              <a ui-sref="expeditions.view({ expeditionId: expedition._id })">
                {{expedition.name}}</a>
            </dd>
            <!-- TODO: Add in what protocols they were assigned to: <a>Nov Expedition</a>: Protocols 1, 2-->
            <dd ng-show="!expeditions || expeditions.length === 0">
              <em>none</em>
            </dd>
          </dl>

          <dl class="dl-horizontal" ng-show="isCurrentUserUsersTeamMember || isCurrentUserUsersTeamLead || isCurrentUserAdmin">
            <dt>Launched Expeditions</dt>
            <dd ng-repeat="expedition in launchedExpeditions">
              <a ui-sref="expeditions.view({ expeditionId: expedition._id })">
                {{expedition.name}}</a>
            </dd>
            <!-- TODO: Add in what protocols they are assigned to: <a>Nov Expedition</a>: Protocols 1, 2-->
            <dd ng-show="!launchedExpeditions || launchedExpeditions.length === 0">
              <em>none</em>
            </dd>
          </dl>
        </div>

        <div class="col-sm-6">
            <dl class="dl-horizontal">
                <dt>Publications
                <i class="fa fa-question-circle gray" title="Published research posters"></i>
            </dt>
                <dd ng-repeat="poster in publishedResearch">
                  <a ui-sref="researches.view({ researchId: poster._id })">
                    {{poster.title}}</a>
                </dd>
                <dd ng-show="!publishedResearch || publishedResearch.length === 0">
                  <em>none</em>
                </dd>
            </dl>

            <dl class="dl-horizontal" ng-show="isCurrentUserUsersTeamMember || isCurrentUserUsersTeamLead || isCurrentUserAdmin">
                <dt>Poster Drafts</dt>
                <dd ng-repeat="poster in pendingResearch">
                  <a ui-sref="researches.view({ researchId: poster._id })">
                    {{poster.title}}</a>
                </dd>
                <dd ng-show="!pendingResearch || pendingResearch.length === 0">
                  <em>none</em>
                </dd>
            </dl>
        </div>
      </div>
    </div>

    <!-- TEAM LEAD PROFILES -->
    <div ng-show="isUserTeamLead">
      <div class="row">
        <div class="col-sm-6">
          <dl class="dl-horizontal">
            <dt>Data
              <i class="fa fa-question-circle gray" title="Published expeditions"></i>
            </dt>
            <dd ng-repeat="expedition in expeditions">
              <a ui-sref="expeditions.view({ expeditionId: expedition._id })">
                {{expedition.name}}</a>
            </dd>
            <dd ng-show="!expeditions || expeditions.length === 0">
              <em>none</em>
            </dd>
          </dl>
          <dl class="dl-horizontal" ng-show="isCurrentUserUsersTeamMember || isCurrentUserUsersTeamLead || isCurrentUserAdmin">
            <dt>Launched Expeditions</dt>
            <dd ng-repeat="expedition in launchedExpeditions">
              <a ui-sref="expeditions.view({ expeditionId: expedition._id })">
                {{expedition.name}}</a>
            </dd>
            <dd ng-show="!launchedExpeditions || launchedExpeditions.length === 0">
              <em>none</em>
            </dd>
          </dl>
        </div>

        <div class="col-sm-6">
          <dl class="dl-horizontal">
            <dt>ORS</dt>
            <dd ng-repeat="station in stations">
              <a ui-sref="restoration-stations.list()">
                {{station.name}}</a>
            </dd>
            <dd ng-show="!stations || stations.length === 0">
              <em>none</em>
            </dd>
          </dl>
        </div>
      </div>
      <hr/>
      <div class="row" ng-show="isCurrentUserAdmin || isCurrentUserTeamLead">
        <div class="col-sm-6">
          <dl class="dl-horizontal">
            <dt>Events
              <i class="fa fa-question-circle gray" title="A green check mark beside the event name shows that the user was marked in attendance"></i>
            </dt>
            <dd ng-repeat="event in events">
              <i ng-show="didProfileUserAttendEvent(event)" class="fa fa-check green"></i>
              <a ui-sref="events.view({ eventId: event._id })">
                {{event.title}}</a>
            </dd>
            <dd ng-show="!events || events.length === 0">
              <em>none</em>
            </dd>
          </dl>
        </div>
        <div class="col-sm-6">
          <dl class="dl-horizontal">
            <dt>Lessons Created</dt>
            <dd ng-repeat="lesson in createdLessons">
              <a ui-sref="lessons.view({ lessonId: lesson._id })">
                {{lesson.title}}</a>
            </dd>
            <dd ng-show="!createdLessons || createdLessons.length === 0">
              <em>none</em>
            </dd>
          </dl>
          <dl class="dl-horizontal" ng-show="isCurrentUserAdmin">
            <dt>Lesson Drafts</dt>
            <dd ng-repeat="lesson in draftLessons">
              <a ui-sref="lessons.view({ lessonId: lesson._id })">
                {{lesson.title}}</a>
            </dd>
            <dd ng-show="!draftLessons || draftLessons.length === 0">
              <em>none</em>
            </dd>
          </dl>
          <dl class="dl-horizontal">
            <dt>Lessons Taught</dt>
            <dd ng-repeat="lesson in lessonsTaught">
              <a ui-sref="lessons.view({ lessonId: lesson._id })">
                {{lesson.title}}</a>
            </dd>
            <dd ng-show="!lessonsTaught || lessonsTaught.length === 0">
              <em>none</em>
            </dd>
          </dl>
        </div>

        <!-- TODO: Wire up once we figure out where this data comes from --
        <div class="col-sm-4">
            <dl class="dl-horizontal">
                <dt>Grade levels</dt>
                <dd>9th-12th</dd><!--not sure where this should come from --

                <dt>Subjects</dt>
                <dd>English, Science</dd><!--not sure where this should come from --

                <dt>Students</dt>
                <dd>25</dd><!--sum total of all their teams--
            </dl>
        </div>
        -->
      </div>

      <!-- commenting this section out until we have motivations wired up
    <hr/>
    <div class="row">
        TODO: Wire up, Add motivations dropdown to Team Lead signup form, only visible here to admin
        <div class="col-sm-12" ng-show="isUserAdmin">
            <dl class="dl-horizontal">
                <dt>Motivations</dt>
                <dd>...</dd>
                <dd>...</dd>
                <dd>...</dd>
            </dl>
        </div>
    </div>
  -->
    </div>
  </div>
</div>
