<div class="modal fade" id="modal-team-lead-remove" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form name="form.deleteTeamLead" ng-submit="delete(form.deleteTeamLead.$valid)" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remove team leads</h4>
            </div>
            <div class="modal-body">
                <p>Removing a team lead will disable all of their permissions to edit and delete the team; add, edit and delete members and leads; and create, edit and publish expeditions - so proceed with caution.</p>
                <p>Although they will be removed from managing this team, they will still have a team lead account inside the <b>{{organization.name}}</b> organization to create and manage other teams.</p>
                <div class="form-group">
                    <label for="">Select the team lead to remove</label>
                    <input type="text" ng-model="teamLead" placeholder="Team Leads" id="teamLead" name="teamLead" autocomplete="off"
                    uib-typeahead="teamLead as teamLead.displayName for teamLead in team.teamLeads | filter:{displayName:$viewValue}"
                    class="form-control" typeahead-show-hint="true" typeahead-min-length="0" typeahead-select-on-exact="true">
                </div>
                <div ng-show="error" class="alert alert-danger">
                  <p ng-bind="error"></p>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" ng-click="close()">Cancel</a>
                <button class="btn btn-danger" type="submit">Remove</button>
            </div>
          </form>
        </div>
    </div>
</div>
