<section>
    <p class="lead red">For reference, here's the tide times and heights (in meters) from the last few days at <span ng-bind="vm.tides.stationName"></span>.</p>
    <div ng-repeat="tide in vm.tides.HighLowValues.item" class="row">
        <div class="col-md-12">
            <h6 ng-bind="tide.date"></h6>
        </div>
        <div class="col-md-3" ng-show="tide.data[0]">
            <p><b>{{tide.data[0].time}}</b><br />{{tide.data[0].pred}}({{tide.data[0].type}})</p>
        </div>
        <div class="col-md-3" ng-show="tide.data[1]">
            <p><b>{{tide.data[1].time}}</b><br />{{tide.data[1].pred}}({{tide.data[1].type}})</p>
        </div>
        <div class="col-md-3" ng-show="tide.data[2]">
            <p><b>{{tide.data[2].time}}</b><br />{{tide.data[2].pred}}({{tide.data[2].type}})</p>
        </div>
        <div class="col-md-3" ng-show="tide.data[3]">
            <p><b>{{tide.data[3].time}}</b><br />{{tide.data[3].pred}}({{tide.data[3].type}})</p>
        </div>
    </div>
</section>
