# this file is to be located in your project/.ebextensions folder

#TO UPDATE NODE VERSION & ARCH
# replace  0.10.24 -> 0.11.0 (for example) and x86 -> x64 in
#  — all *env.config
#  — env.vars
#  — in AWS EB console for each env (env configuration settings) (may be unneccessary)

#TO UPDATE NPM
# uncomment "rm npm updated" in 40install_node.sh

#TO CHANGE NGINX VERSION
# update version number in env.vars

packages:
  yum:
    ImageMagick: []
    git: []
    mc: []
    gcc: []
    make: []
    openssl-devel: []
    tmux: []
    gcc-c++: []
    freetype-devel: []
    fontconfig-devel: []
    ruby: []
    rubygems: []
    pcre: []
    pcre-devel: []
    gperftools: []
    gperftools-devel: []
  rubygems:
    rubygems-update: []
    phantom-manager: '0.0.8'

option_settings:
  - option_name: NODE_ENV
    value: development
#set this var via console to update io.log nodename
  - option_name: IO_LOG_NODE
    value: STAGE
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 4.8.0
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true

#files:
#  "/opt/elasticbeanstalk/env.vars" :
#    mode: "000775"
#    owner: root
#    group: users
#    source: https://raw.githubusercontent.com/BillionOysterProject/better-faster-elastic-beanstalk/master/env.vars
#
#  "/opt/elasticbeanstalk/hooks/configdeploy/pre/50npm.sh" :
#    mode: "000666"
#    owner: root
#    group: users
#    content: |
#       #no need to run npm install during configdeploy
#
#  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
#    mode: "000775"
#    owner: root
#    group: users
#    source: https://raw.githubusercontent.com/BillionOysterProject/better-faster-elastic-beanstalk/master/50npm.sh
#
#  "/opt/elasticbeanstalk/hooks/configdeploy/pre/40install_node.sh" :
#    mode: "000775"
#    owner: root
#    group: users
#    source: https://raw.githubusercontent.com/BillionOysterProject/better-faster-elastic-beanstalk/master/40install_node.sh
#
#  "/opt/elasticbeanstalk/hooks/appdeploy/pre/40install_node.sh" :
#    mode: "000775"
#    owner: root
#    group: users
#    source: https://raw.githubusercontent.com/BillionOysterProject/better-faster-elastic-beanstalk/master/40install_node.sh
#
#  "/root/cron-node.sh" :
#    mode: "000755"
#    owner: root
#    group: root
#    source: https://raw.githubusercontent.com/BillionOysterProject/better-faster-elastic-beanstalk/master/cron-node.sh

commands:
  01_install_mosh:
    command: yum --enablerepo=epel install -y mosh
    ignoreErrors: true
  02_patch_ebnode_py:
    command: "sed -e '/rebuild/ s/^#*/#/' -i /opt/elasticbeanstalk/containerfiles/ebnode.py"
    ignoreErrors: true
  03_inject_z_sh:
    command: "grep  'z.sh' /root/.bashrc || echo '. ~/z.sh' >> /root/.bashrc;grep  'z.sh' /home/ec2-user/.bashrc || echo '. ~/z.sh' >> /home/ec2-user/.bashrc"
    ignoreErrors: true
  05_inject_io_node_name:
    command: IO_LOG_NODE=`grep IO_LOG_NODE /etc/init/nodejs.conf | cut --delimiter='"' --fields=2` && sed -i.bak -e s/IO_LOG_NODE/$IO_LOG_NODE/ /root/.log.io/harvester.conf
    ignoreErrors: true
  06_install_wkhtmltopdf:
    command: yum install --assumeyes zlib fontconfig freetype X11
    ignoreErrors: true
  07_install_wkhtmltopdf:
    command: wget https://s3.amazonaws.com/digital-platform-tools/wkhtmltox-0.12.4_linux-generic-amd64.tar.xz
    ignoreErrors: true
  08_install_wkhtmltopdf:
    command: tar -xJf wkhtmltox-0.12.4_linux-generic-amd64.tar.xz
    ignoreErrors: true
  09_install_wkhtmltopdf:
    command: cp wkhtmltox/bin/wkhtmltopdf /usr/local/bin/wkhtmltopdf
    ignoreErrors: true
  10_install_wkhtmltopdf:
    command: sudo chmod 755 /usr/local/bin/wkhtmltopdf
    ignoreErrors: true
  11_install_wkhtmltopdf:
    command: cp wkhtmltox/bin/wkhtmltoimage /usr/local/bin/wkhtmltoimage
    ignoreErrors: true
  12_install_wkhtmltopdf:
    command: sudo chmod 755 /usr/local/bin/wkhtmltoimage
    ignoreErrors: true
  13_install_wkhtmltopdf:
    command: touch /usr/local/bin/wkhtmltopdf
    ignoreErrors: true
  14_install_wkhtmltopdf:
    command: touch /usr/local/bin/wkhtmltoimage
    ignoreErrors: true
  15_install_wkhtmltopdf:
    command: wkhtmltopdf -V
    ignoreErrors: true
  16_install_wkhtmltopdf:
    command: wkhtmltoimage -V
    ignoreErrors: true
