<section class="content shaded">
    <section class="container-fluid">
        <h2>Metrics</h2>
    </section>
</section>
<section class="content shaded content-unpadded" ng-controller="SettingsController">
    <section class="container-fluid">
        <a class="btn btn-default pull-right" ng-href="api/metrics/download" target="_blank"><i class="fa fa-download"></i> Download all</a>
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#people" data-toggle="tab" aria-controls="people" role="tab">People</a>
            </li>
            <li role="presentation">
                <a href="#curriculum" data-toggle="tab" aria-controls="curriculum" role="tab">Curriculum</a>
            </li>
            <li role="presentation">
                <a href="#stations" data-toggle="tab" aria-controls="stations" role="tab">Stations</a>
            </li>
            <li role="presentation">
                <a href="#events" data-toggle="tab" aria-controls="events" role="tab">Events</a>
            </li>
        </ul>
    </section>
</section>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="people">
        <view-people-metrics></view-people-metrics>
    </div>
    <div role="tabpanel" class="tab-pane" id="curriculum">
        <view-curriculum-metrics></view-curriculum-metrics>
    </div>
    <div role="tabpanel" class="tab-pane" id="stations">
        <view-station-metrics></view-station-metrics>
    </div>
    <div role="tabpanel" class="tab-pane" id="events">
      <view-event-metrics></view-event-metrics>
    </div>
</div>
