<section class="content">
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="row">
                    <div class="col-xs-6">
                        <h1 class="red">{{metrics.stationCount}} <i class="glyphicon glyphicon-map-marker gray"></i></h1>
                        <h6>Oyster Restoration Stations</h6>
                    </div>
                    <div class="col-xs-6">
                        <h1 class="red">{{metrics.expeditionCount}} <i class="glyphicon glyphicon-flag gray"></i></h1>
                        <h6>Expeditions</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="red">{{metrics.activeStationCount}}</h3>
                        <h6>Active Stations</h6>
                    </div>
                    <div class="col-xs-6">
                        <h3 class="red">{{metrics.lostStationCount}}</h3>
                        <h6>Lost Stations</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Timeline</h4>
                <canvas id="line" class="chart chart-line" chart-data="vm.Cdata"
                    chart-labels="vm.monthHistoryLabels" chart-legend="true" chart-series="vm.Cseries"
                    chart-click="vm.onClick()" >
                </canvas>
            </div>
            <div class="col-md-4">
                <h4>Station Status</h4>
                <canvas id="pie" class="chart chart-pie" chart-data="stationStatusPieData"
                    chart-labels="stationStatusPieLabels" chart-legend="false">
                </canvas>
            </div>
        </div>
    </section>
</section>
<section class="content shaded">
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4>Top Stations for Expeditions</h4>
                <table class="table">
                    <tr>
                        <td><h3 class="red">34</h3> <small class="text-muted">expeditions</small></td>
                        <td>NY Harbor 19</td>
                        <td><h6>40.704039, -74.0035392</h6></td>
                    </tr>
                    <tr>
                        <td><h3 class="red">33</h3> <small class="text-muted">expeditions</small></td>
                        <td>Baltimore Harbor 64</td>
                        <td><h6>40.704039, -74.0035392</h6></td>
                    </tr>
                    <tr>
                        <td><h3 class="red">32</h3> <small class="text-muted">expeditions</small></td>
                        <td>Eastern Shore 525</td>
                        <td><h6>40.704039, -74.0035392</h6></td>
                    </tr>
                    <tr>
                        <td><h3 class="red">28</h3> <small class="text-muted">expeditions</small></td>
                        <td>NY Harbor 19</td>
                        <td><h6>40.704039, -74.0035392</h6></td>
                    </tr>
                    <tr>
                        <td><h3 class="red">17</h3> <small class="text-muted">expeditions</small></td>
                        <td>Eastern Shore 525</td>
                        <td><h6>40.704039, -74.0035392</h6></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                <h4>Protocol Status</h4>
                <canvas id="pie" class="chart chart-pie" chart-data="vm.pieHdata"
                    chart-labels="vm.pieHlabels" chart-legend="false">
                </canvas>
            </div>
            <div class="col-md-3">
                <h4>Expedition Status</h4>
                <canvas id="pie" class="chart chart-pie" chart-data="vm.pieIdata"
                    chart-labels="vm.pieIlabels" chart-legend="false">
                </canvas>
            </div>
        </div>
    </section>
</section>
