<section class="content">
  <section class="container-fluid">
      <div class="row">
          <div class="col-md-3 text-center" ng-show="isAdmin">
              <div class="row">
                  <div class="col-xs-6">
                      <h1 class="red">{{metrics.userCounts.total}} <i class="fa fa-user gray"></i></h1>
                      <h6>Total Users</h6>
                  </div>
                  <!--TODO: Wire up org count
                  <div class="col-xs-6">
                      <h1 class="red">{{metrics.orgs.total}} <i class="fa fa-building gray"></i></h1>
                      <h6>Organizations</h6>
                  </div>-->
              </div>
              <div class="row">
                  <div class="col-xs-4">
                      <h2 class="red">{{metrics.userCounts.admin}}</h2>
                      <h6>Admin</h6>
                  </div>
                  <div class="col-xs-4">
                      <h2 class="red">{{metrics.userCounts.teamLead}}</h2>
                      <h6>Team Leads</h6>
                  </div>
                  <div class="col-xs-4">
                      <h2 class="red">{{metrics.userCounts.teamMember}}</h2>
                      <h6>Team Members</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-3 text-center" ng-show="!isAdmin">
              <div class="row">
                  <div class="col-xs-6">
                      <h1 class="red">{{metrics.userCounts.total}} <i class="fa fa-user gray"></i></h1>
                      <h6>Total Users</h6>
                  </div>
                  <!--TODO: Wire up org count
                  <div class="col-xs-6">
                      <h1 class="red">{{metrics.orgs.total}} <i class="fa fa-building gray"></i></h1>
                      <h6>Organizations</h6>
                  </div>-->
              </div>
              <div class="row">
                  <div class="col-xs-6">
                      <h2 class="red">{{metrics.userCounts.teamLead}}</h2>
                      <h6>Team Leads</h6>
                  </div>
                  <div class="col-xs-6">
                      <h2 class="red">{{metrics.userCounts.teamMember}}</h2>
                      <h6>Team Members</h6>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <h4>Roles</h4>
              <canvas id="pie" class="chart chart-pie" chart-data="rolesPieData"
                  chart-labels="rolesPielabels" chart-legend="true">
              </canvas>
          </div>
          <!--TODO: Wire up with data for team lead types (also add team lead type data to download)
          <div class="col-md-3">
              <h4>Team Lead Types</h4>
              <canvas id="pie" class="chart chart-pie" chart-data="____PieData"
                  chart-labels="____Pielabels" chart-legend="true">
              </canvas>
          </div>-->
          <!--TODO: Wire up with data for org types (also add org type data to download)
          <div class="col-md-3">
              <h4>Organization Types</h4>
              <canvas id="pie" class="chart chart-pie" chart-data="____PieData"
                  chart-labels="____Pielabels" chart-legend="true">
              </canvas>
          </div>-->
      </div>
  </section>
</section>
<section class="content shaded">
  <section class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <nav class="navbar">
                  <h4 class="navbar-text">Most Active {{isAdmin ? 'Users' : 'Team Leads'}}</h4>
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              {{monthHistoryLabelsReversed[monthHistoryLabelsReversed.indexOf(userActivityFilter.month)].name}} <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                             <li ng-repeat="month in monthHistoryLabelsReversed">
                               <a ng-click="userActivityMonthSelected(month)">
                                 {{month.name}}
                               </a>
                             </li>
                          </ul>
                      </li>
                      <li class="dropdown" ng-show="isAdmin">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                              {{userRoleOptions[userRoleOptions.indexOf(userActivityFilter.userRole)].name}} <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu">
                            <li ng-repeat="role in userRoleOptions">
                              <a ok-sel=".{{role.value}}" ng-click="userActivityRoleSelected(role)">
                                  {{role.name}}
                              </a>
                            </li>
                          </ul>
                      </li>
                  </ul>
              </nav>
              <table class="table">
                  <tr>
                      <th>Name</th>
                      <th>Logins</th>
                      <th ng-hide="isAdminSelected()">Team(s)</th>
                      <th ng-hide="isAdminSelected()">Members</th>
                      <th ng-hide="isAdminSelected()">Organization</th>
                  </tr>
                  <tr ng-repeat="activeUserItem in userActivityData | orderBy: '-loginCount'">
                      <td><b><a ng-click="openViewUserModal(activeUserItem.user)">{{activeUserItem.user.displayName}}</a></b></td>
                      <td><p class="text-muted"><b class="red">{{activeUserItem.loginCount}}</b> logins</p></td>
                      <td ng-hide="isAdminSelected()">
                        <span ng-repeat="team in activeUserItem.teams">
                          <a ui-sref="profiles.team-view({ teamId: team._id })">{{team.name}}</a>
                          {{$last ? '' : ', '}}
                        </span>
                      </td>
                      <td ng-hide="isAdminSelected()"><b>{{calculateTotalTeamMembers(activeUserItem)}}</b></td>
                      <td ng-hide="isAdminSelected()">
                        <a ui-sref="profiles.organization-view({ schoolOrgId: activeUserItem.schoolOrg._id })">
                          {{activeUserItem.schoolOrg.name}}
                        </a>
                      </td>
                  </tr>
              </table>
          </div>
          <div class="col-md-6">
              <h4 class="navbar-text">Largest Teams</h4>
              <table class="table">
                  <tr>
                      <th>Team Name</th>
                      <th>Members</th>
                      <th>Team Lead</th>
                      <th>Organization</th>
                  </tr>
                  <tr ng-repeat="teamItem in metrics.largestTeams | orderBy: '-teamMemberCount' | limitTo:5">
                      <td><a ui-sref="profiles.team-view({ teamId: teamItem._id })"><b>{{teamItem.name}}</b></a></td>
                      <td><p class="text-muted"><b class="red">{{teamItem.teamMemberCount}}</b> team members</p></td>
                      <td><span ng-repeat="teamLeadItem in teamItem.teamLeads">
                        <a ng-click="openViewUserModal(teamLeadItem)">{{teamLeadItem.displayName}}{{$last ? '' : ', '}}</a>
                      </span></td>
                      <td><a ui-sref="profiles.organization-view({ schoolOrgId: teamItem.schoolOrg._id })">
                        {{teamItem.schoolOrg.name}}</a>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
  </section>
</section>
<view-user-modal user="userToView" close-function="closeViewUserModal"></view-user-modal>
