<section class="content">
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="row">
                    <div class="col-xs-6">
                        <h1 class="red">{{metrics.stationCounts.total}} <i class="glyphicon glyphicon-map-marker gray"></i></h1>
                        <h6>Oyster Restoration Stations</h6>
                    </div>
                    <div class="col-xs-6">
                        <h1 class="red">{{metrics.expeditionCounts.published}} <i class="glyphicon glyphicon-flag gray"></i></h1>
                        <h6>Expeditions</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h3 class="red">{{metrics.stationCounts.active}}</h3>
                        <h6>Active Stations</h6>
                    </div>
                    <div class="col-xs-6">
                        <h3 class="red">{{metrics.stationCounts.lost}}</h3>
                        <h6>Lost Stations</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Timeline</h4>
                <canvas id="line" class="chart chart-line" chart-data="monthlyCountLineData"
                    chart-labels="monthHistoryLabels" chart-legend="true"
                    chart-series="monthlyCountLineLabels" chart-click="vm.onClick()" >
                </canvas>
            </div>
            <div class="col-md-4">
                <h4>Station Status</h4>
                <canvas id="pie" class="chart chart-pie" chart-data="stationStatusPieData"
                    chart-labels="stationStatusPieLabels" chart-legend="false">
                </canvas>
            </div>
        </div>
    </section>
</section>
<section class="content shaded">
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4>Top Stations for Expeditions</h4>
                <table class="table">
                    <tr ng-repeat="visitData in metrics.stationVisitCounts | orderBy: '-expeditionCount'">
                        <td><h3 class="red">{{visitData.expeditionCount}}</h3> <small class="text-muted">expeditions</small></td>
                        <td>{{visitData.station.name}}</td>
                        <td><h6>{{visitData.station.latitude.toFixed(4)}}, {{visitData.station.longitude.toFixed(4)}}</h6></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                <h4>Protocol Status</h4>
                <canvas id="pie" class="chart chart-pie" chart-data="protocolStatusPieData"
                    chart-labels="protocolStatusPieLabels" chart-legend="false">
                </canvas>
            </div>
            <div class="col-md-3">
                <h4>Expedition Status</h4>
                <canvas id="pie" class="chart chart-pie" chart-data="expeditionStatusPieData"
                    chart-labels="expeditionStatusPieLabels" chart-legend="false">
                </canvas>
            </div>
        </div>
    </section>
</section>
