<div class="sidebar navbar navbar-fixed-top navbar-inverse" ng-controller="HeaderController">
    <div class="navbar-header">
        <a ui-sref="home" class="navbar-brand">
            <img alt="Billion Oyster Project" src="modules/core/client/img/brand/logo.svg" />
        </a>
    </div>
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
        <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
            <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button"><i class="{{item.icon}}"></i><span ng-class="{ text: item.icon }">{{::item.title}}&nbsp;<span class="caret"></span></span></a>
            <ul ng-switch-when="dropdown" class="dropdown-menu">
                <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
                    <a ui-sref="{{subitem.state}}"><i class="{{subitem.icon}}" ng-show="subitem.icon"></i>{{subitem.title}}</span></a>
                </li>
            </ul>
            <a ng-switch-default ui-sref="{{item.state}}"><i class="{{item.icon}}"></i><span ng-class="{ text: item.icon }" ng-bind="item.title"></span></a>
        </li>
    </ul>
</div>

<div class="navbar navbar-fixed-top navbar-default" ng-controller="HeaderController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse" uib-collapse="!isCollapsed" role="navigation">
            <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
                <li ui-sref-active="active">
                    <a ui-sref="authentication.signup">Sign Up</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="authentication.signin">Sign In</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
                <li class="dropdown" uib-dropdown>
                    <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
                        <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
                        <span ng-bind="authentication.user.displayName"></span><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li ui-sref-active="active" ng-repeat="item in accountMenu.items" ng-if="item.shouldRender(authentication.user);">
                            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/api/auth/signout" target="_self">Signout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
