<div class="jumbotron" ng-controller="HomeController">
    <section class="content">
        <section class="container-fluid">
            <div class="row text-center">
                <img alt="Billion Oyster Project" src="modules/core/client/img/brand/logo.png" />
                <img alt="CCERS" src="modules/core/client/img/brand/ccers.png" />
            </div>
            <div class="row text-center">
                <h3>Schools and Citizen Science</h3>
            </div>
        </section>
    </section>
</div>
