<section class="content shaded">
    <section class="container">
        <form name="vm.form.unitForm" ng-submit="vm.save(vm.form.unitForm.$valid, false)" novalidate>
            <fieldset>
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="pull-right">
                            <h6 class="navbar-text green" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Saving</h6>

                            <h6 class="navbar-text" ng-show="vm.unit.status === 'draft'">Draft</h6>
                            <h6 class="navbar-text" ng-show="vm.unit.status === 'published'">Published</h6>
                        </div>
                        <h1>{{vm.unit.status === 'published' ? 'Edit unit' : 'Create new unit' }}</h1>
                    </div>

                    <!-- Unit -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group" show-errors>
                                        <label for="unitTitle" class="control-label required">Unit Title *</label>
                                        <input class="form-control" name="unitTitle" id="unitTitle" ng-model="vm.unit.title"
                                        required/>
                                        <div ng-messages="vm.form.unitForm.unitTitle.$error" role="alert">
                                            <p class="help-block error-text" ng-message="required">Unit title is required.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--TODO: Wire up parent unit -- not required but is a multi-select-->
                                <div class="col-md-3">
                                    <div class="form-group" show-errors>
                                        <label for="unitTitle" class="control-label required">Parent Unit(s)</label>
                                        <select class="form-control" name="parentUnits" id="parentUnits" ng-model="vm.unit.parentUnits"
                                        ng-options="unit as unit.title for unit in vm.units track by unit._id" multiple="true">
                                        </select>
                                        <span class="help-block">To select multiple units, press and hold the Ctrl key (Windows) or Command key (Mac). 
                                            <br/><a ng-click="vm.removeAllParentUnits()"><i class="fa fa-times"></i> Remove all</a></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" show-errors>
                                        <label for="color" class="control-label required">Color *</label>
                                        <input colorpicker colorpicker-size="200" type="text" class="form-control"
                                        placeholder="#426ca9" name="color" id="color" ng-model="vm.unit.color" required />
                                        <div ng-messages="vm.form.unitForm.color.$error" role="alrt">
                                            <p class="help-block error-text" ng-message="required">Color is required.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" show-errors>
                                        <label for="icon" class="control-label required">Icon *</label>
                                        <!--TODO: Needs wired up to data, fix button click going to Unit submit bug :
                                        IMPORTANT: Database should be "fa fa-iconname" syntax (with the extra fa class) so that we can easily switch out iconsets/add icons/etc later and that's no longer saved in every single HTML view of the icon

                                        <button class="btn btn-default form-control" id="iconpicker" name="icon" role="iconpicker" data-iconset="fontawesome" data-icon="{{vm.unit.icon}}" data-rows="10" data-cols="10" ng-click="vm.iconChanged(data-icon)" required></button>-->
                                        <!--TODO: Remove editable input after iconpicker is wired up-->
                                        <input class="form-control" type="text" ng-model="vm.unit.icon" name="icon"
                                        id="icon" required />
                                        <span class="help-block">Visit <a href="https://fortawesome.github.io/Font-Awesome/icons/" target="_blank">the icon list</a> to select an icon. Syntax should be <b>fa fa-iconName</b></span>
                                        <div ng-messages="vm.form.unitForm.icon.$error" role="alrt">
                                            <p class="help-block error-text" ng-message="required">Icon is required.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Highlights -->
                    <h4>Highlights</h4>
                    <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="row">
                            <wysiwyg-editor outer-column="col-md-12" name="highlights" in-title=""
                            ng-model="vm.unit.highlights" label-class="control-label"></wysiwyg-editor>
                          </div>
                        </div>
                    </div>

                    <!-- Rationale -->
                    <h4>Rationale</h4>
                    <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="row">
                            <wysiwyg-editor outer-column="col-md-12" name="rationale" in-title=""
                            ng-model="vm.unit.rationale" label-class="control-label"></wysiwyg-editor>
                          </div>
                        </div>
                    </div>

                    <!-- Standards -->
                    <h4>Standards</h4>
                    <div class="panel panel-default">
                        <div class="panel-body">
                          <div class="row">
                            <select-tags outer-column="col-md-12" name="nycsssUnits" id="nycsssUnits"
                            in-title="NYC Science Scope &amp; Sequence - Units" ng-model="vm.unit.standards.nycsssUnits"
                            label-class="control-label" select-config="vm.nycsssUnitsSelectConfig"></select-tags>
                          </div>
                          <div class="row">
                            <select-tags outer-column="col-md-12" name="nysssKeyIdeas" id="nysssKeyIdeas"
                            in-title="NYS Science Standards - Key Ideas" ng-model="vm.unit.standards.nysssKeyIdeas"
                            label-class="control-label" select-config="vm.nysssKeyIdeasSelectConfig"></select-tags>
                          </div>
                          <div class="row">
                            <select-tags outer-column="col-md-12" name="nysssMajorUnderstandings" id="nysssMajorUnderstandings"
                            in-title="NYS Science Standards - Major Understandings" ng-model="vm.unit.standards.nysssMajorUnderstandings"
                            label-class="control-label" select-config="vm.nysssMajorUnderstandingsSelectConfig"></select-tags>
                          </div>
                          <div class="row">
                            <select-tags outer-column="col-md-12" name="nysssMst" id="nysssMst"
                            in-title="NYS Science Standards - MST" ng-model="vm.unit.standards.nysssMst"
                            label-class="control-label" select-config="vm.nysssMstSelectConfig"></select-tags>
                          </div>
                          <div class="row">
                            <select-tags outer-column="col-md-12" name="ngssDisciplinaryCoreIdeas" id="ngssDisciplinaryCoreIdeas"
                            in-title="NGSS - Disciplinary Core Ideas" ng-model="vm.unit.standards.ngssDisciplinaryCoreIdeas"
                            label-class="control-label" select-config="vm.ngssDisciplinaryCoreIdeasSelectConfig"></select-tags>
                          </div>
                          <div class="row">
                            <select-tags outer-column="col-md-12" name="ngssScienceEngineeringPractices" id="ngssScienceEngineeringPractices"
                            in-title="NGSS - Science and Engineering Practices" ng-model="vm.unit.standards.ngssScienceEngineeringPractices"
                            label-class="control-label" select-config="vm.ngssScienceEngineeringPracticesSelectConfig"></select-tags>
                          </div>
                          <div class="row">
                            <select-tags outer-column="col-md-12" name="ngssCrossCuttingConcepts" id="ngssCrossCuttingConcepts"
                            in-title="NGSS - Cross-Cutting Concepts" ng-model="vm.unit.standards.ngssCrossCuttingConcepts"
                            label-class="control-label" select-config="vm.ngssCrossCuttingConceptsSelectConfig"></select-tags>
                          </div>
                          <div class="row">
                            <select-tags outer-column="col-md-12" name="cclsMathematics" id="cclsMathematics"
                            in-title="CCLS - Mathematics" ng-model="vm.unit.standards.cclsMathematics"
                            label-class="control-label" select-config="vm.cclsMathematicsSelectConfig"></select-tags>
                          </div>
                          <div class="row">
                            <select-tags outer-column="col-md-12" name="cclsElaScienceTechnicalSubjects" id="cclsElaScienceTechnicalSubjects"
                            in-title="CCLS - ELA Science & Technical Subjects" ng-model="vm.unit.standards.cclsElaScienceTechnicalSubjects"
                            label-class="control-label" select-config="vm.cclsElaScienceTechnicalSubjectsSelectConfig"></select-tags>
                          </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-show="(vm.form.unitForm.$dirty || vm.form.unitForm.$submitted) &&
                    (vm.form.unitForm.$invalid || !vm.valid) && (vm.form.unitForm.$error || vm.error.length > 0)">
                        <h4>Sorry, you can't publish just yet!</h4>
                        <ul class="list-unstyled" ng-repeat="(key, errors) in vm.form.unitForm.$error track by $index">
                            <li ng-repeat="e in errors"><i class="glyphicon glyphicon-remove-sign"></i> <b>{{ e.$name }}</b> is {{ key }}</li>
                        </ul>
                        <ul class="list-unstyled">
                          <li ng-repeat="e in vm.error"><i class="glyphicon glyphicon-remove-sign"></i> {{ e }}</li>
                        </ul>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <h6 class="navbar-text" ng-show="vm.unit.status === 'draft'">Draft</h6>
                            <h6 class="navbar-text" ng-show="vm.unit.status === 'published'">Published</h6>
                            <h6 class="navbar-text green" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Saving</h6>
                        </div>
                    </div>
                    
                    <button class="btn btn-default" type="button" ng-click="vm.save(vm.form.unitForm.$valid, true)">{{vm.unit.status === 'published' ? 'Revert to draft' : 'Save draft' }}</button>
                    
                    <button class="btn {{vm.unit.status === 'published' ? 'btn-primary' : 'btn-success' }}" type="submit" ng-disabled="!vm.valid && !vm.saving">{{vm.unit.status === 'published' ? 'Update unit' : 'Publish unit' }}</button>
                    
                    <button class="btn btn-danger pull-right" ng-click="vm.openDeleteUnit()" ng-disabled="vm.unit.hasLessons === true" title="{{(vm.unit.hasLessons === true) ? 'This Unit cannot be deleted because it has Lessons' : ''}}" ng-show="vm.unit._id">Delete</button>
                    <hr/>
                </div>
            </fieldset>
        </form>
    </section>
</section>

<!-- MODALS -->
<delete-unit-modal callback-function="vm.confirmDeleteUnit"></delete-unit-modal>
<!--END MODALS-->
