<div class="jumbotron text-center">
    <section class="content">
        <section class="container-fluid">
            <h2>Units</h2>
        </section>
    </section>
</div>
<section class="content">
    <section class="container-fluid">
        <nav class="navbar" view-permissions="admin">
            <a class="btn btn-default pull-right" ui-sref="units.create">
                <i class="glyphicon glyphicon-plus"></i> Create new unit
            </a>
            <ul class="nav navbar-nav">
              <li class="dropdown" id="publishedStatusSelection" ng-show="vm.isAdmin">
                  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      {{vm.filter.publishedStatus | capitalize}} <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a ok-sel=".Published" ng-click="vm.publishedStatusSelected('published')">Published</a></li>
                    <li><a ok-sel=".Drafts" ng-click="vm.publishedStatusSelected('drafts')">Drafts</a></li>
                  </ul>
              </li>
            </ul>
        </nav>
        <div class="row" isotope-container="isotope-container">
            <div ng-repeat="unit in vm.units track by unit._id" isotope-item="isotope-item" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 library-item">
                <div class="panel" ui-sref="units.view({ unitId: unit._id })">
                    <!-- <div class="panel-heading" style="background-color: #f4f7f8">
                      <span class="text-muted">subunit of
                          <span ng-repeat="parent in unit.parentUnits" style="color: {{parent.color}}">
                            <i class="{{parent.icon}}"></i> <b>{{parent.title}}</b></span>
                            <span ng-show="!$last">,</span>
                      </span>
                    </div> -->
                    <div class="panel-body text-center" style="color: {{unit.color}}">
                        <h1 ng-show="unit.icon"><i class="{{unit.icon}}"></i></h1>
                        <h2>{{unit.title}}</h2>
                        <h6>
                          {{unit.lessons.length}} Lessons<span ng-show="unit.subUnits && unit.subUnits.length > 0"> | {{unit.subUnits.length}} Sub Units</span>
                        </h6>
                    </div>
                    <div class="panel-footer" ng-show="unit.status === 'draft'"><!--(unit.parentUnits && unit.parentUnits.length > 0) || -->
                        <!--<h4 class="text-center" ng-show="unit.parentUnits && unit.parentUnits.length > 0">
                            <small class="text-muted">sub unit of</small><br/>
                            <div ng-repeat="parent in unit.parentUnits" style="color: {{parent.color}}">
                                <i class="{{parent.icon}}"></i> <b>{{parent.title}}</b>
                            </div>
                        </h4>-->
                        <h6 class="text-center">Draft</h6>
                    </div>
                </div>
            </div>
            <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 library-item" isotope-item="isotope-item" view-permissions="admin">
                <div class="panel panel-default" ui-sref="units.create">
                    <div class="panel-body text-center text-muted">
                        <h1 class="glyphicon glyphicon-plus" aria-hidden="true"></h1>
                        <h4>Create new unit</h4>
                    </div>
                </div>
            </div>-->
        </div>
        <!-- ng-if="vm.units.$resolved && !vm.units.length"    to show if no units -->
    </section>
</section>
