<div class="modal fade" id="modal-sequence-subunits" tabindex="-1" role="dialog">
<!--TODO: Wire up to enable drag and drop -- numbers should automatically update. Shouldn't save until "Save" button is clicked-->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit sub unit sequence</h4>
                <p>Drag and drop the rows to change the order of the sub units in this unit. Unpublished sub units will not show and their number will be skipped in the published unit's list of sub units.</p>
            </div>
            <div class="modal-body dnd">
                <div class="row">
                  <div class="col-sm-12">
                    <ul dnd-list="subUnits">
                        <li ng-repeat="sub in subUnits"
                          dnd-draggable="sub"
                          dnd-moved="subUnits.splice($index, 1)"
                          dnd-effect-allowed="move"
                          dnd-selected="selected = sub"
                          ng-class="{'selected': selected === sub}">
                          <div class="col-md-1">
                            <h4 ng-class="{'blue': sub.status === 'published', 'gray': sub.status !== 'published'}"><b>{{($index+1)}}</b></h4>
                          </div>
                          <div class="col-md-3">
                            <h4 ng-class="{'text-muted': sub.status !== 'published'}"><i class="{{sub.icon}} {{sub.color}}"></i> {{sub.title}}</h4>
                          </div>
                          <div class="col-md-3" ng-class="{'text-muted': sub.status !== 'published'}"><b>{{sub.lessons.length}}</b> Lessons</div>
                          <div class="col-md-3" ng-class="{'text-muted': sub.status !== 'published'}"><b>{{sub.subUnits.length}}</b> Sub Units</div>
                          <div class="col-md-2 text-right">
                            <span class="label"
                              ng-class="{'label-success': sub.status === 'published','label-default': sub.status === 'draft'}">
                              {{sub.status | capitalize}}
                            </span>
                          </div>
                        </li>
                      </ul>
                  </div>
                </div>
              <!--<div class="alert alert-danger" ng-show="error.length > 0">
                  <h4>Sorry, you can't submit just yet!</h4>
                  <ul class="list-unstyled">
                    <li ng-repeat="e in error"><i class="glyphicon glyphicon-remove-sign"></i> {{ e }}</li>
                  </ul>
              </div>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Close</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
            </div>
        </div>
    </div>
</div>
