<div class="jumbotron" style="background: {{vm.unit.color}}">
    <section class="content">
        <section class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 box text-center" style="color: {{vm.unit.color}}">
                    <h1><i class="fa-2x {{vm.unit.icon}}"></i></h1>
                    <h2>{{vm.unit.title}}</h2>
                    <h6>5 Lessons | 14 Sub Units</h6>
                </div>
            </div>
        </section>
    </section>
</div>

<section class="content">
    <section class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="alert alert-info">This unit is a sub unit of <a href="#"><b>Tree Unit</b></a> and <a href="#"><b>Plant Unit</b></a></div>
                <!--
                <h5 ng-show="vm.unit.user">
                    <img ng-show="vm.unit.user.profileImageURL" ng-src="{{vm.unit.user.profileImageURL}}" alt="{{vm.unit.user.displayName}}" class="header-profile-image" />
                    <b><a ng-click="vm.openViewUserModal()">{{vm.unit.user.displayName}}</a></b><br>
                    <a href="mailto:{{vm.unit.user.email}}">{{vm.unit.user.email}}</a>
                </h5>
                <p ng-bind="vm.unit.created | date:'mediumDate'"></p>
                -->
            </div>
            <div class="col-sm-4 text-right">
                <a class="btn btn-primary" ui-sref="{{vm.editLink}}" ng-show="vm.unit.isCurrentUserOwner">
                    {{vm.unit.status === 'published' ? 'Unpublish and edit' : 'Edit'}}</a>
                <a class="btn btn-default" ng-click="vm.openUnitFeedback()" ng-hide="vm.unit.isCurrentUserOwner">Send feedback</a>
                <!-- TODO: Wire up download 
                <a class="btn btn-default" data-toggle="modal" data-target="#modal-download">Download</a>-->
            </div>
        </div>
    </section>
</section>

<section class="content">
    <section class="container">
        <div class="row">
            <div class="col-sm-8" ng-show="vm.lessons.length > 1">
                <h3 class="blue">Lessons</h3><br/>
                <table class="table table-hover table-condensed table-responsive">
                    <tr ng-repeat="lesson in vm.lessons" ui-sref="lessons.view({ lessonId: lesson._id })">
                      <td><h4 class="blue"><b>1</b></h4></td>
                      <td>
                        <h4>{{lesson.title}}</h4><br/>
                        <img ng-show="lesson.user.profileImageURL" ng-src="{{lesson.user.profileImageURL}}" alt="{{lesson.user.displayName}}" class="header-profile-image" />
                        {{lesson.user.displayName}}
                      </td>
                      <td>
                        <b>Setting:</b> {{lesson.lessonOverview.setting}}<br/><b>Grade:</b> {{lesson.lessonOverview.grade}}
                      </td>
                      <td ng-show="lesson.stats.teamLeadCount > 0"><i class="fa fa-check"></i> Taught by <b>{{lesson.stats.teamLeadCount}}</b> teachers<td/>
                      <td>
                        <ul class="list-inline">
                            <li ng-repeat="subject in lesson.lessonOverview.subjectAreas">
                                <span ng-style="{'background-color':'{{subject.color}}'}" ng-bind="subject.subject"
                                class="label label-default"></span>
                            </li>
                        </ul>
                      </td>
                    </tr>
                </table>
                
                <h3 class="blue">Sub Units</h3><br/><!-- ng-show="vm.subunits.length > 1"-->
                <table class="table table-hover table-responsive">
                    <tr ui-sref="unit.view({ unitId: unit._id })">
                      <td><h4 class="blue"><b>1</b></h4></td>
                      <td>
                        <h4><i class="fa fa-tree green"></i> Unit Title</h4>
                      </td>
                      <td><b>5</b> Lessons</td>
                    </tr>
                </table>
            </div>
            
            <div class="col-md-4">
                <h3>Highlights</h3>
                <p>This should be a text box like the Background in the Lesson Plan Template -- needs full WYSIWYG editor.</p>
                
                <h3>Rationale</h3>
                <p>This should be a text box like the Background in the Lesson Plan Template -- needs full WYSIWYG editor.</p>
            
                <hr ng-show="(vm.lesson.standards.nycsssUnits && vm.lesson.standards.nycsssUnits.length > 0) ||
                      (vm.lesson.standards.nysssKeyIdeas && vm.lesson.standards.nysssKeyIdeas.length > 0) ||
                      (vm.lesson.standards.nysssMajorUnderstandings && vm.lesson.standards.nysssMajorUnderstandings.length > 0) ||
                      (vm.lesson.standards.nysssMst && vm.lesson.standards.nysssMst.length > 0) ||
                      (vm.lesson.standards.ngssDisciplinaryCoreIdeas && vm.lesson.standards.ngssDisciplinaryCoreIdeas.length > 0) ||
                      (vm.lesson.standards.ngssScienceEngineeringPractices && vm.lesson.standards.ngssScienceEngineeringPractices.length > 0) ||
                      (vm.lesson.standards.ngssCrossCuttingConcepts && vm.lesson.standards.ngssCrossCuttingConcepts.length > 0) ||
                      (vm.lesson.standards.cclsMathematics && vm.lesson.standards.cclsMathematics.length > 0) ||
                      (vm.lesson.standards.cclsElaScienceTechnicalSubjects && vm.lesson.standards.cclsElaScienceTechnicalSubjects.length > 0)"/>

                <div class="row">
                  <div class="col-sm-12" id="lesson-standards"
                    ng-show="(vm.lesson.standards.nycsssUnits && vm.lesson.standards.nycsssUnits.length > 0) ||
                          (vm.lesson.standards.nysssKeyIdeas && vm.lesson.standards.nysssKeyIdeas.length > 0) ||
                          (vm.lesson.standards.nysssMajorUnderstandings && vm.lesson.standards.nysssMajorUnderstandings.length > 0) ||
                          (vm.lesson.standards.nysssMst && vm.lesson.standards.nysssMst.length > 0) ||
                          (vm.lesson.standards.ngssDisciplinaryCoreIdeas && vm.lesson.standards.ngssDisciplinaryCoreIdeas.length > 0) ||
                          (vm.lesson.standards.ngssScienceEngineeringPractices && vm.lesson.standards.ngssScienceEngineeringPractices.length > 0) ||
                          (vm.lesson.standards.ngssCrossCuttingConcepts && vm.lesson.standards.ngssCrossCuttingConcepts.length > 0) ||
                          (vm.lesson.standards.cclsMathematics && vm.lesson.standards.cclsMathematics.length > 0) ||
                          (vm.lesson.standards.cclsElaScienceTechnicalSubjects && vm.lesson.standards.cclsElaScienceTechnicalSubjects.length > 0)">
                    <h3>Standards
                      {{vm.standardCount}}</h3>
                  </div>
                  <div class="{{vm.standardClass}}" ng-show="vm.lesson.standards.nycsssUnits && vm.lesson.standards.nycsssUnits.length > 0">
                    <b>NYC Science Scope &amp; Sequence - Units</b>
                    <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
                    <!-- <span><a href="https://www.engageny.org/sites/default/files/resource/attachments/8m4.2.pdf" target="_blank">{{vm.lesson.standards.nycScienceScopeSequence}}</a></span> -->
                    <ul>
                      <li ng-repeat="standard in vm.lesson.standards.nycsssUnits">
                        <span>{{standard.header}}
                          -
                          {{standard.description}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="{{vm.standardClass}}" ng-show="vm.lesson.standards.nysssKeyIdeas && vm.lesson.standards.nysssKeyIdeas.length > 0">
                    <b>NYS Science Standards - Key Ideas</b>
                    <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
                    <!-- <span><a href="http://www.nextgenscience.org/next-generation-science-standards" target="_blank">{{vm.lesson.standards.ngssStandards}}</a></span> -->
                    <ul>
                      <li ng-repeat="standard in vm.lesson.standards.nysssKeyIdeas">
                        <span>{{standard.header}}
                          -
                          {{standard.description}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="{{vm.standardClass}}" ng-show="vm.lesson.standards.nysssMajorUnderstandings && vm.lesson.standards.nysssMajorUnderstandings.length > 0">
                    <b>NYS Science Standards - Major Understandings</b>
                    <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
                    <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.lesson.standards.commonCoreEla}}</a></span> -->
                    <ul>
                      <li ng-repeat="standard in vm.lesson.standards.nysssMajorUnderstandings">
                        <span>{{standard.code}}
                          -
                          {{standard.description}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="{{vm.standardClass}}" ng-show="vm.lesson.standards.nysssMst && vm.lesson.standards.nysssMst.length > 0">
                    <b>NYS Science Standards - MST</b>
                    <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
                    <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.lesson.standards.commonCoreMath}}</a></span> -->
                    <ul>
                      <li ng-repeat="standard in vm.lesson.standards.nysssMst">
                        <span>{{standard.code}}
                          -
                          {{standard.description}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="{{vm.standardClass}}" ng-show="vm.lesson.standards.ngssDisciplinaryCoreIdeas && vm.lesson.standards.ngssDisciplinaryCoreIdeas.length > 0">
                    <b>NGSS - Disciplinary Core Ideas</b>
                    <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
                    <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.lesson.standards.commonCoreMath}}</a></span> -->
                    <ul>
                      <li ng-repeat="standard in vm.lesson.standards.ngssDisciplinaryCoreIdeas">
                        <span>{{standard.header}}
                          -
                          {{standard.description}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="{{vm.standardClass}}" ng-show="vm.lesson.standards.ngssScienceEngineeringPractices && vm.lesson.standards.ngssScienceEngineeringPractices.length > 0">
                    <b>NGSS - Science and Engineering Practices</b>
                    <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
                    <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.lesson.standards.commonCoreMath}}</a></span> -->
                    <ul>
                      <li ng-repeat="standard in vm.lesson.standards.ngssScienceEngineeringPractices">
                        <span>{{standard.header}}
                          -
                          {{standard.description}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="{{vm.standardClass}}" ng-show="vm.lesson.standards.ngssCrossCuttingConcepts && vm.lesson.standards.ngssCrossCuttingConcepts.length > 0">
                    <b>NGSS - Cross-Cutting Concepts</b>
                    <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
                    <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.lesson.standards.commonCoreMath}}</a></span> -->
                    <ul>
                      <li ng-repeat="standard in vm.lesson.standards.ngssCrossCuttingConcepts">
                        <span>{{standard.header}}
                          -
                          {{standard.description}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="{{vm.standardClass}}" ng-show="vm.lesson.standards.cclsMathematics && vm.lesson.standards.cclsMathematics.length > 0">
                    <b>CCLS - Mathematics</b>
                    <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
                    <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.lesson.standards.commonCoreMath}}</a></span> -->
                    <ul>
                      <li ng-repeat="standard in vm.lesson.standards.cclsMathematics">
                        <span>{{standard.code}}
                          -
                          {{standard.description}}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="{{vm.standardClass}}" ng-show="vm.lesson.standards.cclsElaScienceTechnicalSubjects && vm.lesson.standards.cclsElaScienceTechnicalSubjects.length > 0">
                    <b>CCLS - ELA Science &amp; Technical Subjects</b>
                    <!-- TODO: this needs to hold a title and pdf, but right now it's just a string -->
                    <!-- <span><a href="http://www.corestandards.org/ELA-Literacy/" target="_blank">{{vm.lesson.standards.commonCoreMath}}</a></span> -->
                    <ul>
                      <li ng-repeat="standard in vm.lesson.standards.cclsElaScienceTechnicalSubjects">
                        <span>{{standard.code}}
                          -
                          {{standard.description}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
            </div><!--end col-md-4-->
        </div>
    </section>
</section>

    
<!--
<section class="content">
    <section class="container">
        <h2>Stage 1: Desired Results</h2>
        <h3>Enduring Understandings</h3>
        <b>Field Work</b>
        <p ng-bind="vm.unit.stageOne.enduringUnderstandings.fieldWork"></p>
        <b>Science Content</b>
        <p ng-bind="vm.unit.stageOne.enduringUnderstandings.scienceContent"></p>
        <h3>Essential Questions</h3>
        <ul ng-repeat="question in vm.unit.stageOne.essentialQuestions">
            <li ng-bind="question"></li>
        </ul>
        <h3>Acquisition</h3>
        <b>Science Content/Skills</b>
        <p ng-bind-html="vm.unit.stageOne.acquisition.content.science | sanitize"></p>
        <b>Math Content/Skills</b>
        <p ng-bind-html="vm.unit.stageOne.acquisition.content.math | sanitize"></p>
        <b>Field Content/Skills</b>
        <p ng-bind-html="vm.unit.stageOne.acquisition.content.field | sanitize"></p>
        <b>Science Lessons</b>
        <p ng-bind-html="vm.unit.stageOne.acquisition.lessons.science | sanitize"></p>
        <b>Math Lessons</b>
        <p ng-bind-html="vm.unit.stageOne.acquisition.lessons.math | sanitize"></p>
        <b>Field Lessons</b>
        <p ng-bind-html="vm.unit.stageOne.acquisition.lessons.field | sanitize"></p>
        <h2>Stage 2: Evidence</h2>
        <h3>Expectations</h3>
        <ul ng-repeat="expectation in vm.unit.stageTwo.evidence.expectations">
            <li ng-bind="expectation | numberExpectations"></li>
        </ul>
        <p><b>Science and Engineering</b> <span ng-bind-html="vm.unit.stageTwo.evidence.scienceAndEngineering | sanitize"></span></p>
        <p><b>Disciplinary Core Ideas</b> <span ng-bind-html="vm.unit.stageTwo.evidence.disciplinaryCoreIdeas | sanitize"></span></p>
        <p><b>Cross-Cutting Concepts</b> <span ng-bind-html="vm.unit.stageTwo.evidence.crossCuttingConcepts | sanitize"></span></p>
        <h3>Assessment Evidence</h3>
        <b>Research Projects</b>
        <ul ng-repeat="project in vm.unit.stageTwo.assessmentEvidence.researchProjects">
            <li ng-bind="project | researchProjects"></li>
        </ul>
        <p><b>Extensions</b> <span ng-bind-html="vm.unit.stageTwo.assessmentEvidence.extentions | sanitize"></span></p>
    </section>
</section>
-->



<!--MODALS-->
<div class="modal fade" id="modal-download" tabindex="-1" role="dialog"><!--Wire up modal-->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Download <span class="red">{{vm.unit.title}}</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="checkbox"><!--TODO: Pull in all lesson names inside the unit-->
                                <label><input type="checkbox" value="" checked> Lesson #1</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked> Lesson #2</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked> Lesson #3</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked> Lesson #4</label>
                            </div>
                            <hr/>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked> Include all Handouts</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" checked> Include all Teacher Resources</label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Download</button>
            </div>
        </div>
    </div>
</div>
<unit-feedback-modal unit="vm.unit" close-function="vm.closeUnitFeedback"></unit-feedback-modal>
<view-user-modal user="vm.unit.user" close-function="vm.closeViewUserModal"></view-user-modal>
<!-- END MODALS -->
