<section>
    <div class="page-header">
        <div class="pull-right">
            <a class="btn btn-primary" ui-sref="units.edit({ unitId: vm.unit._id })"><!-- not working -->
              <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" ng-click="vm.remove()">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <h1><i class="glyphicon {{vm.unit.icon}}" style="color: {{vm.unit.color}}"></i> {{vm.unit.title}}</h1>
        <small>
            <em class="text-muted">
                Posted on
                <span ng-bind="vm.unit.created | date:'mediumDate'"></span>
                by
                <span ng-if="vm.unit.user" ng-bind="vm.unit.user.displayName"></span>
                <span ng-if="!vm.unit.user">Deleted User</span>
            </em>
        </small>
    </div>

    <h2>Stage 1: Desired Results</h2>

    <h4>Enduring Understandings</h4>
    <p ng-bind="vm.unit.stageOne.enduringUnderstandings"></p>

    <h4>Essential Questions</h4>
    <ul ng-repeat="question in vm.unit.stageOne.essentialQuestions">
        <li ng-bind="question"></li>
    </ul>

    <h4>Acquisition</h4>

        <b>Science Content/Skills</b>
        <ul ng-repeast="scienceContent in vm.unit.stageOne.acquisition.content.science">
            <li ng-bind="scienceContent"></li>
        </ul>

        <b>Math Content/Skills</b>
        <ul ng-repeast="mathContent in vm.unit.stageOne.acquisition.content.math">
            <li ng-bind="mathContent"></li>
        </ul>

        <b>Field Content/Skills</b>
        <ul ng-repeast="fieldContent in vm.unit.stageOne.acquisition.content.field">
            <li ng-bind="fieldContent"></li>
        </ul>

        <b>Science Lessons</b>
        <ul ng-repeast="scienceLesson in vm.unit.stageOne.acquisition.lessons.science">
            <li ng-bind="scienceLesson"></li>
        </ul>

        <b>Math Lessons</b>
        <ul ng-repeast="mathLesson in vm.unit.stageOne.acquisition.lessons.math">
            <li ng-bind="mathLesson"></li>
        </ul>

        <b>Field Lessons</b>
        <ul ng-repeast="fieldLesson in vm.unit.stageOne.acquisition.lessons.field">
            <li ng-bind="fieldLesson"></li>
        </ul>


    <h2>Stage 2: Evidence</h2>

    <h4>Expectations</h4>
    <ul ng-repeat="expectation in vm.unit.stageTwo.evidence.expectations" class="list-group-item">
        <li ng-bind="expectation"></li>
    </ul>
    
    <p><b>Science and Engineering:</b> {{vm.unit.stageTwo.evidence.scienceAndEngineering}}</p>
    <p><b>Disciplinary Core Ideas:</b> {{vm.unit.stageTwo.evidence.disciplinaryCoreIdeas}}</p>
    <p><b>Cross-Cutting Concepts:</b> {{vm.unit.stageTwo.evidence.crossCuttingConcepts}}</p>

    <h4>Assessment Evidence</h4>

    <b>Research Projects</b>
    <ul ng-repeat="project in vm.unit.stageTwo.assessmentEvidence.researchProjects" class="list-group-item">
      <li ng-bind="project"><li>
    </ul>

    <p><b>Extensions:</b> {{vm.unit.stageTwo.assessmentEvidence.extentions}}</p>

</section>
