<div class="modal fade" id="modal-org-lead-remove" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remove organization leads</h4>
            </div>
            <div class="modal-body">
                <!--TIFF: wire up all team/org names in text/labels below -->
                <p>Removing an organization lead will disable all of their permissions to edit and delete the organization and organization leads - so proceed with caution.</p>
                <p>Although they will be removed from managing this organization, they will still have a team lead account inside the <b>New York Public Schools</b> organization to create and manage other teams and orgs.</p>
                <div class="form-group">
                    <label for="">Select the organization lead to remove</label>
                    <select class="form-control">
                        <option>Org Lead</option>
                        <option>Org Lead</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default">Cancel</a>
                <a class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>
</div>
