<div class="modal fade" id="modal-team-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="vm.form.teamProfileForm" ng-submit="vm.save(vm.form.teamProfileForm.$valid)" novalidate>
              <fieldset>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit the <span class="red">{{vm.team.name}}</span> profile</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" show-errors>
                        <label for="name" class="control-label required">Team Name *</label>
                        <input class="form-control" id="name" name="name" ng-model="vm.team.name" required />
                        <div ng-messages="vm.form.teamProfileForm.name.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Team name is required.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">Team Description</label>
                        <textarea class="form-control" id="description" name="description" ng-model="vm.team.description"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="image" class="control-label">Team Photo</label>
                      <single-image-drop-zone uploader="vm.teamPhotoUploader" image-url="vm.teamPhotoURL"
                      image-alt="Team Photo" id="team-image-dropzone"></single-image-drop-zone>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" ng-click="vm.closeTeamProfileForm()">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </fieldset>
            </form>
        </div>
    </div>
</div>
