<section class="content content-flush">
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 shaded">
                <img class="img-circle img-responsive center-block" src="http://4.bp.blogspot.com/_Ffja5A7i53k/TGByUrvTVyI/AAAAAAAAFCQ/xvrmKzmNKc0/s1600/Water+color+changing.png" width="100" />
                <h3 class="text-muted text-center">Sally Smith</h3>
                <p class="text-muted text-center"><b>ssmith</b><br/>sallysmith@email.com</p>
                <hr/>
                <h6>Team</h6><!--TIFF: If more than one, say "Teams"-->
                <h4><a>Team Oyster</a><br/><small><a>Mrs. Sandra Jones</a></small></h4>
                <hr/>
                <h6>Organization</h6>
                <h4><a>New York Public Schools</a><br/><small>New York, NY</small></h4>
                <hr/>
                <a class="btn btn-default btn-block">Edit profile</a>
                <a class="btn btn-default btn-block">Change picture</a>
                <a class="btn btn-default btn-block">Change password</a>
                <hr/>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8">
                <div class="jumbotron" style="background-image: url(http://lh5.googleusercontent.com/8c4xemmDhwV-7T7ZmpZh2y57r6BrNu8n0dQw3GKi3GR4jckdScoY8gPiZdZVjaUILQDr6NIsYgBaOX34XI8Me1SHIQz7pkK94Kd2b6ghVVnXvlMtoD6v3q0iIw)"></div>
                <a class="btn btn-default pull-right">Edit team profile</a>
                <h2>Team Oyster <small><a>New York Public Schools</a></small></h2>
                <hr/>
                <div class="row text-muted">
                    <div class="col-sm-4">
                        <h6><i class="fa fa-user"></i> Team Lead</h6><!--TIFF: If more than one, say "Team Leads"-->
                        <p>
                            <img src="https://tracker.moodle.org/secure/attachment/30912/f3.png" alt="" 
                                class="img-circle pull-left header-profile-image">
                            <b><a>Team Lead</a></b>
                        </p>
                        <p>
                            <img src="https://tracker.moodle.org/secure/attachment/30912/f3.png" alt="" 
                                class="img-circle pull-left header-profile-image">
                            <b><a>Team Lead</a></b>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <h6><i class="fa fa-map-marker"></i> Restoration Stations</h6>
                        <ul class="list-unstyled">
                            <li><a>Baltimore Harbor ORS</a></li>
                            <li><a>NYC Harbor</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h6><i class="fa fa-flask"></i> Published Expeditions</h6>
                        <ul class="list-unstyled">
                            <li><a>September Expedition</a>, Sept 25, 2016</li>
                            <li><a>October Expedition</a>, Oct 5, 2016</li>
                            <li><a>November Expedition</a>, Nov 14, 2016</li>
                        </ul>
                    </div>
                </div>
                <hr />
                <div class="row" isotope-container="isotope-container">
                    <div isotope-item="isotope-item" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 library-item">
                        <div class="panel" data-category="transition" ui-sref="">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <img class="img-circle img-responsive center-block" src="http://4.bp.blogspot.com/_Ffja5A7i53k/TGByUrvTVyI/AAAAAAAAFCQ/xvrmKzmNKc0/s1600/Water+color+changing.png" width="100" />
                                <h3 class="text-muted text-center">Sally Smith</h3>
                            </div>
                            <div class="panel-footer">
                                <p class="text-muted text-center"><b>ssmith</b><br/>sallysmith@email.com</p>
                            </div>
                        </div>
                    </div>
                    <div isotope-item="isotope-item" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 library-item">
                        <div class="panel" data-category="transition" ui-sref="">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <img class="img-circle img-responsive center-block" src="http://4.bp.blogspot.com/_Ffja5A7i53k/TGByUrvTVyI/AAAAAAAAFCQ/xvrmKzmNKc0/s1600/Water+color+changing.png" width="100" />
                                <h3 class="text-muted text-center">Sally Smith</h3>
                            </div>
                            <div class="panel-footer">
                                <p class="text-muted text-center"><b>ssmith</b><br/>sallysmith@email.com</p>
                            </div>
                        </div>
                    </div>
                    <div isotope-item="isotope-item" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 library-item">
                        <div class="panel" data-category="transition" ui-sref="">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <img class="img-circle img-responsive center-block" src="http://4.bp.blogspot.com/_Ffja5A7i53k/TGByUrvTVyI/AAAAAAAAFCQ/xvrmKzmNKc0/s1600/Water+color+changing.png" width="100" />
                                <h3 class="text-muted text-center">Sally Smith</h3>
                            </div>
                            <div class="panel-footer">
                                <p class="text-muted text-center"><b>ssmith</b><br/>sallysmith@email.com</p>
                            </div>
                        </div>
                    </div>
                    <div isotope-item="isotope-item" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 library-item">
                        <div class="panel" data-category="transition" ui-sref="">
                            <div class="panel-heading">
                            </div>
                            <div class="panel-body">
                                <img class="img-circle img-responsive center-block" src="http://4.bp.blogspot.com/_Ffja5A7i53k/TGByUrvTVyI/AAAAAAAAFCQ/xvrmKzmNKc0/s1600/Water+color+changing.png" width="100" />
                                <h3 class="text-muted text-center">Sally Smith</h3>
                            </div>
                            <div class="panel-footer">
                                <p class="text-muted text-center"><b>ssmith</b><br/>sallysmith@email.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
