<section class="content content-flush">
    <section class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-4 shaded">
                <img ng-src="{{vm.user.profileImageURL}}" alt="{{vm.user.displayName}}" class="img-circle img-responsive center-block" width="100" />
                <h3 class="text-center"><a href="#" ng-click="vm.openViewUserModal()">{{vm.user.displayName}}</a></h3>
                <p class="text-muted text-center"><b>{{vm.user.username}}</b><br/>{{vm.user.email}}</p>
                <div class="text-center" ng-show="vm.isTeamLead"><!--TIFF: show if team lead -->
                    <a class="btn btn-success" ng-click="vm.openTeamFormModal()"><i class="fa fa-plus"></i> Create a team</a>
                </div>
                <hr/>
                <div ng-show="vm.teams">
                  <h6>{{vm.teams.length > 1 ? 'Teams' : 'Team'}}</h6><!--TIFF: If more than one, say "Teams"-->
                  <h4 ng-repeat="team in vm.teams">
                    <a>{{team.name}}</a><br/>
                    <!--TIFF: Only show <small> div if user profile is not the team lead of the team listed -->
                    <small ng-show="vm.user.displayName !== team.teamLead.displayName">
                      <a data-toggle="modal" data-target="#modal-profile-user">{{team.teamLead.displayName}}</a></small>
                  </h4>
                  <hr/>
                </div>
                <div ng-show="vm.organization">
                  <h6>Organization</h6>
                  <h4><a>{{vm.organization.name}}</a><br/><small>{{vm.organization.city}}, {{vm.organization.state}}</small></h4>
                  <hr/>
                </div>
                <a class="btn btn-default btn-block" ng-click="vm.openAdminTeamLeadForm()">Edit profile</a>
                  <!--TIFF: Open modal with fields for editing name, username, and email (take from Settings page) -->
                <a class="btn btn-default btn-block">Change picture</a>
                  <!-- TIFF: Open modal with fields for changing profile picture (take from Settings page) -->
                <a class="btn btn-default btn-block" ng-click="vm.openPasswordChanged()">Change password</a>
                  <!-- TIFF: Open password change modal from Settings page -->
                <hr/>
            </div>
            <div class="col-md-9 col-sm-8">
                <br/>
                <!--TIFF: Show if a team lead without teams -->
                <div class="alert alert-info text-center" ng-show="vm.isTeamLead && vm.teams.length === 0">
                    You don't have any teams yet! Why don't you <a href="#" class="btn btn-sm btn-default">create one</a>?
                </div><!-- -->

                <!--TIFF: Show if any team member requests from any of the team lead's teams-->
                <div class="alert alert-success" role="alert" ng-show="vm.teamRequests.length > 0">
                    You have <b>{{vm.teamRequests.length}}</b> team member requests.
                    <a class="btn btn-sm btn-default" ng-click="vm.openApproveTeamMembers()">Respond</a>
                    <!--TIFF: Open modal from Settings -->
                </div>

                <div class="alert alert-success" ng-show="leadRequests && leadRequests.length > 0" role="alert">
                    You have <b>{{leadRequests.length}}</b> new team lead requests.
                    <a class="btn btn-sm btn-default" ng-click="openApproveTeamLeads()">Respond</a>
                    <!--TIFF: Open modal from Settings -->
                </div>


                <!--TIFF: Repeat this div for each Org the user is an Org Lead of (admin accounts shouldn't list all 200 though!)-->
                <div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <img class="img-thumbnail img-responsive" src="http://lh5.googleusercontent.com/8c4xemmDhwV-7T7ZmpZh2y57r6BrNu8n0dQw3GKi3GR4jckdScoY8gPiZdZVjaUILQDr6NIsYgBaOX34XI8Me1SHIQz7pkK94Kd2b6ghVVnXvlMtoD6v3q0iIw" />
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <h2><a href="#" ui-sref="profiles.organization-view({ schoolOrgId: 00000000 })">New York Public Schools</a></h2>
                            <h4 class="text-muted">Organization Type</a></h4>
                            <p>We love to save oysters! Further description ...</p>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h6><i class="fa fa-user"></i> Organization Lead</h6><!--TIFF: If more than one, say "Org Leads"-->
                            <p>
                                <img src="https://tracker.moodle.org/secure/attachment/30912/f3.png" alt=""
                                    class="pull-left header-profile-image">
                                <b><a data-toggle="modal" data-target="#modal-profile-user">Org Lead</a></b>
                            </p>
                            <p>
                                <img src="https://tracker.moodle.org/secure/attachment/30912/f3.png" alt=""
                                    class="pull-left header-profile-image">
                                <b><a data-toggle="modal" data-target="#modal-profile-user">Org Lead</a></b>
                            </p>
                        </div>
                    </div>
                    <nav class="nav nav-default text-right">
                        <!--TIFF: only show buttons if team lead -->
                        <a class="btn btn-default">Edit organization profile</a><!--TIFF: Open edit Org modal from Settings page -->
                        <a class="btn btn-default" ng-click="vm.openInviteOrgLead()">Invite leads</a>
                        <a class="btn btn-danger" ng-click="vm.openDeleteOrgLead()">Remove leads</a>
                        <a class="btn btn-danger">Delete organization</a><!--TIFF: Copy team delete modal from Settings page-->
                    </nav>
                    <hr/>
                </div>


                <!--TIFF: Repeat this div for each Team the user is a Team Lead or Team Member of -->
                <div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <img class="img-thumbnail img-responsive" src="http://lh5.googleusercontent.com/8c4xemmDhwV-7T7ZmpZh2y57r6BrNu8n0dQw3GKi3GR4jckdScoY8gPiZdZVjaUILQDr6NIsYgBaOX34XI8Me1SHIQz7pkK94Kd2b6ghVVnXvlMtoD6v3q0iIw" />
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <h2><a href="#" ui-sref="profiles.team-view({ teamId: 0000 })">Team Oyster</a></h2>
                            <h4><a href="#" ui-sref="profiles.organization-view({ schoolOrgId: 00000000 })">New York Public Schools</a></h4>
                            <p>We love to save oysters! Further description ...</p>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <br/>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h6><i class="fa fa-user"></i> Team Lead</h6><!--TIFF: If more than one, say "Team Leads"-->
                                    <p>
                                        <img src="https://tracker.moodle.org/secure/attachment/30912/f3.png" alt=""
                                            class="pull-left header-profile-image">
                                        <b><a data-toggle="modal" data-target="#modal-profile-user">Team Lead</a></b>
                                    </p>
                                    <p>
                                        <img src="https://tracker.moodle.org/secure/attachment/30912/f3.png" alt=""
                                            class="pull-left header-profile-image">
                                        <b><a data-toggle="modal" data-target="#modal-profile-user">Team Lead</a></b>
                                    </p>
                                </div>
                                <div class="col-sm-4">
                                    <h6><i class="fa fa-map-marker"></i> Restoration Stations</h6>
                                    <ul class="list-unstyled">
                                        <li><a>Baltimore Harbor</a></li>
                                        <li><a>NYC Harbor</a></li>
                                        <li><a>East Side</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <h6><i class="fa fa-flask"></i> Published Expeditions</h6>
                                    <ul class="list-unstyled">
                                        <li><a>September Expedition</a></li>
                                        <li><a>October Expedition</a></li>
                                        <li><a>November Expedition</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <nav class="nav nav-default text-right"><!--TIFF: only show buttons if team lead -->
                        <a class="btn btn-default" ng-click="vm.openTeamProfileForm()">Edit team profile</a>
                        <a class="btn btn-default" ng-click="vm.openInviteTeamLead()">Invite leads</a>
                        <a class="btn btn-default">Add members</a><!--TIFF: Open add members modal from Settings page -->
                        <a class="btn btn-default">Import members</a><!--TIFF: Open import members modal from Settings page -->
                        <a class="btn btn-danger" ng-click="vm.openDeleteTeamLead()">Remove leads</a>
                        <a class="btn btn-danger">Delete team</a><!--TIFF: Open team delete modal from Settings page-->
                    </nav>
                    <hr/>
                </div>
            </div>
        </div>
    </section>
</section>

<view-user-modal user="vm.user" teams="vm.teams" organization="vm.organization" close-function="vm.closeViewUserModal"></view-user-modal>
<form-admin-team-lead-modal user="vm.user" teams="teams" close-function="vm.closeAdminTeamLeadForm"></form-admin-team-lead-modal>
<form-team-member-modal team-member="vm.user" close-function="vm.closeFormTeamMember"></form-team-member-modal>
<change-password-modal callback-function="vm.passwordChanged"></change-password-modal>
<invite-org-lead-modal close-function="vm.closeInviteOrgLead"></invite-org-lead-modal>
<delete-org-lead-modal close-function="vm.closeDeleteOrgLead"></delete-org-lead-modal>
<form-team-profile-modal close-function="vm.closeTeamProfileForm"></form-team-profile-modal>
<invite-team-lead-modal close-function="vm.closeInviteTeamLead"></invite-team-lead-modal>
<delete-team-lead-modal close-function="vm.closeDeleteTeamLead"></delete-team-lead-modal>
