<div class="modal fade" id="modal-profile-user" tabindex="-1" role="dialog">
    <!--TODO: Finish wiring up view, about half done -->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <img ng-src="{{user.profileImageURL}}" alt="{{user.displayName}}" class="img-circle img-responsive" width="100">
                    </div>
                    <div class="col-md-4">
                        <h3>{{user.displayName}}</h3>
                        <h6>{{roles}}</h6>
                        <p class="text-muted"><b>{{user.username}}</b><br/><a href="mailto:">{{user.email}}</a></p>
                    </div>
                    <div class="col-md-3">
                        <br/>
                        <h6>{{teams.length > 1 ? 'Teams' : 'Team'}}</h6>
                        <h4 ng-repeat="team in teams">
                            <a>{{team.name}}</a><br/>
                            <small ng-show="user.displayName !== team.teamLead.displayName"><a>{{team.teamLead.displayName}}</a></small>
                        </h4>
                    </div>
                    <div class="col-md-3">
                        <br/>
                        <h6>Organization</h6>
                        <h4><a>{{organization.name}}</a><br/><small>{{organization.city}}, {{organization.state}}</small></h4>
                    </div>
                </div>
                <hr/>

                <nav class="nav nav-default text-right" ng-show="isAdmin">
                    <h6 class="pull-left" ng-show="isUserPending">Pending&nbsp;&nbsp;</h6><!-- ng-show="{{member.pending === true}}" -->
                    <a class="btn btn-primary pull-left" ng-show="isUserPending && !reminderSent"
                      ng-click="sendReminder()"><i class="fa fa-envelope"></i> Send reminder</a><!-- ng-show="{{member.pending === true}}" -->
                    <h6 class="green pull-left" ng-show="reminderSent">
                      <i class="fa fa-check"></i> Reminder sent</h6><!-- ng-show="{{member.pending === true}}" -->
                    <a class="btn btn-default" ng-click="openUserForm()">Edit profile</a>
                    <a class="btn btn-danger" ng-click="openUserDelete()">Delete</a>
                    <hr/>
                </nav>
            </div>

            <!-- Show if profile is a Team Member Profile, (not if viewer's role is team member)-->
            <div class="modal-body">
              <div ng-show="isUserTeamMember">
                <div class="row">
                    <!--TODO: Change to only be published expeditions -->
                    <div class="col-sm-6" ng-show="expeditions">
                        <dl class="dl-horizontal">
                            <dt>Expeditions</dt>
                            <dd ng-repeat="expedition in expeditions">
                              <a ui-sref="expeditions.view({ expeditionId: expedition._id })">
                                {{expedition.name}}</a></dd>
                              <!--Could add in what protocols they were assigned to if applicable:
                              <a>Nov Expedition</a>: Protocols 1-3
                              -->
                        </dl>
                    </div>

                    <!--To be wired up once we build out the Research section
                    <div class="col-sm-6" ng-hide="true">
                        <dl class="dl-horizontal">
                            <dt>Research</dt>
                            <dd><a>Project 1</a></dd>
                            <dd><a>Project 2</a></dd>
                        </dl>
                    </div>
                    -->
                </div>
            </div>

            <!-- Show if Profile is a Team Lead Profile, (not if viewer's role is team lead)-->
            <div ng-show="isUserTeamLead">
              <div class="row">
                  <!--TODO: Change to only be published expeditions -->
                  <div class="col-sm-6">
                      <dl class="dl-horizontal">
                          <dt>Expeditions</dt>
                          <dd ng-repeat="expedition in expeditions">
                            <a ui-sref="expeditions.view({ expeditionId: expedition._id })">
                              {{expedition.name}}</a></dd>
                          <!--TODO: Show if not a part of any Expeditions
                          <dd><em>none</em></dd>
                          -->
                      </dl>
                  </div>

                  <!--TODO: Wire up to show ORS that the Profile has created -->
                  <div class="col-sm-6">
                      <dl class="dl-horizontal">
                          <dt>ORS</dt>
                          <dd><a>ORS 1</a></dd>
                          <dd><a>ORS 2</a></dd>
                          <dd><a>ORS 3</a></dd>
                      </dl>
                  </div>
              </div>
              <hr/>
              <div class="row">
                  <!--TODO: Wire up to show events the Profile registered for, add <i>s if the Profile was marked as attended -->
                  <div class="col-sm-6">
                      <dl class="dl-horizontal">
                          <dt>Events <i class="fa fa-question-circle gray" title="A green check mark beside the event name shows that the user was marked in attendance"></i></dt>
                          <dd><i class="fa fa-check green"></i> <a>Event 1</a></dd>
                          <dd><a>Event 2</a></dd>
                          <dd><a>Event 3</a></dd>
                          <dd><em>none</em></dd><!--TODO: Show if none -->
                      </dl>
                  </div>

                  <!--TODO: Wire up to show lessons that the Profile has marked that they taught in the Lesson Taught form -->
                  <div class="col-sm-6">
                      <dl class="dl-horizontal">
                          <dt>Lessons Taught</dt>
                          <dd><a>Lesson #1</a></dd>
                          <dd><a>Lesson #2</a></dd>
                          <dd><a>Lesson #3</a></dd>
                          <dd><em>none</em></dd><!--TODO: Show if none -->
                      </dl>
                  </div>

                  <!--Wire up once we figure out where this data comes from --
                  <div class="col-sm-4">
                      <dl class="dl-horizontal">
                          <dt>Grade levels</dt>
                          <dd>9th-12th</dd><!--not sure where this should come from --

                          <dt>Subjects</dt>
                          <dd>English, Science</dd><!--not sure where this should come from --

                          <dt>Students</dt>
                          <dd>25</dd><!--sum total of all their teams--
                      </dl>
                  </div>
                  -->
              </div>
              <hr/>
              <div class="row">
                  <!--TODO: Wire up, Add motivations dropdown to Team Lead signup form, only visible here to admin -->
                  <div class="col-sm-12" ng-show="isAdmin">
                      <dl class="dl-horizontal">
                          <dt>Motivations</dt>
                          <dd>...</dd>
                          <dd>...</dd>
                          <dd>...</dd>
                      </dl>
                  </div>
              </div>
            </div>
          </div>

            <form-admin-team-lead-modal user="user" close-function="closeAdminTeamLeadForm"></form-admin-team-lead-modal>
            <delete-admin-team-lead-modal user="user" close-function="closeDeleteAdminTeamLead"></delete-admin-team-lead-modal>
            <form-team-member-modal team-member="user" teams="teams" close-function="closeFormTeamMember"></form-team-member-modal>
            <delete-team-member-modal team-member="user" close-function="closeDeleteTeamMember"></delete-team-member-modal>
        </div>
    </div>
</div>
