<div class="modal fade" id="modal-team-member-requests" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Team Member Requests</h4>
      </div>
      <div class="modal-body" ng-show="teamRequests.length === 0">
        <p>There are no requests.</p>
      </div>
      <div class="modal-footer" ng-show="teamRequests.length === 0">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      </div>
      <form name="form.approveTeamRequestsForm" ng-submit="save(form.approveTeamRequestsForm.$valid)" novalidate>
        <div class="modal-body" ng-show="teamRequests.length > 0">
          <p>Accepted team members will be invited to join and added to the team you select. Rejected team members will be removed from the list. Don't forget to save your changes!</p>
          <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="request in teamRequests">
              <div class="panel panel-default">
                <div class="panel-body text-center">
                  <img ng-src="{{request.requester.profileImageURL}}" class="profile-image">
                  <h4>{{request.requester.displayName}}</h4>
                  <p class="text-muted small">{{request.requester.email}}</p>
                  <div class="btn-group">
                    <a class="btn btn-success" title="Accept" ng-model="request.approve"
                      uib-btn-radio="true" ng-click="approve()">
                      <i class="glyphicon glyphicon-ok"></i> <span class="hidden">Approve</span></a>
                    <a class="btn btn-danger" title="Reject" ng-model="request.approve"
                      uib-btn-radio="false" ng-click="deny()">
                      <i class="glyphicon glyphicon-remove"></i> <span class="hidden">Reject</span></a>
                  </div>
                  <div ng-show="request.error && (request.approve !== true && request.approve !== false)" class="text-danger">
                    <strong ng-bind="request.error"></strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row" ng-show="getApproveCount() > 0">
            <div class="form-group col-sm-12" show-errors>
              <label for="team" class="control-label" ng-class="{required: getApproveCount() > 0}">Add to a current team</label>
              <select name="team" class="form-control" ng-model="team.teamId" ng-required="getApproveCount() > 0">
                <option disabled selected value>
                <option ng-repeat="team in teams" value="{{team._id}}">{{team.name}}</option>
              </select>
            </div>
          </div>
          <div class="text-danger row" ng-show="error">
            <strong ng-bind="error"></strong>
          </div>
        </div>
        <div class="modal-footer" ng-show="teamRequests.length > 0">
          <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
