<!-- <div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="form-group">
            <div class="input-group">
                <select class="form-control" ng-model="vm.filter.teamId" ng-change="vm.fieldChanged()" name="teamFilter" id="teamFilter">
                    <option value="">Show all teams</option>
                    <option ng-repeat="team in vm.teams" value="{{team._id}}">{{team.name}}</option>
                </select>
                <span class="input-group-btn" ng-show="vm.filter.teamId">
                    <a class="btn btn-danger" ng-click="vm.openDeleteTeam(vm.filter.teamId)">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-6">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input class="form-control col-md-4" type="text" placeholder="Search"
                ng-model="vm.filter.searchString" ng-change="vm.searchChange($event)" />
            </div>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <a class="btn btn-primary" ng-click="vm.openFormTeamMember()">Add members</a>
        <a class="btn btn-primary" ng-click="vm.openImportTeamMembers()">Import members</a>
    </div>
</div>
<div class="alert alert-danger text-center" ng-show="vm.error">
  <p ng-bind="vm.error"></p>
</div>
<div class="alert alert-info text-center" ng-show="vm.members.length === 0 && vm.filter.searchString === ''">
    No team members yet! Why don't you <a href="#" ng-click="vm.openFormTeamMember()">invite some</a>?
</div>
<div class="alert alert-info text-center" ng-show="vm.members.length === 0 && vm.filter.searchString !== '' && !vm.error">
    Sorry, no results found for that search term
</div>
<div class="row" ng-show="vm.teamRequests.length > 0">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">You have <b>{{vm.teamRequests.length}}</b> team member requests. <a class="btn btn-sm btn-default" ng-click="vm.openApproveTeamMembers()">Respond</a></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-verticalalign table-responsive">
            <tr ng-repeat="member in vm.pagedItems">
                <td><img ng-src="{{member.profileImageURL}}" class="profile-image"></td>
                <td><h4>{{member.displayName}}</h4><br /><span class="text-muted">{{member.username}}&nbsp;&nbsp;|&nbsp;&nbsp;{{member.email}}</span></td>
                <td ng-show="{{member.pending === true}}">
                    <em class="text-muted">Pending<br/>
                      <a ng-click="vm.sendReminder(member, member.team.name)" ng-hide="vm.reminderSent &&
                        member._id === vm.memberReminderId">Send reminder</a>
                      <span class="green" ng-show="vm.reminderSent && member._id === vm.memberReminderId">
                        <i class="glyphicon glyphicon-ok"></i> Reminder sent</span>
                    </em>
                </td>
                <td ng-hide="{{member.pending === true}}"></td>
                <td>{{member.team.name}}</td>
                <td class="text-right">
                    <a class="btn btn-default" ng-click="vm.openFormTeamMember(member)">
                      <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-danger" ng-click="vm.openDeleteTeamMember(member)">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </table>
        <div>
            <!-- <uib-pagination boundary-links="true" max-size="8" total-items="vm.members.length" ng-model="vm.currentPage" ng-change="vm.pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination> -->
            <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.members.length" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
        </div>
    </div>
</div>


<!-- MODALS -->
<form-team-member-modal team-member="vm.teamMember" teams="vm.teams" save-function="vm.saveFormTeamMember" cancel-function="vm.cancelFormTeamMember"></form-team-member-modal>
<import-team-members-modal teams="vm.teams" save-function="vm.saveImportTeamMembers" cancel-function="vm.cancelImportTeamMembers"></import-team-members-modal>
<delete-team-member-modal team-member="vm.teamMemberToDelete" delete-function="vm.deleteTeamMember" cancel-function="vm.cancelDeleteTeamMember"></delete-team-member-modal>
<delete-team-modal team="vm.teamToDelete" delete-function="vm.deleteTeam" cancel-function="vm.cancelDeleteTeam"></delete-team-modal>
<approve-team-members-modal team-requests="vm.teamRequests" teams="vm.teams" cancel-function="vm.closeApproveTeamMembers"></approve-team-members-modal>
<!-- END MODALS --> -->
