<div class="row">
    <div class="col-md-3 col-sm-6"><!-- TODO: Wire up filters -->
        <div class="form-group">
            <select class="form-control">
                <option selected>Show all teams</option>
                <option>Team Name 1</option>
                <option>Team Name 2</option>
                <option>Team Name 3</option>
            </select>
        </div>
    </div>
    <div class="col-md-5 col-sm-6"><!-- TODO: Wire up search -->
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </span>
                <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
            </div>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <a class="btn btn-primary" ng-click="vm.openFormTeamMember()">Add members</a>
        <a class="btn btn-primary" ng-click="vm.openImportTeamMembers()">Import members</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">You have <b>3</b> requests to join your team. <a class="btn btn-sm btn-default" ng-click="vm.openApproveTeamMembers()">Respond</a></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12"><!-- TODO: This list should only show a teacher's list of students (Team Members) -->
        <table class="table table-verticalalign table-responsive">
            <tr><!--TODO: Wire up all fields -->
                <td><img ng-src="modules/users/client/img/profile/default.png" class="profile-image" src="modules/users/client/img/profile/default.png"></td><!--TODO: Pull in user's image-->
                <td><h4>Joe Smith</h4><br /><span class="text-muted">jsmith<br/>jsmith@example.com</span></td>
                <td>7th</td>
                <td>Male</td>
                <td>2nd Period</td>
                <td>New Team</td>
                <td class="text-right">
                    <a class="btn btn-default" ng-click="vm.openFormTeamMember()">
                      <i class="glyphicon glyphicon-edit"></i><!--TODO: Put edit screen into a popup modal-->
                    </a>
                    <a class="btn btn-danger" ng-click="vm.openDeleteTeamMember()">
                      <i class="glyphicon glyphicon-trash"></i><!--TODO: Open confirmation popup modal -->
                    </a>
                </td>
            </tr>
            <tr><!--TODO: Wire up all fields -->
                <td><img ng-src="modules/users/client/img/profile/default.png" class="profile-image" src="modules/users/client/img/profile/default.png"></td><!--TODO: Pull in user's image-->
                <td><h4>Joe Smith</h4><br /><span class="text-muted">jsmith<br/>jsmith@example.com</span></td>
                <td>7th</td>
                <td>Male</td>
                <td>2nd Period</td>
                <td>New Team</td>
                <td class="text-right">
                    <a class="btn btn-default" ng-click="vm.openFormTeamMember()">
                      <i class="glyphicon glyphicon-edit"></i><!--TODO: Put edit screen into a popup modal-->
                    </a>
                    <a class="btn btn-danger" ng-click="vm.openDeleteTeamMember()">
                      <i class="glyphicon glyphicon-trash"></i><!--TODO: Open confirmation popup modal -->
                    </a>
                </td>
            </tr>
            <tr><!--TODO: Wire up all fields -->
                <td><img ng-src="modules/users/client/img/profile/default.png" class="profile-image" src="modules/users/client/img/profile/default.png"></td><!--TODO: Pull in user's image-->
                <td><h4>Joe Smith</h4><br /><span class="text-muted">jsmith<br/>jsmith@example.com</span></td>
                <td>7th</td>
                <td>Male</td>
                <td>2nd Period</td>
                <td>New Team</td>
                <td class="text-right">
                    <a class="btn btn-default" ng-click="vm.openFormTeamMember()">
                      <i class="glyphicon glyphicon-edit"></i><!--TODO: Put edit screen into a popup modal-->
                    </a>
                    <a class="btn btn-danger" ng-click="vm.openDeleteTeamMember()">
                      <i class="glyphicon glyphicon-trash"></i><!--TODO: Open confirmation popup modal -->
                    </a>
                </td>
            </tr>
        </table>
        
        <!--TODO: Wire up pagination-->
        <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>







<!-- MODALS -->
<form-team-member-modal team-member="" save-function="vm.saveFormTeamMember" cancel-function="vm.cancelFormTeamMember"></form-team-member-modal>
<import-team-members-modal save-function="vm.saveImportTeamMembers" cancel-function="vm.cancelImportTeamMembers"></import-team-members-modal>
<delete-team-member-modal delete-function="vm.deleteTeamMember" cancel-function="vm.cancelDeleteTeamMember"></delete-team-member-modal>
<approve-team-members-modal close-function="vm.closeApproveTeamMembers" accept-function="vm.acceptTeamMember" reject-function="vm.rejectTeamMember"></approve-team-members-modal>
<!-- END MODALS -->
