<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span><!-- TODO: Need to wire up search and filters-->
                </span>
                <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
            </div>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <a class="btn btn-primary" data-toggle="modal" data-target="#modal-student-editadd">Add student</a><!-- TODO: Wire up modal -->
        <a class="btn btn-primary" data-toggle="modal" data-target="#modal-import">Import class</a><!-- TODO: Wire up modal -->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning" role="alert">You have <b>3</b> student requests to join your team. <a class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal-student-requests">Respond</a></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12"><!-- TODO: This list should only show a teacher's list of students (Team Members) -->
        <table class="table table-verticalalign table-responsive">
            <tr><!--TODO: Wire up all fields -->
                <td><img ng-src="modules/users/client/img/profile/default.png" class="profile-image" src="modules/users/client/img/profile/default.png"></td><!--TODO: Pull in user's image-->
                <td><h4>Joe Smith</h4><br /><span class="text-muted">jsmith<br/>jsmith@example.com</span></td>
                <td>7th</td>
                <td>Male</td>
                <td>2nd Period</td>
                <td>New Team</td>
                <td class="text-right">
                    <a class="btn btn-default" data-toggle="modal" data-target="#modal-student-editadd" ui-sref="settings.admin-user-edit({userId: user._id})">
                      <i class="glyphicon glyphicon-edit"></i><!--TODO: Put edit screen into a popup modal-->
                    </a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#modal-student-delete" ng-click="remove();">
                      <i class="glyphicon glyphicon-trash"></i><!--TODO: Open confirmation popup modal -->
                    </a>
                </td>
            </tr>
            <tr><!--TODO: Wire up all fields -->
                <td><img ng-src="modules/users/client/img/profile/default.png" class="profile-image" src="modules/users/client/img/profile/default.png"></td><!--TODO: Pull in user's image-->
                <td><h4>Joe Smith</h4><br /><span class="text-muted">jsmith<br/>jsmith@example.com</span></td>
                <td>7th</td>
                <td>Male</td>
                <td>2nd Period</td>
                <td>New Team</td>
                <td class="text-right">
                    <a class="btn btn-default" data-toggle="modal" data-target="#modal-student-editadd" ui-sref="settings.admin-user-edit({userId: user._id})">
                      <i class="glyphicon glyphicon-edit"></i><!--TODO: Put edit screen into a popup modal-->
                    </a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#modal-student-delete" ng-click="remove();">
                      <i class="glyphicon glyphicon-trash"></i><!--TODO: Open confirmation popup modal -->
                    </a>
                </td>
            </tr>
            <tr><!--TODO: Wire up all fields -->
                <td><img ng-src="modules/users/client/img/profile/default.png" class="profile-image" src="modules/users/client/img/profile/default.png"></td><!--TODO: Pull in user's image-->
                <td><h4>Joe Smith</h4><br /><span class="text-muted">jsmith<br/>jsmith@example.com</span></td>
                <td>7th</td>
                <td>Male</td>
                <td>2nd Period</td>
                <td>New Team</td>
                <td class="text-right">
                    <a class="btn btn-default" data-toggle="modal" data-target="#modal-student-editadd" ui-sref="settings.admin-user-edit({userId: user._id})">
                      <i class="glyphicon glyphicon-edit"></i><!--TODO: Put edit screen into a popup modal-->
                    </a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#modal-student-delete" ng-click="remove();">
                      <i class="glyphicon glyphicon-trash"></i><!--TODO: Open confirmation popup modal -->
                    </a>
                </td>
            </tr>
        </table>
        
        <!--TODO: Wire up pagination-->
        <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>







<!-- MODALS -->
<div class="modal fade" id="modal-student-editadd" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add a student</h4><!--TODO: If editing, title should read "Edit Firstname Lastname" -->
            </div>
            <div class="modal-body">
                <div class="row">
                    <form><!-- TODO: Wire up form fields -->
                      <fieldset>
                        <div class="form-group col-md-6" show-errors>
                          <label>First Name</label>
                          <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group col-md-6" show-errors>
                          <label>Last Name</label>
                          <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group col-md-12" show-errors>
                          <label>Email</label>
                          <input type="text" class="form-control" required>
                        </div>
                        <div class="form-group col-md-4" show-errors>
                          <label>Gender</label>
                          <select class="form-control">
                            <option disabled selected value>
                            <option>Male</option>
                            <option>Female</option>
                          </select>
                        </div>
                        <div class="form-group col-md-4" show-errors>
                          <label>Grade</label>
                          <select class="form-control">
                            <option disabled selected value>
                            <option>6th</option>
                            <option>7th</option>
                            <option>8th</option>
                            <option>9th</option>
                            <option>10th</option>
                            <option>11th</option>
                            <option>12th</option>
                          </select>
                        </div>
                        <div class="form-group col-md-4" show-errors>
                          <label>Period</label>
                          <select class="form-control">
                            <option disabled selected value>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                          </select>
                        </div>
                        <div class="form-group col-md-12" show-errors>
                          <label>Team assignment</label>
                          <select class="form-control">
                            <option disabled selected value>
                            <option>Team Name 1</option>
                            <option>Team Name 2</option>
                            <option>Team Name 3</option>
                          </select>
                        </div>
                      </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <!--TODO: Wire up buttons. -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Send invite</button><!--TODO: If editing, button should read "Update"-->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-import" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Import a class</h4>
            </div>
            <div class="modal-body">
                <p>Have a large class? Mass import a list of students via a CSV file below.</p>
                <div class="row">
                    <form>
                      <fieldset>
                        <div class="form-group col-md-12" show-errors>
                          <label>CSV File</label>
                          <input type="file" class="form-control" required>
                        </div>
                      </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <!--TODO: Wire up buttons. -->
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">Import</button><!--TODO: If editing, button should read "Update"-->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-student-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure you want to delete {{user's name}}<!--TODO: Wire up name--></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>This action cannot be reversed.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <!--TODO: Wire up button -->
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="vm.remove()">Delete</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-student-requests" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Student Requests</h4>
            </div>
            <div class="modal-body">
                <p>Accepted students will be invited to join and automatically added to your team. Rejected students will be removed from the list.</p>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <img ng-src="modules/users/client/img/profile/default.png" class="profile-image" src="modules/users/client/img/profile/default.png">
                                <h4>Student Name</h4>
                                <p class="text-muted small">email@example.com<br/>7th grade</p>
                                <!-- TODO: Wire up buttons, if either one is clicked, remove its entire div.col-sm-6.col-md-4 from the list and perform action (reject/accept)-->
                                <a class="btn btn-success btn-sm" title="Accept"><i class="glyphicon glyphicon-ok"></i></a>
                                <a class="btn btn-danger btn-sm" title="Reject"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <img ng-src="modules/users/client/img/profile/default.png" class="profile-image" src="modules/users/client/img/profile/default.png">
                                <h4>Student Name</h4>
                                <p class="text-muted small">email@example.com<br/>7th grade</p>
                                <a class="btn btn-success btn-sm" title="Accept"><i class="glyphicon glyphicon-ok"></i></a>
                                <a class="btn btn-danger btn-sm" title="Reject"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <img ng-src="modules/users/client/img/profile/default.png" class="profile-image" src="modules/users/client/img/profile/default.png">
                                <h4>Student Name</h4>
                                <p class="text-muted small">email@example.com<br/>7th grade</p>
                                <a class="btn btn-success btn-sm" title="Accept"><i class="glyphicon glyphicon-ok"></i></a>
                                <a class="btn btn-danger btn-sm" title="Reject"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODALS -->
