<div class="modal fade" id="modal-org-requests" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Organization Requests</h4>
      </div>
      <form name="form.approveSchoolOrgRequestsForm" novalidate>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6" ng-repeat="request in orgRequests">
              <div class="panel panel-default">
                <div class="panel-body text-center">
                  <h4>{{request.schoolOrg.name}}</h4>
                  <p class="text-muted small">{{request.schoolOrg.streetAddress}}, {{request.schoolOrg.city}} {{request.schoolOrg.state}}<br/>Requested by {{request.displayName}}</p>
                  <p class="small">{{request.schoolOrg.description}}</p>
                  <div class="btn-group">
                    <a class="btn btn-success btn-sm" title="Accept" ng-model="request.approve"
                      ng-change="approve(request.schoolOrg)" uib-btn-radio="true">
                      <i class="glyphicon glyphicon-ok"></i></a>
                    <a class="btn btn-danger btn-sm" title="Reject" ng-model="request.approve"
                      ng-change="deny(request.schoolOrg)" uib-btn-radio="false">
                      <i class="glyphicon glyphicon-remove"></i></a>
                  </div>
                  <div ng-show="request.error && (request.approve !== true && request.approve !== false)" class="text-danger">
                    <strong ng-bind="request.error"></strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-danger row" ng-show="error">
            <strong ng-bind="error"></strong>
          </div>
        </div>
        <div class="modal-footer" ng-show="orgRequests.length > 0">
          <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
