<section class="content shaded">
    <section class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6" ng-show="vm.orgPhotoUrl">
                <img class="img-thumbnail img-responsive" ng-src="{{vm.orgPhotoUrl}}" />
            </div>
            <div class="col-lg-3 col-md-6" ng-hide="vm.orgPhotoUrl">
                <div class="well text-center"><i class="fa fa-5x fa-building-o gray"></i></div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h2>{{vm.organization.name}}</h2>
                <h4 class="text-muted">{{vm.capitalizeFirstLetter(vm.organization.organizationType)}}</a></h4>
                <p>{{vm.organization.description}}</p>
            </div>
            <div class="col-lg-6">
                <br/>
                <div class="row">
                    <div class="col-sm-6" ng-hide="vm.organization.orgLeads && vm.organization.orgLeads.length > 0"></div>
                    <div class="col-sm-6" ng-show="vm.organization.orgLeads && vm.organization.orgLeads.length > 0">
                        <h6><i class="fa fa-user"></i> <span class="blue">{{vm.organization.orgLeads.length}}</span> {{(vm.organization.orgLeads.length > 1) ? 'Organization Leads' : 'Organization Lead'}}</h6>
                        <p ng-repeat="orgLead in vm.organization.orgLeads">
                            <img ng-src="{{orgLead.profileImageURL}}" alt="{{orgLead.displayName}}"
                                class="pull-left header-profile-image">
                            <b><a ng-click="vm.openViewUserModal(orgLead)">{{orgLead.displayName}}</a></b>
                            <em class="text-muted" ng-show="(vm.organization.isCurrentUserOrgLead || vm.isAdmin) && orgLead.pending"> Pending<br/>
                              <a ng-click="vm.sendReminder(orgLead)" ng-hide="orgLead.reminderSent">Send reminder</a>
                              <span class="green ng-hide" ng-show="orgLead.reminderSent">
                                <i class="glyphicon glyphicon-ok"></i> Reminder sent</span>
                            </em>
                        </p>
                    </div>
                    <!--TODO: Expose this data:
                    <div class="col-sm-6">
                        <h6><span class="blue">{{vm.org.teams.teamMemberCount}}</span> team members</h6>
                        <h6><span class="blue">{{vm.org.teams.teamLeadCount}}</span> team leads</h6>
                        <h6><span class="blue">{{vm.org.teams.teamCount}}</span> teams</h6>
                    </div>
                    -->
                </div>
            </div>

        </div>
    </section>
</section>

<section class="content">
    <section class="container-fluid">
        <nav class="nav nav-default text-right">
            <div class="form-group col-md-4">
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </span>
                    <input class="form-control col-md-4" type="text" placeholder="Search" ng-model="vm.filter.searchString" ng-change="vm.searchChange($event)" />
                </div>
            </div>

            <a class="btn btn-default" ng-show="vm.organization.isCurrentUserOrgLead || vm.isAdmin" ng-click="vm.openFormOrg()">Edit organization profile</a>
            <a class="btn btn-default" ng-show="vm.organization.isCurrentUserOrgLead || vm.isAdmin" ng-click="vm.openInviteOrgLead()">Invite leads</a>
            <a class="btn btn-danger" ng-show="vm.organization.isCurrentUserOrgLead || vm.isAdmin" ng-click="vm.openDeleteOrgLead()">Remove leads</a>
            <a class="btn btn-danger" ng-show="vm.isAdmin" ng-click="vm.openDeleteForm()">Delete organization</a>
        </nav>
        <hr/>

        <div class="alert alert-success" ng-show="(vm.organization.isCurrentUserOrgLead || vm.isAdmin) &&
          leadRequests && leadRequests.length > 0" role="alert">
            You have <b>{{leadRequests.length}}</b> new org lead requests.
            <a class="btn btn-sm btn-default" ng-click="vm.openApproveOrgLeads()">Respond</a>
        </div>

        <div class="alert alert-info text-center" ng-show="(vm.organization.isCurrentUserOrgLead || vm.isAdmin) && vm.teams.length === 0 && vm.filter.searchString === ''">
            No teams yet! Why don't you <a href="#" ng-click="vm.openFormTeam()">add some</a>?
        </div>

        <div class="row" isotope-container="isotope-container" images-loaded>
            <div ng-repeat="team in vm.teams" isotope-item="isotope-item" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 library-item">
                <div class="panel" data-category="transition" ui-sref="profiles.team-view({ teamId: team._id })">
                    <div class="panel-heading shaded flush" ng-show="team.photo && team.photo.path">
                        <img class="img-responsive" ng-src="{{team.photo.path}}" />
                    </div>
                    <div class="panel-heading shaded" ng-hide="team.photo && team.photo.path">
                        <div class="text-center"><i class="fa fa-4x fa-users gray"></i></div>
                    </div>
                    <div class="panel-body text-center">
                        <h4><b>{{team.name}}</b></h4>
                        <p class="text-muted small">{{team.description | limitTo:200}}</p>
                        <h6>{{team.schoolOrg.name}}</h6>
                        <hr ng-show="team.teamLeads && team.teamLeads.length > 0"/>
                        <p>
                          <team-lead-list-condensed team-leads="team.teamLeads"></team-lead-list-condensed>
                        </p>
                    </div>
                    <div class="panel-footer">
                        <p class="text-center text-muted small">
                            <i class="fa fa-users"></i> <b>{{team.teamMembers.length}}</b> members<br/>
                            <i class="fa fa-flag"></i> <b>{{team.expeditionCount}}</b> expeditions
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


<!--MODALS-->
<form-org-profile-modal organization="vm.organization" close-function="vm.closeFormOrg"></form-org-profile-modal>
<invite-org-lead-modal organization="vm.organization" close-function="vm.closeInviteOrgLead"></invite-org-lead-modal>
<delete-org-lead-modal organization="vm.organization" close-function="vm.closeDeleteOrgLead"></delete-org-lead-modal>
<delete-school-org-modal organization="vm.organization" close-function="vm.closeDeleteForm"></delete-school-org-modal>


<view-user-modal user="vm.userToOpen" organization="vm.organization" close-function="vm.closeViewUserModal"></view-user-modal>
<form-team-profile-modal team="vm.teamToOpen" organization="vm.organization" close-function="vm.closeFormTeam"></form-team-profile-modal>
<!--END MODALS-->
