<section class="content shaded">
    <section class="container">
        <div class="page-header">
            <h1>{{vm.event._id ? 'Edit event' : 'Create new event'}}</h1>
        </div>
        <form name="vm.form.eventForm" ng-submit="vm.save(vm.form.eventForm.$valid)" novalidate>
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" show-errors>
                                    <label class="control-label" for="title">Title *</label>
                                    <input name="title" type="text" ng-model="vm.event.title" id="title"
                                    class="form-control required" placeholder="Title" required/>
                                    <div ng-messages="vm.form.eventForm.title.$error" role="alert">
                                      <p class="help-block error-text" ng-message="required">Title is required.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Location</label>
                                    <a class="btn btn-default btn-block" ng-click="vm.openMap()">Mark location on map</a>
                                    <input class="form-control" type="text" value="{{vm.event.location.addressString}}"
                                    ng-click="vm.openMap()" ng-show="vm.event.location.addressString" readonly/>
                                    <input class="form-control" type="text" value="{{vm.event.location.latitude}}, {{vm.event.location.longitude}}"
                                    ng-click="vm.openMap()" ng-show="vm.event.location.latitude && vm.event.location.longitude" readonly/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="cost">Cost</label>
                                    <textarea name="cost" class="form-control" ng-model="vm.event.cost" id="cost"></textarea>
                                </div>
                                <div class="row">
                                  <div ng-class="{'col-sm-12': vm.eventType !== 'Other',
                                    'col-sm-6': vm.eventType === 'Other'}">
                                    <div class="form-group" show-errors>
                                      <label class="control-label required">Type *</label>
                                      <select class="form-control" name="category" id="category" ng-model="vm.event.category.type._id"
                                      ng-options="type._id as type.type for type in vm.eventTypes" ng-change="vm.changedCategory()"
                                      require></select>

                                      <!-- <select class="form-control" name="category" id="category"
                                      ng-model="vm.event.category.type" ng-change="vm.changedCategory()" required>
                                        <option value="professional development">Professional development</option>
                                        <option value="field training">Field training</option>
                                        <option value="workshop">Workshop</option>
                                        <!-- <option="expedition">Expedition</option> -->
                                        <!-- <option value="other">Other</option>
                                      </select> -->


                                      <div ng-messages="vm.form.eventForm.category.$error" role="alert">
                                        <p class="help-block error-text" ng-message="required">Type is required.</p>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6" ng-show="vm.eventType === 'Other'">
                                    <div class="form-group">
                                      <label class="control-label" ng-class="{required: vm.eventType === 'Other'}">Other type *</label>
                                      <input type="text" class="form-control" ng-model="vm.event.category.otherType"
                                      ng-required="vm.eventType === 'Other'"/>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row" ng-repeat="date in vm.event.dates">
                                  <div class="col-sm-12" ng-show="$index>0">
                                    <hr/>
                                  </div>
                                  <div ng-class="{'col-sm-10': $index>0, 'col-sm-12': $index===0}">
                                      <div class="form-group">
                                          <label class="control-label" for="date-{{$index}}">Date<span ng-show="$index===0"> *</span></label>
                                          <input type="date" class="form-control" name="date-{{$index}}" id="date-{{$index}}"
                                            ng-model="date.date" ng-blur="vm.resetDateValidity('date-'+$index)"/>
                                      </div>
                                  </div>
                                  <div class="col-sm-2" ng-show="$index>0">
                                    <div class="form-group">
                                        <label>&nbsp;</label>
                                        <a class="btn btn-danger form-control" href="" ng-click="vm.removeDate($index)"><i class="fa fa-close"></i></a>
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label class="control-label" for="startTime-{{$index}}">Start Time *</label>
                                          <input type="time" class="form-control" name="startTime-{{$index}}" id="startTime-{{$index}}"
                                          ng-model="date.startTime" ng-blur="vm.resetDateValidity('startTime-'+$index)"/>
                                      </div>
                                  </div>
                                  <div class="col-sm-6">
                                      <div class="form-group">
                                          <label class="control-label" for="endTime-{{$index}}">End Time *</label>
                                          <input type="time" class="form-control" name="endTime-{{$index}}" id="endDate-{{$index}}"
                                          ng-model="date.endTime" ng-blur="vm.resetDateValidity('endTime-'+$index)"/>
                                      </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <a class="btn btn-default btn-block" ng-click="vm.addDate()">Add additional date</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Maximum Capacity</label>
                                            <input type="number" class="form-control" ng-model="vm.event.maximumCapacity"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Deadline to register</label>
                                            <input type="date" class="form-control" ng-model="vm.event.deadlineToRegister"
                                            ng-max="vm.event.startDateTime"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" show-errors>
                                    <wysiwyg-editor name="description" in-title="Description *"
                                    ng-model="vm.event.description" label-class="control-label required"></wysiwyg-editor>
                                    <div ng-messages="vm.form.eventForm.description.$error" role="alert">
                                      <p class="help-block error-text" ng-message="required">Description is required.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <wysiwyg-editor name="skillsTaught" in-title="Skills taught"
                                    ng-model="vm.event.skillsTaught" label-class="control-label"></wysiwyg-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="image" class="control-label">Featured Image</label>
                                    <single-image-drop-zone uploader="vm.featuredImageUploader" image-url="vm.featuredImageURL"
                                    image-alt="Featured Image" id="event-featured-image"></single-image-drop-zone>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="vocabulary" class="control-label">Resources</label>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-resources">Add resource</a>
                                </div>
                                <table class="table">
                                  <tr ng-repeat="link in vm.resourceLinks">
                                    <td><i class="glyphicon glyphicon-link text-muted"></i> {{link.name}}</td>
                                    <td>{{link.link}}</td>
                                    <td>
                                      <a ng-click="vm.deleteResourceLink($index)"><i class="glyphicon glyphicon-remove"></i></a>
                                    </td>
                                  </tr>
                                  <tr ng-repeat="file in vm.resourcesFiles">
                                    <td><i class="glyphicon glyphicon-file text-muted"></i> {{file.originalname}}</td>
                                    <td></td>
                                    <td id="event-resource-files">
                                        <a ng-click="vm.deleteResourceFile($index, file)"><i class="glyphicon glyphicon-remove"></i>
                                    </td>
                                  </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="vm.form.eventForm.$submitted &&
                (vm.form.eventForm.$invalid || vm.error.length > 0)">
                    <h4>Sorry, you can't submit just yet!</h4>
                    <ul class="list-unstyled" ng-repeat="(key, errors) in vm.form.eventForm.$error track by $index">
                        <li ng-repeat="e in errors"><i class="glyphicon glyphicon-remove-sign"></i> <b>{{ e.$name }}</b> is {{ key }}</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li ng-repeat="e in vm.error"><i class="glyphicon glyphicon-remove-sign"></i> {{ e }}</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-default">{{vm.event._id ? 'Update' : 'Create'}}</button>
                <button type="button" class="btn btn-danger pull-right" ng-show="vm.event._id" ng-click="vm.openDeleteEvent()">Delete</button>
            </fieldset>
        </form>
    </section>



    <!--MODALS -->
    <delete-event-modal callback-function="vm.confirmEventLesson"></delete-event-modal>
    <map-select modal-id="modal-event-map" latitude="vm.event.location.latitude"
        longitude="vm.event.location.longitude" address="vm.event.location.addressString"
        can-geocode="true" can-click-map-to-add-marker="true"
        can-move-marker="true" show-marker="true" dismiss-function="vm.closeMap"></map-select>
    <resource-upload-modal resource-files-uploader="vm.resourcesFilesUploader"
    resource-files="vm.resourcesFiles" resource-links="vm.resourceLinks"
    resource-dropzone-id="event-resources-file-dropzone"
    close-function=""></resource-upload-modal>
</section>
