<section class="content shaded">
    <section class="container">
        <div class="page-header">
            <h1>{{vm.event._id ? 'Edit event' : 'Create new event'}}</h1>
        </div>
        <!-- TIFF: Form needs wired up - not sure what is required and what isn't -->
        <form name="vm.form.eventForm" ng-submit="vm.save(vm.form.eventForm.$valid)" novalidate>
            <fieldset>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" show-errors>
                                    <label class="control-label" for="title">Title *</label>
                                    <input name="title" type="text" ng-model="vm.event.title" id="title"
                                    class="form-control required" placeholder="Title" required/>
                                    <div ng-messages="vm.form.eventForm.title.$error" role="alert">
                                      <p class="help-block error-text" ng-message="required">Title is required.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Location</label>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-event-map"
                                    ng-click="vm.openMap()">Mark location on map</a>
                                    <input class="form-control" type="text" value="{{vm.event.location.latitude}}, {{vm.event.location.longitude}}"
                                    data-toggle="modal" data-target="#modal-event-map" ng-click="vm.openMap()"
                                    ng-show="vm.event.location.latitude && vm.event.location.longitude"
                                     readonly/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="cost">Cost</label>
                                    <textarea name="cost" class="form-control" ng-model="vm.event.cost" id="cost"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row" ng-repeat="date in vm.event.dates">
                                  <div class="col-md-5">
                                      <div class="form-group" show-errors>
                                          <label class="control-label">Date</label>
                                          <input type="date" class="form-control" ng-model="date.date"/>
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-5">
                                      <div class="form-group" show-errors>
                                          <label class="control-label">Start Time</label>
                                          <input type="time" class="form-control" ng-model="date.startTime"/>
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-5">
                                      <div class="form-group" show-errors>
                                          <label class="control-label">End Time</label>
                                          <input type="time" class="form-control" ng-model="date.endTime"/>
                                      </div>
                                  </div>
                                  <div class="col-md-1 col-sm-2">
                                    <div class="form-group">
                                      <a href="" ng-click="vm.removeDate($index)" ng-show="$index>0">x</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <a class="btn btn-default btn-block" ng-click="vm.addDate()">Add additional date</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Maximum Capacity</label>
                                            <input type="number" class="form-control" ng-model="vm.event.maximumCapacity"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Deadline to register</label>
                                            <input type="date" class="form-control" ng-model="vm.event.deadlineToRegister"
                                            ng-max="vm.event.startDateTime"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div ng-class="{'col-sm-12': vm.event.category.type !== 'other',
                                    'col-sm-6': vm.event.category.type === 'other'}">
                                    <div class="form-group" show-errors>
                                      <label class="control-label required">Category *</label>
                                      <select class="form-control" name="category" id="category"
                                      ng-model="vm.event.category.type" required>
                                        <option value="professional development">Professional development</option>
                                        <option value="field training">Field training</option>
                                        <option value="workshop">Workshop</option>
                                        <!-- <option="expedition">Expedition</option> -->
                                        <option value="other">Other</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6" ng-show="vm.event.category.type === 'other'">
                                    <div class="form-group">
                                      <label class="control-label" ng-class="{required: vm.event.category.type === 'other'}">Other Category *</label>
                                      <input type="text" class="form-control" ng-model="vm.event.category.otherType"
                                      ng-required="vm.event.category.type === 'other'"/>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" show-errors>
                                    <label class="control-label required" for="description">Description *</label>
                                    <textarea class="form-control" name="description" id="description"
                                    ng-model="vm.event.description" required></textarea>
                                    <div ng-messages="vm.form.eventForm.description.$error" role="alert">
                                      <p class="help-block error-text" ng-message="required">Description is required.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Skills taught</label>
                                    <textarea class="form-control" ng-model="vm.event.skillsTaught"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="image" class="control-label">Featured Image</label>
                                    <single-image-drop-zone uploader="vm.featuredImageUploader" image-url="vm.featuredImageURL"
                                    image-alt="Featured Image" id="event-featured-image"></single-image-drop-zone>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="vocabulary" class="control-label">Resources</label>
                                    <a class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-resources">Add resource</a>
                                </div>
                                <table class="table">
                                  <tr ng-repeat="link in vm.resourceLinks">
                                    <td><i class="glyphicon glyphicon-link text-muted"></i> {{link.name}}</td>
                                    <td>{{link.link}}</td>
                                    <td>
                                      <a ng-click="vm.deleteResourceLink($index)"><i class="glyphicon glyphicon-remove"></i></a>
                                    </td>
                                  </tr>
                                  <tr ng-repeat="file in vm.resourceFiles">
                                    <td><i class="glyphicon glyphicon-file text-muted"></i> {{file.originalname}}</td>
                                    <td></td>
                                    <td id="event-resource-files">
                                        <a ng-click="vm.deleteResourceFile($index, file)"><i class="glyphicon glyphicon-remove"></i>
                                    </td>
                                  </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" ng-show="(vm.error && vm.error.length > 0) ||
                  (vm.form.eventForm.$submitted && vm.form.eventForm.$invalid && vm.form.eventForm.$error)">
                    <h4>Sorry, you can't submit just yet!</h4>
                    <ul class="list-unstyled" ng-repeat="(key, errors) in vm.form.eventForm.$error track by $index">
                        <li ng-repeat="e in errors"><i class="glyphicon glyphicon-remove-sign"></i> <b>{{ e.$name }}</b> is {{ key }}</li>
                    </ul>
                    <ul class="list-unstyled">
                        <li ng-repeat="e in vm.error"><i class="glyphicon glyphicon-remove-sign"></i> {{ e }}</li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-default">{{vm.event._id ? 'Update' : 'Create'}}</button>
                <button type="button" class="btn btn-danger pull-right" ng-show="vm.event._id" ng-click="vm.openDeleteEvent()">Delete</button>
            </fieldset>
        </form>
    </section>



    <!--MODALS -->
    <delete-event-modal callback-function="vm.confirmEventLesson"></delete-event-modal>
    <div class="modal fade" id="modal-event-map" tabindex="-1" role="dialog">
        <map-select modal-id="modal-event-map" latitude="vm.event.location.latitude"
        longitude="vm.event.location.longitude" can-geocode="true" can-click-map-to-add-marker="true"
        can-move-marker="true" show-marker="true" dismiss-function="closeMap"></map-select>
    </div>
    <resource-upload-modal resource-files-uploader="vm.resourceFilesUploader"
    resource-files="vm.resourceFiles" resource-links="vm.resourceLinks"
    close-function=""></resource-upload-modal>
</section>
