<div class="modal fade" id="modal-event-unregister">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">You are no longer registered for the <b class="red">{{event.title}}</b> on <b class="red">{{dateTimeString}}</b></h4>
            </div>
            <div class="modal-body">
                <p>We'll miss you. Let us know if something changes!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
