<!-- <div class="jumbotron" ng-hide="vm.featuredImageURL"></div> -->
<div class="jumbotron" ng-background-image image-url="vm.featuredImageURL" id="view-event">
    <section class="content">
        <section class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 box pull-right text-center">
                    <div class="row">
                        <div ng-class="{'col-xs-6': (vm.past === false && (vm.isAdmin || vm.isTeamLead || vm.notLoggedIn)),
                        'col-xs-12': (vm.past === true || vm.isTeamMember)}">
                            <span ng-show="vm.event.dates && vm.event.dates.length > 1"
                              ng-repeat="date in vm.event.dates">
                              <h3><b>{{vm.getEventDate(date.startDateTime)}}</b>
                                {{vm.getEventYear(date.startDateTime)}}</h3>
                              <h6>{{vm.getEventDayOfWeekLong(date.startDateTime)}}</h6>
                              <h5>{{vm.getEventTimeRange(date.startDateTime, date.endDateTime)}}</h5>
                            </span>

                            <span ng-show="vm.event.dates && vm.event.dates.length === 1" id="singleDateDisplay">
                              <h2><b>{{vm.getEventMonthShort(vm.event.dates[0].startDateTime)}}<br/>
                                <span class="h1">{{vm.getEventDay(vm.event.dates[0].startDateTime)}}</span></b>
                                <br/>{{vm.getEventYear(vm.event.dates[0].startDateTime)}}
                              </h2>
                              <h6>{{vm.getEventDayOfWeekLong(vm.event.dates[0].startDateTime)}}</h6>
                              <h5>{{vm.getEventTimeRange(vm.event.dates[0].startDateTime, vm.event.dates[0].endDateTime)}}</h5>
                            </span>
                        </div>

                        <div class="col-xs-6" ng-show="vm.past === false && (vm.isAdmin || vm.isTeamLead || vm.notLoggedIn)">
                            <span ng-hide="vm.event.isRegistered" id="notRegisteredForEvent">
                              <span ng-show="(!vm.event.maximumCapacity || vm.openSpots > 0) && vm.daysRemainingDeadline >= 0" id="openSpotsLeft">
                                <h1><i class="gray fa fa-calendar-times-o"></i></h1>
                                <h6 ng-show="vm.event.maximumCapacity">
                                  Only {{vm.openSpots}} spots remaining</h6>
                                <a class="btn btn-lg btn-danger" ng-click="vm.registerEvent()"
                                  ng-hide="vm.notLoggedIn">Register now</a>
                                <a class="btn btn-lg btn-danger" ng-click="vm.signinOrRegister()"
                                  ng-show="vm.notLoggedIn">Register now</a>
                              </span>
                              <span ng-hide="(!vm.event.maximumCapacity || vm.openSpots > 0) && vm.daysRemainingDeadline >= 0" id="noOpenSpotsLeft">
                                <h1><i class="gray fa fa-calendar-times-o"></i></h1>
                                <h6>This event is closed or requires sign-up through another system.</h6>
                              </span>
                            </span>

                            <span ng-show="vm.event.isRegistered && (vm.isAdmin || vm.isTeamLead)" id="registeredForEvent">
                              <h1><i class="green fa fa-check"></i></h1>
                              <h6>You are registered!</h6>
                              <a class="btn btn-lg btn-primary" ng-click="vm.unregisterEvent()">Unregister</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<section class="content">
    <section class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="red">{{vm.event.title}}</h2>
            </div>
            <div class="col-sm-4 text-right" ng-show="vm.isAdmin && vm.event.isCurrentUserOwner">
                <a class="btn btn-default" ui-sref="events.edit({ eventId: vm.event._id })" id="editEvent">Edit</a>
                <a class="btn btn-default" ng-click="vm.duplicateEvent()">Duplicate</a>
                <a class="btn btn-primary" ng-click="vm.openEmailRegistrants()">Email registrants</a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p ng-bind-html="vm.event.description | sanitize"></p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <hr/>
                <div class="row text-center">
                    <h4 class="text-muted" ng-class="{'col-sm-3': vm.columns === 4, 'col-sm-4': vm.columns === 3,
                      'col-sm-6': vm.columns === 2}" ng-show="vm.event.location.addressString">
                        <a href="#" ng-click="vm.openMap()">
                            <i class="fa fa-map-marker"></i>
                            <small>{{vm.event.location.addressString}}</small>
                        </a>
                    </h4>
                    <h4 class="text-muted" ng-class="{'col-sm-3': vm.columns === 4, 'col-sm-4': vm.columns === 3,
                      'col-sm-6': vm.columns === 2, 'col-sm-12': vm.columns == 1}">
                        <span ng-show="vm.daysRemainingDeadline > 0 && (vm.openSpots === null || vm.openSpots > 0)" id="daysRemaining">
                          <i class="fa fa-clock-o"></i>
                          <b>{{vm.daysRemainingDeadline}} days</b>
                            <small>left to register</small>
                            <br/><small>Registration deadline {{vm.deadline}}</small>
                        </span>
                        <span ng-show="vm.daysRemainingDeadline === 0 && (vm.openSpots === null || vm.openSpots > 0)" id="registerToday">
                          <i class="fa fa-clock-o"></i>
                          <b>Last day to register!</b>
                          <br/><small>Registration deadline {{vm.deadline}}</small>
                        </span>
                        <span ng-show="vm.daysRemainingDeadline < 0 || (vm.openSpots !== null && vm.openSpots <= 0)" id="registrationClosed">
                          <i class="fa fa-clock-o"></i>
                          <b>This event is closed or requires sign-up through another system. Make sure to check the event description for details. For any questions contact bop.digital.platform@nyharbor.org</b>
                          <br/><small>Registration deadline {{vm.deadline}}</small>
                        </span>
                    </h4>
                    <h4 class="text-muted" ng-class="{'col-sm-3': vm.columns === 4, 'col-sm-4': vm.columns === 3,
                      'col-sm-6': vm.columns === 2}" ng-show="vm.past || vm.today">
                        <span ng-show="vm.today" id="eventIsToday">
                          <b>Event is today</b>
                        </span>

                        <span ng-show="vm.past" id="eventIsOver">
                          <b>Event is over</b>
                        </span>

                    </h4>
                    <h4 class="text-muted" ng-class="{'col-sm-3': vm.columns === 4, 'col-sm-4': vm.columns === 3,
                      'col-sm-6': vm.columns === 2}" ng-show="(!vm.past || (vm.past && vm.isAdmin)) && vm.event.maximumCapacity > 0">
                        <i class="fa fa-users"></i>
                        <b>{{vm.event.registrants.length}}/{{vm.event.maximumCapacity}} full</b>
                    </h4>
                </div>
                <hr/>
            </div>
        </div>
    </section>
</section>

<section class="content">
    <section class="container">
        <div class="row">
            <div class="col-sm-3" ng-show="vm.event.resources && (vm.event.resources.resourcesFiles &&
              vm.event.resources.resourcesFiles.length > 0) || (vm.event.resources.resourcesLinks &&
              vm.event.resources.resourcesLinks.length > 0)">
                <ul class="list-unstyled">
                    <b>Resources</b>
                    <li ng-repeat="file in vm.event.resources.resourcesFiles">
                        <a class="break" download="{{file.originalname}}" target="_blank"
                        ng-href="/api/events/download-file?mimetype={{file.mimetype}}&path={{file.path}}">
                        <i class="glyphicon glyphicon-file"></i> {{file.originalname}}</a>
                    <li>
                    <li ng-repeat="link in vm.event.resources.resourcesLinks">
                        <a class="break" href="{{link.link | urlNormalizer}}" target="_blank">
                        <i class="glyphicon glyphicon-link"></i> {{link.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <p ng-show="vm.event.category.type" id="eventCategory"><b>Type:</b>
                  <span ng-hide="vm.eventType === 'Other'">
                    <i class="fa fa-circle" style="color:{{vm.event.category.type.color}}"></i> {{vm.event.category.type.type}}</span>
                  <span ng-show="vm.eventType === 'Other'">
                    <i class="fa fa-circle" style="color:{{vm.event.category.type.color}}"></i> Other - {{vm.event.category.otherType}}</span>
                </p>
                <p ng-show="vm.event.skillsTaught"><b>Skills taught:</b> <span ng-bind-html="vm.event.skillsTaught | sanitize"></span></p>
                <p ng-show="vm.event.cost"><b>Cost:</b> {{vm.event.cost}}</p>
            </div>
        </div>
    </section>
</section>

<section class="content shaded" ng-show="vm.isAdmin">
    <section class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="blue">Registrants</h3>
                <table class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Team Lead Type</th>
                            <th>Organization</th>
                            <!--<th>Teams</th>-->
                            <th>Email</th>
                            <th>Date Registered</th>
                            <th>Notes</th>
                            <th ng-show="vm.today || vm.past">Attended</th>
                            <!--TIFF: Uncomment when you wire up the unregister button:
                            <th>Unregister</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="registrant in vm.event.registrants">
                            <td>{{registrant.user.displayName}}</td>
                            <td>{{registrant.user.teamLeadType}}</td>
                            <td>{{registrant.user.schoolOrg.name}}</td>
                            <!--<td>{{registrant.user.teams}}</td>-->
                            <td>{{registrant.user.email}}</td>
                            <td>{{vm.getRegistrationDate(registrant.registrationDate)}}</td>
                            <td class="col-sm-3">
                              <a href="#" ng-click="vm.openEventNote(registrant)" ng-hide="registrant.note">
                                <i class="fa fa-comment-o"></i> Add note</a>
                              <a href="#" class="red" ng-click="vm.openEventNote(registrant)" ng-show="registrant.note">
                                <i class="fa fa-comment"></i> {{registrant.note | limitTo: 50}}</a>
                            </td>
                            <td ng-show="vm.today || vm.past" width="85px">
                                <div class="btn-group" role="group">
                                    <a class="btn" ng-class="{'btn-primary': registrant.attended === false,
                                      'btn-shaded': (registrant.attended === undefined || registrant.attended === null ||
                                      registrant.attended === true)}"
                                      ng-click="vm.notAttendedEvent(registrant)"><i class="fa fa-times"></i></a>
                                    <a class="btn" ng-class="{'btn-success': registrant.attended === true,
                                      'btn-shaded': (registrant.attended === undefined || registrant.attended === null ||
                                      registrant.attended == false)}"
                                      ng-click="vm.attendedEvent(registrant)"><i class="fa fa-check"></i></a>
                                </div>
                            </td>
                            <!--TIFF: Wire up
                            <td><a class="btn btn-danger" data-toggle="modal" data-target="#modal-event-adminunregister" title="Unregister"><i class="fa fa-trash"></i></a></td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>


<!-- MODALS -->

<register-event-modal can-register="(vm.isAdmin || vm.isTeamLead) ? true : false"
  event="vm.event" date-time-string="{{vm.dateTimeRangeString}}"
  support-function="vm.openFeedback"></register-event-modal>

<unregister-event-modal event="vm.event" date-time-string="{{vm.dateTimeRangeString}}">
  </unregister-event-modal>

<event-note-modal event="vm.event" registrant="vm.registrantToOpen" close-function="vm.closeEventNote"></event-note-modal>

<email-registrants-modal event="vm.event" date-time-string="{{vm.dateTimeRangeString}}"
  attendees="vm.event.attendees" past="vm.past"></email-registrants-modal>

<redirect-to-signin-modal close-function="vm.signinOrRegisterClose"></redirect-to-signin-modal>

<div class="modal fade" id="modal-event-map">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{vm.event.location.addressString}}</h4>
                <!-- <h5><i class="fa fa-map-marker"></i> <b>{{vm.event.location.addressString}}</b></h5> -->
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                      <leaflet-map map-controls="vm.mapControls" can-click-map-to-add-marker="false"
                        map-click-event="vm.mapClick" marker-drag-end-event="vm.markerDragEnd"
                        can-move-marker="false" show-marker="true"
                        add-points="vm.mapPoints">
                      </leaflet-map>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--TIFF: Wire up -->
<div class="modal fade" id="modal-event-adminunregister">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure you want to unregister <b class="red">{{registrant.user.displayName}}</b> from the <b class="red">{{event.title}}</b> on <b class="red">{{dateTimeString}}</b>?</h4>
            </div>
            <div class="modal-body">
                <p>{{registrant.user.displayName}} will be removed from the event registration. To rejoin the registrant list, they must visit the page and register again.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
