<div class="modal fade" id="modal-delete-user" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" ng-show="canBeDeletedFunction(user)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure you want to delete <span class="red">{{user.displayName}}</span>?</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>This action cannot be reversed.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeFunction()">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="deleteFunction()">Delete</button>
            </div>
        </div>
        <div class="modal-content" ng-show="!canBeDeletedFunction(user)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="red">{{user.displayName}}</span> cannot be deleted</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>This team lead currently leads active teams. To delete the team lead, you must first either delete any current member accounts along with the team or move each one to another team/team lead.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="close()">Close</button>
            </div>
        </div>
    </div>
</div>
