<div class="row">
    <div class="col-md-2 col-sm-4">
        <div class="form-group">
            <select class="form-control" name="role" id="role" ng-model="filter.role"
            ng-change="fieldChanged()">
                <option value="">Show all roles</option>
                <option value="team lead">Team Lead</option>
                <option value="admin">Admin</option>
            </select>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="form-group">
            <select class="form-control" name="schoolOrg" id="schoolOrg" ng-model="filter.organizationId"
              ng-change="fieldChanged()">
                <option value="">Show all organizations</option>
                <option ng-repeat="org in organizations" value="{{org._id}}">{{org.name}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span><!-- TODO: Need to wire up search and filters-->
                </span>
                <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-model="filter.searchString"
                ng-change="searchChange()" />
            </div>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <!-- <a class="btn btn-primary" data-toggle="modal" data-target="#modal-team-lead-editadd">Add team lead</a> TODO-->
        <!-- <a class="btn btn-primary">Import team leads</a> TODO: This should open modal duplicated from "Import Team Members" but with different text-->
    </div>
</div>
<div class="row" ng-show="leadRequests && leadRequests.length > 0">
    <div class="col-md-12">
        <div class="alert alert-success" role="alert">You have <b>{{leadRequests.length}}</b> new team lead requests. <a class="btn btn-sm btn-default" ng-click="openApproveTeamLeads()">Respond</a></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-verticalalign table-responsive">
            <tr ng-repeat="user in pagedItems">
                <td><img ng-src="{{user.profileImageURL}}" class="profile-image"></td>
                <td><h4>{{user.firstName}} {{user.lastName}}</h4><br /><span class="text-muted">{{user.username}}&nbsp;&nbsp;|&nbsp;&nbsp;{{user.email}}</span></td>
                <td>{{(user.schoolOrg) ? user.schoolOrg.name : ''}}</td>
                <td>{{listRoles(user)}}</td>
                <!-- <td>{{listTeams(user)}}</td> -->
                <td><span ng-repeat="team in user.teams"><a ng-click="openAdminTeam(team)">{{team.name}}</a><span ng-if="!$last">, </span></span></td>
                <td class="text-right">
                    <a class="btn btn-default" ng-click="openAdminTeamLeadForm(user)">
                      <i class="glyphicon glyphicon-edit"></i>

                    </a>
                    <a class="btn btn-danger" ng-click="openDeleteAdminTeamLead(user)">
                      <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        </table>

        <uib-pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    </div>
</div>






<!-- MODALS -->
<form-admin-team-lead-modal user="formUser" organizations="organizations" save-function="saveAdminTeamLeadForm" cancel-function="cancelAdminTeamLeadForm"></form-admin-team-lead-modal>
<delete-admin-team-lead-modal user="userToDelete" delete-function="deleteAdminTeamLead" cancel-function="cancelDeleteAdminTeamLead"></delete-admin-team-lead-modal>
<approve-team-leads-modal lead-requests="leadRequests" save-function="saveApproveTeamLeads" cancel-function="closeApproveTeamLeads"></approve-team-leads-modal>
<view-admin-team-modal team="team" close-function="closeAdminTeam"></view-admin-team-modal>
<!-- END MODALS -->
