<div class="modal fade" id="modal-settlementtile{{index}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelForm(index)" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Settlement Tile {{index}}</h4>
            </div>
            <form name="form.tileForm" ng-submit="save(form.tileForm.$valid)" novalidate>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-sm-12">
                          <h6>Sessile organisms observed</h6>
                          <!-- <p class="lead red">Overlay the photograph of the tile with the sample grid.</p> -->
                          <p>Identify the dominant species within each of the 25 grid points. All 25 are required. Record the dominant species in the datasheet.</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                          <table class="table table-responsive table-bordered">
                              <tr>
                                  <td ng-repeat="grid in grids.slice(0,5)">
                                    <h3 class="text-muted">{{$index+1}}</h3><br/>
                                    <div class="form-group">
                                        <label class="required" for="organism{{$index}}">Name *</label>
                                        <select class="form-control" ng-model="grid.organismId" 
                                        name="organism{{$index}}" id="organism{{$index}}"
                                        ng-init="grid.organismId = grid.organismId || sessileOrganisms[0]._id"
                                        ng-options="organism._id as organism.commonName for organism in sessileOrganisms"
                                        required></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Notes or Questions</label>
                                        <input class="form-control" type="text" placeholder="Notes or Questions" id="notes{{$index}}"
                                        ng-model="grid.notes"/>
                                    </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td ng-repeat="grid in grids.slice(5,10)">
                                    <h3 class="text-muted">{{$index+(1+5)}}</h3><br/>
                                    <div class="form-group">
                                        <label class="required" for="organism{{$index+5}}">Name *</label>
                                        <select class="form-control" ng-model="grid.organismId" 
                                        name="organism{{$index+5}}" id="organism{{$index+5}}"
                                        ng-init="grid.organismId = grid.organismId || sessileOrganisms[0]._id"
                                        ng-options="organism._id as organism.commonName for organism in sessileOrganisms"
                                        required></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Notes or Questions</label>
                                        <input class="form-control" type="text" placeholder="Notes or Questions" id="notes{{$index+5}}"
                                        ng-model="grid.notes"/>
                                    </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td ng-repeat="grid in grids.slice(10,15)">
                                    <h3 class="text-muted">{{$index+(1+10)}}</h3><br/>
                                    <div class="form-group">
                                        <label class="required" for="organism{{$index+10}}">Name *</label>
                                        <select class="form-control" ng-model="grid.organismId" 
                                        name="organism{{$index+10}}" id="organism{{$index+10}}"
                                        ng-init="grid.organismId = grid.organismId || sessileOrganisms[0]._id"
                                        ng-options="organism._id as organism.commonName for organism in sessileOrganisms"
                                        required></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Notes or Questions</label>
                                        <input class="form-control" type="text" placeholder="Notes or Questions" id="notes{{$index+10}}"
                                        ng-model="grid.notes"/>
                                    </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td ng-repeat="grid in grids.slice(15,20)">
                                    <h3 class="text-muted">{{$index+(1+15)}}</h3><br/>
                                    <div class="form-group">
                                        <label class="required" for="organism{{$index+15}}">Name *</label>
                                        <select class="form-control" ng-model="grid.organismId" 
                                        name="organism{{$index+15}}" id="organism{{$index+15}}"
                                        ng-init="grid.organismId = grid.organismId || sessileOrganisms[0]._id"
                                        ng-options="organism._id as organism.commonName for organism in sessileOrganisms"
                                        required></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Notes or Questions</label>
                                        <input class="form-control" type="text" placeholder="Notes or Questions" id="notes{{$index+15}}"
                                        ng-model="grid.notes"/>
                                    </div>
                                  </td>
                              </tr>
                              <tr>
                                  <td ng-repeat="grid in grids.slice(20,25)">
                                    <h3 class="text-muted">{{$index+(1+20)}}</h3><br/>
                                    <div class="form-group">
                                        <label class="required" for="organism{{$index+20}}">Name *</label>
                                        <select class="form-control" ng-model="grid.organismId" 
                                        name="organism{{$index+20}}" id="organism{{$index+20}}"
                                        ng-init="grid.organismId = grid.organismId || sessileOrganisms[0]._id"
                                        ng-options="organism._id as organism.commonName for organism in sessileOrganisms"
                                        required></select>
                                    </div>
                                    <div class="form-group">
                                        <label>Notes or Questions</label>
                                        <input class="form-control" type="text" placeholder="Notes or Questions" id="notes{{$index+20}}"
                                        ng-model="grid.notes"/>
                                    </div>
                                  </td>
                              </tr>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" ng-click="cancelForm(index)">Cancel</button>
                  <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
        </div>
    </div>
</div>
