<form name="form.settlementTilesForm" ng-submit="save(form.settlementTilesForm.$valid)" novalidate ng-cloak>
  <section>
    <section class="content">
        <section class="container">
            <h2 id="protocol-4-form">Protocol 4 <small>Sessile Organisms</small></h2>
            <ul>
                <li>To publish this protocol, you must photograph at least ONE settlement tile. Everything else is optional!</li>
                <li>For reference, check out pages
                53-57 in the
                <a href="https://drive.google.com/drive/folders/0Bzf_STNcTtRmM2VubzJaM1dWZEU">Field Manual</a>.</li>
            </ul>
            <hr />
            <div class="alert alert-danger" ng-show="settlementTilesErrors">
                <h4>We're still missing some information.</h4>
                <ul class="list-unstyled" ng-repeat="error in settlementTilesErrors">
                    <li><i class="glyphicon glyphicon-exclamation-sign"></i> {{ error }}</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="collectionTime">Date and time of data collection</label>
                        <input type="datetime-local" class="form-control" name="collectionTime"
                        placeholder="yyyy-MM-ddTHH:mm:ss" min="{{dateTime.min}}" max="{{dateTime.max}}"
                        ng-model="settlementTiles.collectionTime" />
                        <div ng-show="form.settlementTilesForm.collectionTime.$error.min">
                            <p class="red">Collection time must not be more than a year in the past.</p>
                        </div>
                        <div ng-show="form.settlementTilesForm.collectionTime.$error.max">
                            <p class="red">Collection time must not be more than a year in the future.</p>
                        </div>
                    </div>
                    <!--
                    <div class="form-group">
                        <a class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-settlement-tile-map"
                        ng-click="openMap()">Mark location on map</a>
                        <input class="form-control" type="text" value="{{settlementTiles.latitude}}, {{settlementTiles.longitude}}"
                        data-toggle="modal" data-target="#modal-settlement-tile-map" ng-click="openMap()"
                        ng-show="settlementTiles.latitude && settlementTiles.longitude"
                         readonly/>
                    </div>
                -->
                    <div class="form-group">
                        <select-tags outer-column="" name="teamMembers"
                        in-title="Names of team members" ng-model="settlementTiles.teamMembers"
                        label-class="control-label" select-config="teamMemberSelectConfig" ></select-tags>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Notes or other observations</label>
                        <textarea class="form-control" rows="7" ng-model="settlementTiles.notes" ></textarea>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--
    <section class="content shaded">
        <section class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="lead blue">Your group is responsible for recording the sessile organisms growing on each of the four settlement tiles.</p>
                </div>
                <div class="col-md-6">
                    <p>Use the 25-point grid system to locate and ID one organism at the center of each of the 25 cross-hatches (use the overlay diagram). This will result in a total of 25 organism ID entries.</p>
                    <p>When photographing the front surface of the tile, make sure the tile # is visible in the frame of the picture. If need be, clean the surface of the tile just around the # marker.</p>
                </div>
            </div>
        </section>
    </section>
-->
    <section class="content shaded">
        <section class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6" ng-repeat="tile in settlementTiles.settlementTiles">
                    <h4 class="row col-md-12">
                      <i class="glyphicon glyphicon-ok-sign green" ng-show="tile.done"></i>
                      Settlement Tile {{$index+1}}
                    </h4>
                    <div class="form-group">
                        <label>General tile description (condition, damage, sedimentation)</label>
                        <textarea rows="5" class="form-control" ng-model="tile.description" ></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tile photograph <span ng-if="$index==0">*</span></label>
                        <single-image-drop-zone uploader="settlementTilePhotoUploaders[$index]"
                        image-url="tile.imageUrl" image-alt="Settlement Tile #{{$index+1}} Photo"
                        remove-function="removeImage" id="settlement-tile-image-dropzone-{{$index}}"></single-image-drop-zone>
                    </div>
                    <div class="form-group">
                      <a class="btn btn-default btn-block" data-target="#modal-settlementtile{{$index+1}}" id="edit-settlementtile-{{$index}}"
                      ng-click="openSettlementTileForm($index+1)">{{tileStarted(tile)? 'Edit': 'Add' }} Organism ID Entries *</a>
                      <form-settlement-tile grids="grids" sessile-organisms="sessileOrganisms"
                      save-function="saveSettlementTileForm" cancel-function="cancelSettlementTileForm"
                      index="{{$index+1}}"></form-settlement-tile>
                    </div>
                </div>
            </div>
        </section>
    </section>
  </section>
</form>






<!-- MODALS -->
<map-select modal-id="modal-settlement-tile-map" latitude="settlementTiles.latitude"
  longitude="settlementTiles.longitude" can-geocode="true" can-click-map-to-add-marker="true"
  can-move-marker="true" show-marker="true" dismiss-function="closeMap"></map-select>

<!-- <form-settlement-tile ng-repeat="tile in settlementTiles.settlementTiles" settlement-tile="tile" save-function="" cancel-function="" index="{{$index}}"></form-settlement-tile> -->
