<form name="form.settlementTilesForm" ng-submit="st.save(st.form.settlementTilesForm.$valid)" novalidate>
  <section>
    <section class="content">
        <section class="container">
            <h2>Protocol 4 <small>Settlement Tiles</small></h2>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="collectionTime">Date and time of data collection</label>
                        <input type="datetime-local" class="form-control" name="collectionTime"
                        placeholder="yyyy-MM-ddTHH:mm:ss" min="{{st.dateTime.min}}" max="{{st.dateTime.max}}"
                        ng-model="st.protocolSettlementTiles.collectionTime" ng-blur="st.saveOnBlur()"/>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-settlement-tile-map">Mark location on map</a>
                        <input class="form-control" type="text" value="{{st.protocolSettlementTiles.latitude}}, {{st.protocolSettlementTiles.longitude}}"
                        data-toggle="modal" data-target="#modal-settlement-tile-map" ng-show="st.protocolSettlementTiles.latitude && st.protocolSettlementTiles.longitude"
                        ng-blur="st.saveOnBlur()" readonly/>
                    </div>
                    <div class="form-group">
                        <select-tags outer-column="" name="teamMembers"
                        in-title="Names of team members" ng-model="st.protocolSettlementTiles.teamMembers"
                        label-class="control-label" select-config="st.teamMemberSelectConfig" ng-blur="st.saveOnBlur()"></select-tags>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Notes or other observations</label>
                        <textarea class="form-control" rows="7" ng-model="st.protocolSettlementTiles.notes" ng-blur="st.saveOnBlur()"></textarea>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="lead red">Your group is responsible for recording the sessile organisms growing on each of the four settlement tiles.</p>
                </div>
                <div class="col-md-6">
                    <p>Use the 25-point grid system to locate and ID one organism at the center of each of the 25 cross-hatches (use the overlay diagram). This will result in a total of 25 organism ID entries.</p>
                    <p>When photographing the front surface of the tile, make sure the tile # is visible in the frame of the picture. If need be, clean the surface of the tile just around the # marker.</p>
                </div>
            </div>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6" ng-repeat="tile in st.protocolSettlementTiles.settlementTiles">
                    <h4>
                      <i class="glyphicon glyphicon-check" ng-show="tile.done"></i>
                      <i class="glyphicon glyphicon-unchecked red" ng-hide="tile.done"></i>
                      Settlement Tile {{$index+1}}
                    </h4>
                    <div class="form-group">
                        <label>General tile description (condition, damage, sedimentation)</label>
                        <textarea rows="5" class="form-control" ng-model="tile.description" ng-blur="st.saveOnBlur()"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tile photograph</label>
                        <single-image-drop-zone uploader="st.settlementTilePhotoUploaders[$index]"
                        image-url="tile.imageUrl" image-alt="Settlement Tile #{{$index+1}} Photo"></single-image-drop-zone>
                    </div>
                    <!-- TODO: Each opens its own modal-->
                    <a class="btn btn-default btn-sm btn-block" data-target="#modal-settlementtile{{$index+1}}" ng-click="st.openSettlementTileForm($index+1)">Add Organism ID Entries</a>
                    <form-settlement-tile grids="st.grids" sessile-organisms="st.sessileOrganisms"
                    save-function="st.saveSettlementTileForm" cancel-function="st.cancelSettlementTileForm"
                    index="{{$index+1}}"></form-settlement-tile>
                    <!--TODO: Show this button instead if data is already added:
                    <a class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#modal-settlementtile">Edit Organism ID Entries</a>-->
                </div>
            </div>
        </section>
    </section>
    <section class="content">
        <section class="container">
            <!-- <button type="button" class="btn btn-primary">Next</button> -->
            <div ng-show="st.error" class="text-danger">
                <strong ng-bind="st.error"></strong>
            </div>
        </section>
    </section>
  </section>
</form>






<!-- MODALS -->
<div class="modal fade" id="modal-settlement-tile-map" tabindex="-1" role="dialog">
    <map-select modal-id="modal-settlement-tile-map" latitude="st.protocolSettlementTiles.latitude"
    longitude="st.protocolSettlementTiles.longitude" can-click-map-to-add-marker="true"></map-select>
</div>

<!-- <form-settlement-tile ng-repeat="tile in st.protocolSettlementTiles.settlementTiles" settlement-tile="tile" save-function="" cancel-function="" index="{{$index}}"></form-settlement-tile> -->
