<div class="row">
    <div class="col-sm-3">
        <h3 class="blue">
            <i class="fa fa-clock-o pull-left"></i>
            11:39am<br/><small>September 15, 2016</small>
        </h3>
        <h4 class="blue">
            <i class="fa fa-map-marker pull-left"></i>
            <small>40.60873982383701,<br/>-73.51020812988281</small>
        </h4>
    </div>
    <div class="col-sm-3">
        <h5><img class="header-profile-image" src="modules/users/client/img/profile/avatar-gray.png"> Joe Smith</h5>
        <h5><img class="header-profile-image" src="modules/users/client/img/profile/avatar-gray.png"> Sally Martin</h5>
        <h5><img class="header-profile-image" src="modules/users/client/img/profile/avatar-gray.png"> Bob Johnson</h5>
    </div>
    <div class="col-sm-6">
        <p><b>Notes:</b> Bacon ipsum dolor amet ball tip rump tri-tip sausage, fatback leberkas pancetta tenderloin tongue pork loin pork. Jerky meatball sausage tongue, bresaola frankfurter pork chop porchetta capicola biltong chuck cow strip steak. Doner sirloin shankle shoulder bresaola.</p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-3">
        <h3>Settlement Tile 1</h3>
        <img class="img-rounded img-responsive" src="http://wamu.org/sites/wamu.org/files/styles/headline_landscape/public/images/attach/10.03.11news-flickr-oysters-edit_3.jpg?itok=2O8dYEym"/>
        <p><b>Description:</b> Lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <div class="col-sm-9">
        <h6>Sessile Organisms Observed</h6>
        <div class="row">
            <div class="col-sm-3">
                <p><b>1:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>2:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>3:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>4:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>5:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>6:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>7:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>8:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>9:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>10:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>11:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>12:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>13:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>14:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>15:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>16:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>17:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>18:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>19:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>20:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>21:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>22:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>23:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>24:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>25:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-3">
        <h3>Settlement Tile 2</h3>
        <img class="img-rounded img-responsive" src="http://wamu.org/sites/wamu.org/files/styles/headline_landscape/public/images/attach/10.03.11news-flickr-oysters-edit_3.jpg?itok=2O8dYEym"/>
        <p><b>Description:</b> Lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <div class="col-sm-9">
        <h6>Sessile Organisms Observed</h6>
        <div class="row">
            <div class="col-sm-3">
                <p><b>1:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>2:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>3:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>4:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>5:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>6:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>7:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>8:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>9:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>10:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>11:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>12:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>13:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>14:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>15:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>16:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>17:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>18:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>19:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>20:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>21:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>22:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>23:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>24:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>25:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-3">
        <h3>Settlement Tile 3</h3>
        <img class="img-rounded img-responsive" src="http://wamu.org/sites/wamu.org/files/styles/headline_landscape/public/images/attach/10.03.11news-flickr-oysters-edit_3.jpg?itok=2O8dYEym"/>
        <p><b>Description:</b> Lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <div class="col-sm-9">
        <h6>Sessile Organisms Observed</h6>
        <div class="row">
            <div class="col-sm-3">
                <p><b>1:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>2:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>3:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>4:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>5:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>6:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>7:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>8:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>9:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>10:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>11:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>12:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>13:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>14:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>15:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>16:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>17:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>18:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>19:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>20:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>21:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>22:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>23:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>24:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>25:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-sm-3">
        <h3>Settlement Tile 4</h3>
        <img class="img-rounded img-responsive" src="http://wamu.org/sites/wamu.org/files/styles/headline_landscape/public/images/attach/10.03.11news-flickr-oysters-edit_3.jpg?itok=2O8dYEym"/>
        <p><b>Description:</b> Lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
    <div class="col-sm-9">
        <h6>Sessile Organisms Observed</h6>
        <div class="row">
            <div class="col-sm-3">
                <p><b>1:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>2:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>3:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>4:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>5:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>6:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>7:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>8:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>9:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>10:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>11:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>12:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>13:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>14:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>15:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>16:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>17:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>18:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
            <div class="col-sm-3">
                <p><b>19:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>20:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>21:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>22:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>23:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>24:</b> Fish<br/><em>Notes or questions</em></p>
                <p><b>25:</b> Fish<br/><em>Notes or questions</em></p>
            </div>
        </div>
    </div>
</div>
