<form name="form.teamMemberForm" ng-submit="save(form.teamMemberForm.$valid)" novalidate>
  <fieldset>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{teamMember._id ? 'Edit team member profile' : 'Add a team member'}}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-6" show-errors>
          <label for="firstName" class="control-label required">First Name</label>
          <input type="text" name="firstName" class="form-control" ng-model="teamMember.firstName"
            ng-readonly="teamMember._id && !(teamMember.pending || isCurrentUserUser)" required>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label for="lastName" class="control-label required">Last Name</label>
          <input type="text" name="lastName" class="form-control" ng-model="teamMember.lastName"
            ng-readonly="teamMember._id && !(teamMember.pending || isCurrentUserUser)" required>
        </div>
        <div class="form-group col-md-6" show-errors>
          <label for="email" class="control-label required">Email</label>
          <input type="text" name="email" class="form-control" ng-model="teamMember.email"
             ng-readonly="teamMember._id && !(teamMember.pending || isCurrentUserUser)" required>
        </div>
        <div class="form-group col-md-6" show-errors ng-show="teamMember._id && (isCurrentUserAdmin || isCurrentUserTeamLead)">
          <label for="team" class="control-label" ng-class="{'required': teamMember._id}">Team</label>
          <select name="team" class="form-control" ng-model="newTeam"
            ng-required="teamMember._id && (isCurrentUserAdmin || isCurrentUserTeamLead)"
            ng-options="team._id as team.name for team in allTeams">
          </select>
        </div>
        <div class="form-group col-md-12" show-errors ng-show="teamMember._id && isCurrentUserUser">
          <label>Research Interests</label>
          <span class="help-block">Please describe your research interests in BOP and a little bit about yourself, so other members of the BOP community may know you better.</span>
          <wysiwyg-editor name="researchInterests" ng-model="teamMember.researchInterests" label-class="control-label"></wysiwyg-editor>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
      <button type="submit" class="btn btn-primary">{{teamMember._id ? 'Update' : 'Send Invite'}}</button>
    </div>
    <div ng-show="error" class="alert alert-danger">
      <p ng-bind="error"></p>
    </div>
  </fieldset>
</form>
