<div class="modal fade" id="modal-org-lead-remove" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form name="form.deleteOrgLead" ng-submit="delete(form.deleteOrgLead.$valid)" novalidate>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Remove organization leads</h4>
            </div>
            <div class="modal-body">
                <p>Removing an organization lead will disable all of their permissions to edit and delete the organization and organization leads - so proceed with caution.</p>
                <p>Although they will be removed from managing this organization, they will still have a team lead account inside the
                  <b>{{organization.name}}</b> organization to create and manage other teams and orgs.</p>
                <div class="form-group">
                    <label for="orgLead">Select the organization lead to remove</label>
                    <input type="text" ng-model="orgLead" placeholder="Organization Leads" id="orgLead" name="orgLead" autocomplete="off"
                    uib-typeahead="orgLead as orgLead.displayName for orgLead in organization.orgLeads | filter:{displayName:$viewValue}"
                    class="form-control" typeahead-show-hint="true" typeahead-min-length="0" typeahead-select-on-exact="true">
                </div>
                <div ng-show="error" class="alert alert-danger">
                  <p ng-bind="error"></p>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" ng-click="close()">Cancel</a>
                <button class="btn btn-danger" type="submit">Remove</a>
            </div>
          </form>
        </div>
    </div>
</div>
