<div class="row">
    <div class="col-md-3" ng-controller="ChangeProfilePictureController">
        <div class="text-center form-group">
            <img ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail">
        </div>
        <div class="text-center form-group" ng-hide="uploader.queue.length">
            <span class="btn btn-default btn-file">
              Select Image <input type="file" nv-file-select uploader="uploader">
            </span>
        </div>
        <div class="text-center form-group" ng-show="uploader.queue.length">
            <button class="btn btn-primary" ng-click="uploadProfilePicture();">Upload</button>
            <button class="btn btn-default" ng-click="cancelUpload();">Cancel</button>
        </div>
        <div ng-show="success" class="text-center text-success">
            <strong>Profile Picture Changed Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
        </div>
    </div>
    <div class="col-md-9" ng-controller="EditProfileController">
        <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
            <fieldset>
                <div class="row">
                    <div class="form-group col-sm-6" show-errors>
                      <label for="firstName">First Name</label>
                      <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required>
                      <div ng-messages="userForm.firstName.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">First name is required.</p>
                      </div>
                    </div>
                    <div class="form-group col-sm-6" show-errors>
                      <label for="lastName">Last Name</label>
                      <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>
                      <div ng-messages="userForm.lastName.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">Last name is required.</p>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6" show-errors>
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="Username" lowercase required>
                        <div ng-messages="userForm.username.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Username is required.</p>
                        </div>
                    </div>
                    <div class="form-group col-sm-6" show-errors>
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase required>
                        <div ng-messages="userForm.email.$error" role="alert">
                            <p class="help-block error-text" ng-message="required">Email address is required.</p>
                            <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4" show-errors><!--TODO: Wire up field -->
                        <label for="org">School/Organization</label>
                        <input type="text" id="org" name="org" class="form-control" ng-model="user.org" placeholder="School/Organization">
                    </div>
                    <div class="form-group col-sm-4" show-errors><!--TODO: Wire up field -->
                        <label for="city">City</label>
                        <input type="text" id="city" name="city" class="form-control" ng-model="user.city" placeholder="City">
                    </div>
                    <div class="form-group col-sm-4" show-errors><!--TODO: Wire up field -->
                        <label for="state">State</label>
                        <input type="text" id="state" name="state" class="form-control" ng-model="user.state" placeholder="State">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6" show-errors>
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" class="form-control" ng-model="user.title" placeholder="Title">
                    </div>
                    <div class="form-group col-sm-6" show-errors><!--TODO: Wire up field -->
                        <label for="team">Team</label>
                        <input type="text" id="team" name="team" class="form-control" ng-model="user.team" placeholder="Team">
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save Profile</button>
                </div>
                <div ng-show="success" class="text-center text-success">
                    <strong>Profile Saved Successfully</strong>
                </div>
                <div ng-show="error" class="text-center text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</div>
