<section class="content shaded">
    <section class="container">
        <h2>Settings</h2>
    </section>
</section>
<section class="content shaded content-unpadded" ng-controller="SettingsController">
    <section class="container">
        <ul class="nav nav-tabs">
            <li ui-sref-active="active">
                <a ui-sref="settings.profile">Profile</a>
            </li>
            <!--<li ui-sref-active="active"><!-- TODO: Wire up page for this once we have an alert system --
                <a ui-sref="settings.notifications">Notifications</a>
            </li>-->
            <li ui-sref-active="active" view-permissions="admin"><!-- TODO: Only show if a Team Lead role -->
                <a ui-sref="settings.admin-team-owner">Members</a>
            </li>
        </ul>
    </section>
</section>
<section class="content">
    <section class="container">
        <div ui-view></div>
    </section>
</section>
