<div class="jumbotron" ng-controller="SettingsController">
    <section class="content">
        <section class="container">
            <h2>Settings</h2>
            <ul class="nav nav-pills">
                <li ui-sref-active="active">
                    <a ui-sref="settings.profile">Profile</a>
                </li>
                <li ui-sref-active="active" ng-show="user.provider === 'local'">
                    <a ui-sref="settings.password">Password</a>
                </li>
                <li ui-sref-active="active"><!-- TODO: Wire up page for this -->
                    <a ui-sref="settings.notifications">Notifications</a>
                </li>
                <li ui-sref-active="active"><!-- TODO: Wire up page for this, only show if a Team Lead role -->
                    <a ui-sref="admin.users">Students</a>
                </li>
            </ul>
        </section>
    </section>
</div>
<section class="content" ng-controller="SettingsController">
    <section class="container">
        <div ui-view></div>
    </section>
</section>
