<form name="form.oysterMeasurementForm" ng-submit="save(form.oysterMeasurementForm.$valid)" novalidate ng-cloak>
    <section class="content">
        <section class="container">
            <h2>Protocol 2 <small>Oyster Measurements</small></h2>
            <hr />
            <div class="alert alert-danger" ng-show="oysterMeasurementErrors" ng-cloak>
                <h4>We're still missing some information.</h4>
                <ul class="list-unstyled" ng-repeat="error in oysterMeasurementErrors">
                    <li><i class="glyphicon glyphicon-exclamation-sign"></i> {{ error }}</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="collectionTime">Date and time of data collection</label>
                        <input type="datetime-local" class="form-control" name="collectionTime"
                        placeholder="yyyy-MM-ddTHH:mm:ss" min="{{dateTime.min}}" max="{{dateTime.max}}"
                        ng-model="oysterMeasurement.collectionTime" />
                        <div ng-show="form.oysterMeasurementForm.collectionTime.$error.min">
                            <p class="red">Collection time must not be more than a year in the past.</p>
                        </div>
                        <div ng-show="form.oysterMeasurementForm.collectionTime.$error.max">
                            <p class="red">Collection time must not be more than a year in the future.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-default btn-block" data-toggle="modal" data-target="#modal-oyster-measurement-map"
                        ng-click="openMap()">Mark location on map</a>
                        <input class="form-control" type="text" value="{{oysterMeasurement.latitude}}, {{oysterMeasurement.longitude}}"
                        data-toggle="modal" data-target="#modal-oyster-measurement-map" ng-click="openMap()"
                        ng-show="oysterMeasurement.latitude && oysterMeasurement.longitude"
                         readonly/>
                    </div>
                    <div class="form-group">
                        <select-tags outer-column="" name="teamMembers"
                        in-title="Names of team members" ng-model="oysterMeasurement.teamMembers"
                        label-class="control-label" select-config="teamMemberSelectConfig" ></select-tags>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label>Notes or other observations</label>
                        <textarea class="form-control" rows="7" ng-model="oysterMeasurement.notes" ></textarea>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="lead blue">Your group is responsible for measuring growth and recording mortality of oysters in the main oyster cage.</p>
                    <h6>Depth of oyster cage</h6>
                    <div class="form-group">
                        <label for="submergedDepth" class="control-label required">Submerged depth of cage (meters) *</label>
                        <input type="number" class="form-control" name="submergedDepth" id="submergedDepth" ng-model="oysterMeasurement.depthOfOysterCage.submergedDepthofCageM" on-blur="saveOnBlur()" required/>
                        <span class="help-block">Method: Record length of wet line from surface to cage.</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6>Condition of oyster cage</h6>
                    <div class="form-group">
                        <label>Take a photograph of the oyster cage *</label>
                        <single-image-drop-zone uploader="cageConditionUploader" image-url="cageConditionPhotoURL"
                        image-alt="Oyster Cage Condition" id="oyster-cage-condition-image-dropzone"></single-image-drop-zone>
                        <div ng-show="form.oysterMeasurementForm.$invalid && form.oysterMeasurementForm.$submitted && !cageConditionPhotoURL">
                            <p class="red">Oyster cage condition image is required.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="bioaccumulation" class="control-label required">Bioaccumulation on cage *</label>
                        <select class="form-control" ng-options="bioaccumulation.value as bioaccumulation.label for bioaccumulation in bioaccumulations" ng-model="oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage"  name="bioaccumulation" id="bioaccumulation" required></select>
                    </div>
                    <div class="form-group">
                        <label for="damage" class="control-label">Describe any damage to the cage</label>
                        <textarea class="form-control" ng-model="oysterMeasurement.conditionOfOysterCage.notesOnDamageToCage" name="damage" id="damage"></textarea>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <h6>Measuring Oyster Growth</h6>
                    <p class="lead blue">How to count oyster totals.</p>
                    <p>There are 10 or more tagged substrate shells in a cage (plus untagged shells).  Each tagged shell will have multiple live oysters growing on it; over time some will die due to crowding. Only live oysters will be counted and measured in this protocol. To count the total, start with the outer side of the shell, moving from the umbo to the bill then flip the shell and repeat. Be careful not to damage the oyster spat while counting and measuring. </p>
                </div>
            </div>
        </section>
    </section>
    <section class="content">
        <section class="container">
            <table class="table"><!-- TODO: Each opens its own modal. Once info is entered in the modal, min/max/avg/alive is calculated and displayed here -->
                <tr ng-repeat="substrate in oysterMeasurement.measuringOysterGrowth.substrateShells"
                ng-class="{red: form.oysterMeasurementForm.$submitted && !substratesValid &&
                  (substrate.totalNumberOfLiveOystersOnShell < 0 || substrate.totalNumberOfLiveOystersOnShell === undefined)}">
                    <td>
                        <h4><i class="glyphicon glyphicon-ok-sign green" ng-show="checkDone(substrate)"></i> Substrate Shell {{substrate.substrateShellNumber}}</h4>
                    </td>
                    <td>
                        <a class="btn btn-default pull-right" data-target="#modal-substrateshell{{$index}}" ng-click="openSubstrateForm($index)" ng-disabled="saving" id="edit-measurements-{{$index}}">Edit measurements</a>
                        <span class="text-muted" ng-show="substrate.minimumSizeOfLiveOysters >= 0 || substrate.maximumSizeOfLiveOysters >= 0 || substrate.averageSizeOfLiveOysters >= 0 || substrate.totalNumberOfLiveOystersOnShell">
                            Minimum size <b>{{substrate.minimumSizeOfLiveOysters | number:2}}</b>,
                            Maximum size <b>{{substrate.maximumSizeOfLiveOysters | number:2}}</b>,
                            Average size <b>{{substrate.averageSizeOfLiveOysters | number:2}}</b>,
                            Total Alive <b>{{substrate.totalNumberOfLiveOystersOnShell | number}}</b>
                        </span>
                    </td>
                </tr>
            </table>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <p class="lead blue" ng-show="oysterMeasurement.minimumSizeOfAllLiveOysters || oysterMeasurement.maximumSizeOfAllLiveOysters ||
            oysterMeasurement.averageSizeOfAllLiveOysters || oysterMeasurement.totalNumberOfAllLiveOysters">
            Great work! Of the total population, the
                minimum shell size is <b>{{oysterMeasurement.minimumSizeOfAllLiveOysters | number:2}}</b>,
                maximum size is <b>{{oysterMeasurement.maximumSizeOfAllLiveOysters | number:2}}</b>,
                average size is <b>{{oysterMeasurement.averageSizeOfAllLiveOysters | number:2}}</b>, and
                total oysters alive is <b>{{oysterMeasurement.totalNumberOfAllLiveOysters | number}}</b>.</p>
              <p ng-show="previous &&
              previous.totalNumberOfAllLiveOysters === oysterMeasurement.totalNumberOfAllLiveOysters">
              Compared to your last expedition, your oyster population has stayed the same.</p>
            <p ng-show="previous">
              Since your last expedition, your oyster population has experienced a mortality rate of
              <b>{{previous.mortality}}%</b> </span>
              and a growth rate of <b>{{previous.growth}}%</b>. </span>
              The minimum shell size has
              <span ng-show="previous.min >= 0">increased <b>{{previous.min}}%</b>, </span>
              <span ng-show="previous.min < 0">decreased <b>{{previous.min}}%</b>, </span>
              and the maximum shell size has
              <span ng-show="previous.max >= 0">increased <b>{{previous.max}}%</b>.</span>
              <span ng-show="previous.max < 0">decreased <b>{{previous.max}}%</b>.</span>
            </p>
        </section>
    </section>
</form>

<!-- MODALS -->
<form-substrate-shell ng-repeat="substrate in oysterMeasurement.measuringOysterGrowth.substrateShells"
substrate="substrate" baseline="station.baselinesArray[$index]" station-id="{{station._id}}" max-live-oysters="liveShellCount"
outer-substrate-uploader="outerUploaders[$index]" inner-substrate-uploader="innerUploaders[$index]"
outer-substrate-url="outerSubstrateURL" inner-substrate-url="innerSubstrateURL"
save-function="saveSubstrateForm" cancel-function="cancelSubstrateForm" index="{{$index}}"></form-substrate-shell>

<div class="modal fade" id="modal-oyster-measurement-map" tabindex="-1" role="dialog">
    <map-select modal-id="modal-oyster-measurement-map" latitude="oysterMeasurement.latitude"
    longitude="oysterMeasurement.longitude" can-geocode="true" can-click-map-to-add-marker="true"
    can-move-marker="true" show-marker="true" dismiss-function="closeMap"></map-select>
</div>
