<div class="modal fade" id="modal-substrateshell{{index}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancelFunction(index)" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Substrate Shell {{substrate.substrateShellNumber}}</h4>
                <hr ng-show="(error && error.length > 0) || (form.substrateForm.$invalid && form.substrateForm.$submitted && form.substrateForm.$error)"/>
                <div class="alert alert-danger" ng-show="(error && error.length > 0) || (form.substrateForm.$invalid && form.substrateForm.$submitted && form.substrateForm.$error)">
                    <h4>We're still missing some information.</h4>
                    <ul class="list-unstyled" ng-repeat="error in error">
                        <li><i class="glyphicon glyphicon-exclamation-sign"></i> {{ error }}</li>
                    </ul>
                    <ul class="list-unstyled" ng-repeat="(key, errors) in form.substrateForm.$error track by $index">
                        <li ng-repeat="e in errors">
                          <span ng-show="(e.$name === 'total' && key === 'min')"><i class="glyphicon glyphicon-exclamation-sign"></i>
                            <b>Total Number of live oysters on shell</b> is less than 0</span>
                          <span ng-show="(e.$name === 'total' && key === 'max')"><i class="glyphicon glyphicon-exclamation-sign"></i>
                            <b>Total Number of live oysters on shell</b> is more than {{maxLiveOysters}}</span>
                          <span ng-hide="e.$name === 'total' && (key === 'min' || key === 'max')">
                            <i class="glyphicon glyphicon-exclamation-sign"></i> <b>{{ e.$name | capitalize }}</b> is {{ key }}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <form name="form.substrateForm" ng-submit="submitForm(substrate, form.substrateForm.$valid)" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active" id="substrate-meta"><a href="#substrateshell-meta{{index}}" data-toggle="tab" aria-controls="link" role="tab">Baseline</a></li>
                                <li role="presentation" id="substrate-measurements"><a href="#substrateshell-measurements{{index}}" data-toggle="tab" aria-controls="upload" role="tab">Measurements</a></li>
                                <li role="presentation"  id="substrate-photos"><a href="#substrateshell-photos{{index}}" data-toggle="tab" aria-controls="upload" role="tab">Photos</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="substrateshell-meta{{index}}">
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="lead blue">On the first expedition to the ORS, enter the baseline data to measure future visits by.</p>
                                        </div>
                                        <div class="col-md-6 callout" ng-class="{'shaded': readonlyBaseline}">
                                            <div class="row">
                                                <div class="form-group col-sm-4">
                                                    <label for="shellNumber" class="control-label required">Substrate shell #</label>
                                                    <input type="number" class="form-control" ng-model="baseline.substrateShellNumber" name="shellNumber" id="shellNumber" readonly required/>
                                                </div>
                                                <div class="form-group col-sm-8">
                                                    <label for="setDate" class="control-label required">Set date *</label>
                                                    <input type="date" class="form-control" ng-model="baseline.setDate" placeholder="yyyy-MM-dd"
                                                    name="setDate" id="setDate" min="{{dateTime.min}}" max="{{dateTime.max}}" ng-readonly="readonlyBaseline" required/>
                                                </div>
                                            </div>
                                            <div class="row">
                                              <div class="form-group" ng-class="{'col-sm-6': baseline.source === 'Other',
                                              'col-sm-12': !baseline.source || baseline.source !== 'Other'}">
                                                  <label for="source" class="control-label required">Source *</label>
                                                  <select class="form-control" ng-options="source.value as source.label for source in sources"
                                                  ng-model="baseline.source" name="source" id="source" ng-hide="readonlyBaseline" required></select>
                                                  <input type="text" class="form-control" ng-model="baseline.source" name="source-readonly" id="source-readonly"
                                                  ng-show="readonlyBaseline" readonly required/>
                                              </div>
                                              <div class="form-group col-sm-6" ng-show="baseline.source === 'Other'">
                                                <label for="source-other" class="control-label required">Other source *</label>
                                                <input type="text" class="form-control" ng-model="baseline.otherSource" name="source-other" id="source-other"
                                                ng-required="baseline.source === 'Other'" ng-readonly="readonlyBaseline"/>
                                              </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="totalAtBaseline" class="control-label">Total number of live oysters on shell at baseline * </label>
                                                <input type="number" class="form-control" ng-model="baseline.totalNumberOfLiveOystersAtBaseline"
                                                name="totalAtBaseline" id="totalAtBaseline" min="0" max="{{maxLiveOysters}}" ng-readonly="readonlyBaseline"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="massAtBaseline" class="control-label">Total mass of substrate shell at baseline (grams)</label>
                                                <input type="number" class="form-control" ng-model="baseline.totalMassOfLiveOystersAtBaselineG"
                                                name="massAtBaseline" id="massAtBaseline" min="0" ng-readonly="readonlyBaseline"/>
                                            </div>
                                            <div class="row" ng-show="baseline.setDate">
                                              <div class="form-group col-md-12">
                                                <a class="btn btn-default pull-right" ng-click="editBaseline()" ng-show="readonlyBaseline" id="edit-baseline">Edit</a>
                                                <a class="btn btn-danger pull-right" ng-click="cancelEditingBaseline()" ng-show="editing">Cancel</a>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="substrateshell-measurements{{index}}">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="mass" class="control-label">Total wet mass of substrate shell + oysters + tag (grams)</label>
                                                <input type="number" class="form-control" ng-model="substrate.totalMassOfScrubbedSubstrateShellOystersTagG" name="mass" id="mass" min="0"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="total" class="control-label required">Total number of live oysters on shell at time of monitoring *</label>
                                                <input type="number" class="form-control" ng-model="substrate.totalNumberOfLiveOystersOnShell" name="total"
                                                id="total" min="0" max="{{maxLiveOysters}}" ng-change="updateMeasurementFields()" required/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="notes" class="control-label">Notes</label>
                                                <textarea class="form-control" rows="5" ng-model="substrate.notes" name="notes" id="notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="lead blue">Measure and record the size (in mm) of each live oyster below.</p>
                                    <p class="red" ng-show="substrate.totalNumberOfLiveOystersOnShell < 0">Please enter a value for Total Number of live oysters on shell above</p>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6" ng-repeat="measurement in substrate.measurements">
                                            <div class="form-group row" ng-show="$index < substrate.totalNumberOfLiveOystersOnShell" >
                                                <label class="text-right col-sm-4" for="measure{{$index}}" ng-class="{required: $index < substrate.totalNumberOfLiveOystersOnShell}">
                                                  Oyster {{$index + 1}}</label>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="number" ng-model="substrate.measurements[$index].sizeOfLiveOysterMM"
                                                    name="measure{{$index}}" id="measure{{$index}}" ng-required="$index < substrate.totalNumberOfLiveOystersOnShell" min="0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--TODO: Wire up mortality rate/growth rate, only show after data is entered -->
                                    <!-- <p class="red">Good job! Compared to your last expedition, your oyster population has experienced a mortality rate of <b>[]%</b> and a growth rate of <b>[]%</b>.</p> -->
                                </div>
                                <div role="tabpanel" class="tab-pane" id="substrateshell-photos{{index}}">
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="lead blue">OPTIONAL: Photograph both sides of the shell, the outer (convex, rough) and inner (concave, smooth).</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Make sure that the tag is visible in each photo.</p>
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="outerImg" class="control-label required">Outer side</label>
                                                <single-image-drop-zone uploader="outerSubstrateUploader"
                                                image-url="outerSubstrateUrl" image-alt="Outer side"
                                                id="outer-substrate-image-dropzone-{{index}}"></single-image-drop-zone>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="innerImg" class="control-label required">Inner side</label>
                                                <single-image-drop-zone uploader="innerSubstrateUploader"
                                                image-url="innerSubstrateUrl" image-alt="Inner side"
                                                id="inner-substrate-image-dropzone-{{index}}"></single-image-drop-zone>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancelFunction(index)">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
