<form name="om.form.oysterMeasurementForm" ng-submit="om.save(om.form.oysterMeasurementForm.$valid)" novalidate>
    <section class="content">
        <section class="container">
            <h2>Protocol 2 <small>Oyster Measurements</small></h2>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <p class="lead red">Your group is responsible for measuring growth and recording mortality of oysters in the main oyster cage.</p>
                    <h6>Depth of oyster cage</h6>
                    <div class="form-group">
                        <label>Submerged depth of cage (meters)</label>
                        <input type="number" class="form-control" ng-model="om.protocolOysterMeasurement.depthOfOysterCage.submergedDepthofCageM"/>
                        <span class="help-block">Method: Record length of wet line from surface to cage.</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6>Condition of oyster cage</h6>
                    <div class="form-group">
                        <label>Take a photograph of the oyster cage</label>
                        <single-image-drop-zone uploader="om.cageConditionUploader" image-url="om.cageConditionPhotoURL" image-alt="Oyster Cage Condition"></single-image-drop-zone>
                    </div>
                    <div class="form-group">
                        <label class="required">Bioaccumulation on cage</label>
                        <select class="form-control" ng-options="bioaccumulation.value as bioaccumulation.label for bioaccumulation in om.bioaccumulations" ng-model="om.protocolOysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage"></select>
                    </div>
                    <div class="form-group">
                        <label>Describe any damage to the cage</label>
                        <textarea class="form-control" ng-model="om.protocolOysterMeasurement.conditionOfOysterCage.notesOnDamageToCage"></textarea>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <div class="row">
                <div class="col-md-12">
                    <h6>Measuring Oyster Growth</h6>
                    <p class="lead red">How to count oyster totals.</p>
                    <p>There are 10 or more tagged substrate shells in a cage (plus untagged shells).  Each tagged shell will have multiple live oysters growing on it; over time some will die due to crowding. Only live oysters will be counted and measured in this protocol. To count the total, start with the outer side of the shell, moving from the umbo to the bill then flip the shell and repeat. Be careful not to damage the oyster spat while counting and measuring. </p>
                </div>
            </div>
        </section>
    </section>
    <section class="content">
        <section class="container">
            <table class="table"><!-- TODO: Each opens its own modal. Once info is entered in the modal, min/max/avg/alive is calculated and displayed here -->
                <tr ng-repeat="substrate in om.protocolOysterMeasurement.measuringOysterGrowth.substrateShells">
                    <td><h4><i class="glyphicon glyphicon-check"></i> Substrate Shell {{substrate.substrateShellNumber}}</h4></td>
                    <td>
                        <p class="text-muted" ng-show="substrate.minimumSizeOfLiveOysters || substrate.maximumSizeOfLiveOysters || substrate.averageSizeOfLiveOysters || substrate.totalNumberOfLiveOystersOnShell">
                            Minimum size <b>{{substrate.minimumSizeOfLiveOysters | number:2}}</b>, 
                            Maximum size <b>{{substrate.maximumSizeOfLiveOysters | number:2}}</b>, 
                            Average size <b>{{substrate.averageSizeOfLiveOysters | number:2}}</b>, 
                            Total Alive <b>{{substrate.totalNumberOfLiveOystersOnShell | number}}</b>
                        </p>
                    </td>
                    <td><a class="btn btn-default btn-sm pull-right" data-target="#modal-substrateshell" ng-click="om.openSubstrateForm($index)">Edit Measurements</a></td>
                </tr>
            </table>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <p class="lead red" ng-show="om.protocolOysterMeasurement.minimumSizeOfAllLiveOysters || om.protocolOysterMeasurement.maximumSizeOfAllLiveOysters || om.protocolOysterMeasurement.averageSizeOfAllLiveOysters || om.protocolOysterMeasurement.totalNumberOfAllLiveOysters">Great work! Of the total population, the 
                minimum shell size is <b>{{om.protocolOysterMeasurement.minimumSizeOfAllLiveOysters | number:2}}</b>, 
                maximum size is <b>{{om.protocolOysterMeasurement.maximumSizeOfAllLiveOysters | number:2}}</b>, 
                average size is <b>{{om.protocolOysterMeasurement.averageSizeOfAllLiveOysters | number:2}}</b>, and 
                total oysters alive is <b>{{om.protocolOysterMeasurement.totalNumberOfAllLiveOysters | number}}</b>.</p>
            <p ng-show="om.lastExpedition">Compared to your last expedition, this is a <b>+.02%</b> mortality increase and a growth rate of <b>32mm/month</b>.</p>
        </section>
    </section>
    <section class="content">
        <section class="container">
            <button type="submit" class="btn btn-default">Next</button>
            <div ng-show="om.error" class="text-danger">
                <strong ng-bind="om.error"></strong>
            </div>
        </section>
    </section>
</form>

<!-- MODALS -->
<form-substrate-shell substrate="om.substrate" save-function="om.saveSubstrateForm" cancel-function="om.cancelSubstrateForm"></form-substrate-shell>
