<div class="row">
    <div class="col-sm-3">
        <h3 class="blue">
            <i class="fa fa-clock-o pull-left"></i>
            {{vm.getTime(oysterMeasurement.collectionTime)}}<br/>
            <small>{{vm.getDate(oysterMeasurement.collectionTime)}}</small>
        </h3>
        <h4 class="blue">
            <i class="fa fa-map-marker pull-left"></i>
            <small>{{oysterMeasurement.latitude}}, {{oysterMeasurement.longitude}}</small>
        </h4>
    </div>
    <div class="col-sm-3" ng-repeat="member in oysterMeasurement.teamMembers">
        <h5><img class="header-profile-image" ng-src="{{member.profileImageURL}}"> {{member.displayName}}</h5>
    </div>
    <div class="col-sm-6">
        <p><b>Notes:</b> {{oysterMeasurement.notes}}</p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-sm-6">
                <h6>Oyster Cage</h6>
                <img class="img-rounded img-responsive" ng-src="{{cageConditionPhotoURL}}"/>
            </div>
            <div class="col-sm-6">
                <h3 class="blue">
                    <img width="30" src="modules/core/client/img/icons/cage-depth.svg" />
                    {{oysterMeasurement.depthOfOysterCage.submergedDepthofCageM}} meters</br><small>Submerged depth</small>
                </h3>
                <p>
                    <img class="pull-left" width="30" src="modules/core/client/img/icons/cage-bioaccumulation.svg" />
                    <span ng-show="oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage === 'heavy'">
                      <b>Heavy bioaccumulation:</b> Encrusting macroalgae/animals reducing mesh opening by over 50%</span>
                    <span ng-show="oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage === 'medium'">
                      <b>Medium bioaccumulation:</b> Some encrusting macroalgae/animals reducing size of mesh opening up to 25%</span>
                    <span ng-show="oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage === 'light'">
                      <b>Light bioaccumulation:</b> Macroalgae or minimal animals present that do not encroach on mesh openings</span>
                    <span ng-show="oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage === 'none'">
                      <b>None/clean bioaccumulation:</b> No macroalgae or animals present</span>
                </p>
                <p><b>Damage:</b> {{oysterMeasurement.conditionOfOysterCage.notesOnDamageToCage}}</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h6>Total population</h6>
        <h3><img width="30" src="modules/core/client/img/icons/oyster-alive.svg" />
          {{oysterMeasurement.totalNumberOfAllLiveOysters | number}} <small>total oysters alive</small></h3>
        <hr/>
        <div class="row">
            <div class="col-sm-8"><!-- TIFFANY: Wire up historic data -->
                <h3 class="green"><!-- class="red" if avg size is down from prev expedition -->
                    <img class="pull-right" width="30" src="modules/core/client/img/icons/oyster-measurement.svg" />
                    <i class="fa fa-arrow-up"></i><!-- <i class="fa fa-arrow-down"></i> if avg size is down from prev expedition -->
                     {{oysterMeasurement.averageSizeOfAllLiveOysters | number:2}}
                     <small>average size<br/>
                         <b class="green">up<!-- class="red" and "down" if avg size is down from prev expedition --> __%</b> 
                         from previous expedition
                     </small>
                </h3>
                
          </div>
          <div class="col-sm-4 text-muted">
              <br/><p><b>{{oysterMeasurement.minimumSizeOfAllLiveOysters | number:2}}</b> min size<br/>
              <b>{{oysterMeasurement.maximumSizeOfAllLiveOysters | number:2}}</b> max size</p>
          </div>
        </div>
    </div>
</div>
<hr/>
<div ng-repeat="substrate in oysterMeasurement.measuringOysterGrowth.substrateShells">
  <h3><img width="30" src="modules/core/client/img/icons/substrate-shell.svg" />
    Substrate Shell {{substrate.substrateShellNumber}}</h3>
  <div class="row">
      <div class="col-sm-4">
          <h6>Outer side</h6>
          <img class="img-rounded img-responsive" ng-src="{{substrate.outerSidePhoto.path}}"/>
      </div>
      <div class="col-sm-4">
          <h6>Inner side</h6>
          <img class="img-rounded img-responsive" ng-src="{{substrate.innerSidePhoto.path}}"/>
      </div>
      <div class="col-sm-4">
          <p>
              Set at <b>{{vm.getDateTime(substrate.setDate)}}</b><br/>
              Source: <b>{{substrate.source}}</b><br/>
              Notes: {{substrate.notes}}</p>
          </p>
          <!-- TIFFANY: Wire up different colors/icons if count is down or up from baseline -->          
          <h3 class="red"><!-- class="green" if oyster count is up from baseline -->
              <i class="fa fa-arrow-down"></i>
              <!--<i class="fa fa-arrow-up"></i> if oyster count is up from baseline -->
              {{substrate.totalNumberOfLiveOystersOnShell}} 
              <small>live oysters on shell<br/>
                  <span class="red"><!-- class="green" if oyster count is up from baseline -->
                  down<!--"up" if oyster count is up from baseline --> from 
                  <b>{{substrate.totalNumberOfLiveOystersAtBaseline}}</b> at baseline
              </small>
          </h3>
          <hr/>
          <h4 class="text-muted"><b>{{substrate.totalMassOfScrubbedSubstrateShellOystersTagG}}</b> total mass <small>(shell + oysters + tag)</small></h4>
          <hr/>
          <div class="row">
              <div class="col-sm-6 text-right">
                  <img class="pull-right" width="30" src="modules/core/client/img/icons/oyster-measurement.svg" />
                  <p><b class="blue">{{substrate.averageSizeOfLiveOysters | number:2}}</b>
                  <br/>average size</p>
              </div>
              <div class="col-sm-6 text-muted">
                  <p><b>{{substrate.minimumSizeOfLiveOysters | number:2}}</b> min size<br/>
                  <b>{{substrate.maximumSizeOfLiveOysters | number:2}}</b> max size</p>
              </div>
          </div>
      </div>
  </div>
  <hr ng-hide="$last"/>
</div>
