<section>
    <section class="content">
        <section class="container">
            <h2>Protocol 1 <small>Site Conditions</small></h2>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <p class="lead red">Your group is responsible for observations about the land, water and air.</p>
                    <p>This includes weather, any recent rainfall, tide and current, as well as environmental conditions of the land and the water, pollution, and garbage.</p>
                </div>
                <div class="col-md-4"><!-- TODO: Prefill with Weather API data -->
                    <h6>Meteorological conditions</h6>
                    <div class="form-group">
                        <label>Weather conditions</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option value="sunny">Sunny</option>
                            <option>Partly cloudy</option>
                            <option>Cloudy</option>
                            <option>Rain</option>
                            <option>Fog</option>
                            <option>Snow</option>
                            <option>Hail</option>
                            <option>Thunderstorm</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Air temperature (celsius)</label>
                            <input class="form-control" type="text"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Humidity (%)</label>
                            <input class="form-control" type="number"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Wind speed (mph)</label>
                            <input class="form-control" type="text"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Wind direction</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>North</option>
                                <option>North West</option>
                                <option>West</option>
                                <option>South West</option>
                                <option>South</option>
                                <option>South East</option>
                                <option>East</option>
                                <option>North East</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"><!-- TODO: Prefill with Weather API data -->
                    <h6>Recent Rainfall</h6>
                    <div class="form-group">
                        <label>Has it rained in the past <span class="red">24</span> hours?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Has it rained in the past <span class="red">72</span> hours?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Has it rained in the past <span class="red">7</span> days?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <div class="col-md-6"><!-- TODO: Prefill with Weather API data -->
                <h6>Tide Conditions</h6>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Closest High Tide</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Closest Low Tide</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Current Speed</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Current Direction</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>North</option>
                            <option>South</option>
                            <option>East</option>
                            <option>West</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tidal Current</label>
                    <select class="form-control">
                        <option disabled selected></option>
                        <option>Flood current (incoming tide)</option>
                        <option>Slack water</option>
                        <option>Ebb current (outgoing tide)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <tide-table></tide-table>
            </div>
        </section>
    </section>
    <section class="content">
        <section class="container">
            <p class="lead red">Take a photograph of the water with your camera in landscape orientation.</p>
            <div class="row">
                <div class="col-md-4">
                    <h6>Water Conditions</h6>
                    <div class="form-group">
                        <label>Describe the water color</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Light Blue</option>
                            <option>Dark Blue</option>
                            <option>Light Green</option>
                            <option>Dark Green</option>
                            <option>Light Brown</option>
                            <option>Dark Brown</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Is there an oil sheen present?</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Is there any garbage in the water?</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                    </div>
                    <!-- TODO: Only show div if answered "yes" to "Is there any garbage in the water?-->
                    <p>Record the extent in the water for each type of garbage.</p>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Hard Plastic</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Soft Plastic</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Metal</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Paper</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Glass</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Organic</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Other</label>
                            <input class="form-control" type="text" placeholder="Type of trash" />
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Are there any marked Combined Sewer Overflow (CSO) pipes?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group"><!-- TODO: Show this if answered "yes" on "Are there marked CSO pipes"-->
                        <label>What is the location?</label>
                        <input class="form-control" type="text" placeholder="Click to mark the location on a map" data-toggle="modal" data-target="#modal-map" />
                    </div>
                    <div class="form-group"><!-- TODO: Show this if answered "yes" on "Are there marked CSO pipes"-->
                        <label>Is there any flow through the pipe?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group"><!-- TODO: Show this if answered "yes" on "Is there any flow.."-->
                        <label>How much?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Trickle</option>
                            <option>Light Stream</option>
                            <option>Steady Stream</option>
                            <option>Full Flow</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Are there any unmarked or other outfall pipes?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group"><!-- TODO: Show this if answered "yes" on "Are there any unmarked.."-->
                        <label>What is the location?</label>
                        <input class="form-control" type="text" placeholder="Click to mark the location on a map" data-toggle="modal" data-target="#modal-map" />
                    </div>
                    <div class="form-group"><!-- TODO: Show this if answered "yes" on "Are there any unmarked.."-->
                        <label>What is the approximate diameter of the pipe (cm)?</label>
                        <inpu class="form-control" type="text" />
                    </div>
                    <div class="form-group"><!-- TODO: Show this if answered "yes" on "Are there any unmarked.."-->
                        <label>Is there any flow through the pipe?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group"><!-- TODO: Show this if answered "yes" on "Is there any flow.."-->
                        <label>How much?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Trickle</option>
                            <option>Light Stream</option>
                            <option>Steady Stream</option>
                            <option>Full Flow</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>