<section>
    <section class="content">
        <section class="container">
            <h2>Protocol 1 <small>Site Conditions</small></h2>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <p class="lead red">Your group is responsible for observations about the land, water and air.</p>
                    <p>This includes weather, any recent rainfall, tide and current, as well as environmental conditions of the land and the water, pollution, and garbage.</p>
                </div>
                <div class="col-md-4"><!-- TODO: Prefill with Weather API data -->
                    <h6>Meteorological conditions</h6>
                    <div class="form-group">
                        <label>Weather conditions</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option value="sunny">Sunny</option>
                            <option>Partly cloudy</option>
                            <option>Cloudy</option>
                            <option>Rain</option>
                            <option>Fog</option>
                            <option>Snow</option>
                            <option>Hail</option>
                            <option>Thunderstorm</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Air temperature (C)</label>
                            <input class="form-control" type="text"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Humidity (%)</label>
                            <input class="form-control" type="number"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Wind speed (mph)</label>
                            <input class="form-control" type="text"/>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Wind direction</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>North</option>
                                <option>North West</option>
                                <option>West</option>
                                <option>South West</option>
                                <option>South</option>
                                <option>South East</option>
                                <option>East</option>
                                <option>North East</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"><!-- TODO: Prefill with Weather API data -->
                    <h6>Recent Rainfall</h6>
                    <div class="form-group">
                        <label>Has it rained in the past <span class="red">24</span> hours?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Has it rained in the past <span class="red">72</span> hours?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Has it rained in the past <span class="red">7</span> days?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <div class="col-md-6"><!-- TODO: Prefill with Weather API data -->
                <h6>Tide Conditions</h6>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Closest High Tide</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Closest Low Tide</label>
                        <input class="form-control" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Current Speed</label>
                        <input class="form-control" type="text" />
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Current Direction</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>North</option>
                            <option>South</option>
                            <option>East</option>
                            <option>West</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Tidal Current</label>
                    <select class="form-control">
                        <option disabled selected></option>
                        <option>Flood current (incoming tide)</option>
                        <option>Slack water</option>
                        <option>Ebb current (outgoing tide)</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <tide-table></tide-table>
            </div>
        </section>
    </section>
    <section class="content">
        <section class="container">
            <div class="row">
                <div class="col-md-4">
                    <h6>Water Conditions</h6>
                    <p class="lead red">Take a photograph of the water with your camera in landscape orientation.</p>
                    <p>You'll reference the photograph to answer the following questions.</p>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Describe the water color</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Light Blue</option>
                            <option>Dark Blue</option>
                            <option>Light Green</option>
                            <option>Dark Green</option>
                            <option>Light Brown</option>
                            <option>Dark Brown</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Is there an oil sheen present?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Is there any garbage in the water?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Are there any marked Combined Sewer Overflow (CSO) pipes?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Are there any unmarked or other outfall pipes?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4"><!-- TODO: Only show div if answered "yes" to "Is there any garbage in the water?-->
                    <p>Record the extent of each type of garbage in the water.</p>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Hard Plastic</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Soft Plastic</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Metal</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Paper</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Glass</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Organic</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Other</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" placeholder="Type of trash" />
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option disabled selected></option>
                                        <option>None</option>
                                        <option>Sporadic</option>
                                        <option>Common</option>
                                        <option>Extensive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"><!-- TODO: Show this div if answered "yes" on "Are there any unmarked.."-->
                    <p>Give more information about the marked Combined Sewer Overflow (CSO) pipes.</p>
                    <div class="form-group">
                        <label>What is the location?</label>
                        <input class="form-control" type="text" placeholder="Click to mark the location on a map" data-toggle="modal" data-target="#modal-map" />
                    </div>
                    <div class="form-group">
                        <label>What is the approximate diameter of the pipe (cm)?</label>
                        <inpu class="form-control" type="text" />
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6"><!-- TODO: Change from "col-sm-12" to "col-sm-6" if answered "yes" on "Is there any flow.."-->
                            <label>Is there any flow through the pipe?</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6"><!-- TODO: Show this if answered "yes" on "Is there any flow.."-->
                            <label><br/>How much?</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>Trickle</option>
                                <option>Light Stream</option>
                                <option>Steady Stream</option>
                                <option>Full Flow</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"><!-- TODO: Show this div if answered "yes" on "Are there marked CSO pipes"-->
                    <p>Give more information about the unmarked or other outfall pipes.</p>
                    <div class="form-group">
                        <label>What is the location?</label>
                        <input class="form-control" type="text" placeholder="Click to mark the location on a map" data-toggle="modal" data-target="#modal-map" />
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6"><!-- TODO: Change from "col-sm-12" to "col-sm-6" if answered "yes" on "Is there any flow.."-->
                            <label>Is there any flow through the pipe?</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-6"><!-- TODO: Show this if answered "yes" on "Is there any flow.."-->
                            <label><br/>How much?</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>Trickle</option>
                                <option>Light Stream</option>
                                <option>Steady Stream</option>
                                <option>Full Flow</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <div class="row">
                <div class="col-md-4">
                    <h6>Land Conditions</h6>
                    <p class="lead red">Take a photograph of the land with your camera in landscape orientation.</p>
                    <p>You'll reference the photograph to answer the following questions.</p>
                    <div class="form-group">
                        <label>Choose shoreline type</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Bulkhead/Wall</option>
                            <option>Fixed Pier</option>
                            <option>Floating Dock</option>
                            <option>Riprap/Rocky Shoreline</option>
                            <option>Dirt/Sand</option>
                            <option>Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Is there any garbage on the adjacent shoreline?</label>
                        <select class="form-control">
                            <option disabled selected></option>
                            <option>Yes</option>
                            <option>No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <p>Estimate percent surface cover for the adjacent shoreline (about 500 x 500 feet)</p>
                    
                    <div class="form-group">
                        <label>Impervious Surface (concrete/asphalt paths, roads, buildings etc.)</label>
                        <div class="input-group">
                            <span class="input-group-addon">%</span>
                            <input type="number" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Pervious Surface (dirt, gravel etc.)</label>
                        <div class="input-group">
                            <span class="input-group-addon">%</span>
                            <input type="number" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Vegetated surface (grass, shrubs, trees)</label>
                        <div class="input-group">
                            <span class="input-group-addon">%</span>
                            <input type="number" class="form-control" />
                        </div>
                    </div>
                    <h4 class="text-right red">= <b>28</b>%</h4><!-- TODO: Show realtime percentage as user adds percentages in the inputs above. Remove class "red" if at 100%. Show error message if the three percentages entered do not equal 100% -->
                </div>
                <div class="col-md-4">
                    <!-- TODO: Only show div if answered "yes" to "Is there any garbage on the shore?"-->
                    <p>Record the extent of each type of garbage on the adjacent shoreline.</p>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Hard Plastic</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Soft Plastic</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Metal</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Paper</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Glass</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Organic</label>
                            <select class="form-control">
                                <option disabled selected></option>
                                <option>None</option>
                                <option>Sporadic</option>
                                <option>Common</option>
                                <option>Extensive</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-12">
                            <label>Other</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input class="form-control" type="text" placeholder="Type of trash" />
                                </div>
                                <div class="col-sm-6">
                                    <select class="form-control">
                                        <option disabled selected></option>
                                        <option>None</option>
                                        <option>Sporadic</option>
                                        <option>Common</option>
                                        <option>Extensive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>







<!-- MODALS -->
<div class="modal fade" id="modal-map" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mark the location on the map</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12"><!-- TODO: Add map and allow marker to be placed on a location, pull the lat/lng into the form on "Save" -->
                        <img src="https://www.google.com/maps/vt/data=RfCSdfNZ0LFPrHSm0ublXdzhdrDFhtmHhN1u-gM,GtRFbUGq-rIYPEWbVKQMOsWLP66nINEZFiKRAQWuJqJ_oX27lup9OV0aoCavFivvdIhdlMyZ-2Z1VF-NmId_ceQgGI_Q8-ybngfTChgFAQ" width="100%" class="img-responsive" />
                        <br />
                        <div class="form-group">
                            <label>Latitude and Longitude</label>
                            <input type="text" class="form-control" placeholder="39.290385, -76.612189" /><!-- TODO: autopopulate input with lat/lng based on map click, if lat/lng is edited manually, adjust map pin -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>
