<section>
    <section class="content">
        <section class="container">
            <h2>Protocol 3 <small>Mobile Trap</small></h2>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <p class="lead red">Your group is responsible for observations about the types and quantities of mobile organisms found within the two compartments of the mobile trap, one containing mesh and the other containing oyster shells.</p>
                </div>
                <div class="col-md-6">
                    <h6>Mobile Trap</h6>
                    <p>We recommend first sorting organisms by type/class into separate containers, and then counting. Use a sieve to sort organisms by size. If a certain organism is found in large quantities in the trap (for example, tunicates) you can estimate the total population by splitting the organisms into subgroups, counting the individuals in one subgroup, then multiplying that number by the total number of groups.</p>
                </div>
            </div>
        </section>
    </section>
    <section class="content shaded">
        <section class="container">
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Show All</a></li>
                    <li><a href="#">Fish</a></li>
                    <li><a href="#">Crustaceans</a></li>
                    <li><a href="#">Worms</a></li>
                </ul>
            </nav>
            <div class="row">
                <div class="col-md-3 col-sm-4">
                    <div class="thumbnail">
                        <img src="http://media.eol.org/content/2012/06/14/20/36789_580_360.jpg" class="img-responsive" />
                        <h4 class="text-center">Blackfish, Tautog</h4>
                        <div class="text-center">
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                                <b class="pull-left red">&nbsp;0&nbsp;</b>
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                        <p class="text-center">
                            <em class="text-muted">Tautoga onitis</em><br />
                            A stout olive-brown fish with protruding teeth and rubbery, slimy skin
                        </p>
                        <a href="#" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#modal-input">Add notes or a sketch/photograph</a>
                        <!-- TODO: when notes/photo is added, show this instead
                        <a href="#" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#modal-input">Edit notes or sketch/photograph</a>-->
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="thumbnail">
                        <img src="http://media.eol.org/content/2012/06/14/20/36789_580_360.jpg" class="img-responsive" />
                        <h4 class="text-center">Blackfish, Tautog</h4>
                        <div class="text-center">
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                                <b class="pull-left red">&nbsp;0&nbsp;</b>
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                        <p class="text-center">
                            <em class="text-muted">Tautoga onitis</em><br />
                            A stout olive-brown fish with protruding teeth and rubbery, slimy skin
                        </p>
                        <a href="#" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#modal-input">Add notes or a sketch/photograph</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="thumbnail">
                        <img src="http://media.eol.org/content/2012/06/14/20/36789_580_360.jpg" class="img-responsive" />
                        <h4 class="text-center">Blackfish, Tautog</h4>
                        <div class="text-center">
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                                <b class="pull-left red">&nbsp;0&nbsp;</b>
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                        <p class="text-center">
                            <em class="text-muted">Tautoga onitis</em><br />
                            A stout olive-brown fish with protruding teeth and rubbery, slimy skin
                        </p>
                        <a href="#" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#modal-input">Add notes or a sketch/photograph</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="thumbnail">
                        <img src="http://media.eol.org/content/2012/06/14/20/36789_580_360.jpg" class="img-responsive" />
                        <h4 class="text-center">Blackfish, Tautog</h4>
                        <div class="text-center">
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                                <b class="pull-left red">&nbsp;0&nbsp;</b>
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                        <p class="text-center">
                            <em class="text-muted">Tautoga onitis</em><br />
                            A stout olive-brown fish with protruding teeth and rubbery, slimy skin
                        </p>
                        <a href="#" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#modal-input">Add notes or a sketch/photograph</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="thumbnail">
                        <img src="http://media.eol.org/content/2012/06/14/20/36789_580_360.jpg" class="img-responsive" />
                        <h4 class="text-center">Blackfish, Tautog</h4>
                        <div class="text-center">
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                                <b class="pull-left red">&nbsp;0&nbsp;</b>
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                        <p class="text-center">
                            <em class="text-muted">Tautoga onitis</em><br />
                            A stout olive-brown fish with protruding teeth and rubbery, slimy skin
                        </p>
                        <a href="#" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#modal-input">Add notes or a sketch/photograph</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="thumbnail">
                        <img src="http://media.eol.org/content/2012/06/14/20/36789_580_360.jpg" class="img-responsive" />
                        <h4 class="text-center">Blackfish, Tautog</h4>
                        <div class="text-center">
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                                <b class="pull-left red">&nbsp;0&nbsp;</b>
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                        <p class="text-center">
                            <em class="text-muted">Tautoga onitis</em><br />
                            A stout olive-brown fish with protruding teeth and rubbery, slimy skin
                        </p>
                        <a href="#" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#modal-input">Add notes or a sketch/photograph</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="thumbnail">
                        <img src="http://media.eol.org/content/2012/06/14/20/36789_580_360.jpg" class="img-responsive" />
                        <h4 class="text-center">Blackfish, Tautog</h4>
                        <div class="text-center">
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                                <b class="pull-left red">&nbsp;0&nbsp;</b>
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                        <p class="text-center">
                            <em class="text-muted">Tautoga onitis</em><br />
                            A stout olive-brown fish with protruding teeth and rubbery, slimy skin
                        </p>
                        <a href="#" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#modal-input">Add notes or a sketch/photograph</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="thumbnail">
                        <img src="http://media.eol.org/content/2012/06/14/20/36789_580_360.jpg" class="img-responsive" />
                        <h4 class="text-center">Blackfish, Tautog</h4>
                        <div class="text-center">
                            <div class="btn-group btn-group-xs">
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-minus"></i></button>
                                <b class="pull-left red">&nbsp;0&nbsp;</b>
                                <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </div>
                        <p class="text-center">
                            <em class="text-muted">Tautoga onitis</em><br />
                            A stout olive-brown fish with protruding teeth and rubbery, slimy skin
                        </p>
                        <a href="#" class="btn btn-default btn-sm btn-block" data-toggle="modal" data-target="#modal-input">Add notes or a sketch/photograph</a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section class="content">
        <section class="container">
            <button type="submit" class="btn btn-default">Next</button>
            <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
            </div>
        </section>
    </section>
</section>





<!-- MODALS -->
<div class="modal fade" id="modal-input" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Blackfish, Tautog</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="http://media.eol.org/content/2012/06/14/20/36789_580_360.jpg" class="img-responsive" />
                        <p>
                            <em class="text-muted">Tautoga onitis</em><br />
                            A stout olive-brown fish with protruding teeth and rubbery, slimy skin
                        </p>
                        <p><span class="label label-default">Fish</span></p>
                        <p>Native</p>
                        <p><b>Habitat:</b> Associated with reefs and found close to shore in marine and brackish water</p>
                        <p><b>Diet:</b> Feeds on mussels, other mollusks and crustaceans</p>
                        <p><b>Morphology notes:</b> Average adult body size 18–26 cm, up to 17 dorsal spines present and 3 anal spines	</p>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Add a sketch or photograph</label>
                            <input type="file" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Add notes or questions</label>
                            <textarea class="form-control" rows="18"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

