<section>
  <section class="content">
      <section class="container">
            <h2>Protocol 3 <small>Mobile Trap</small></h2>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <p class="lead red">Your group is responsible for observations about the types and quantities of mobile organisms found within the two compartments of the mobile trap.</p>
                    <p>One compartment contains mesh and the other contains oyster shells.</p>
                </div>
          </div>
      </section>
  </section>
</section>
