<section class="content">
    <section class="container-fluid">
        <div class="row" ng-controller="ClaimUserController">
          <h3 class="col-md-12 text-center">Claim Your Account</h3>
          <div class="col-md-offset-4 col-md-4">
            <form name="claimUserForm" ng-submit="claimUser(claimUserForm.$valid)" class="signin form-horizontal" novalidate autocomplete="off">
              <fieldset>
                <div class="form-group" show-errors>
                  <label for="username">Username</label>
                  <input type="text" id="username" name="username" class="form-control" ng-model="username"
                  placeholder="Username" lowercase required ng-disabled="usernameProvided">
                  <div ng-messages="claimUserForm.username.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Username is required.</p>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label for="password">Password</label>
                  <input type="password" id="password" name="password" class="form-control" ng-model="passwordDetails.password" placeholder="New Password" autocomplete="new-password" uib-popover="{{popoverMsg}}" uib-popover-trigger="focus" uib-popover-placement="top" password-validator required>
                  <div ng-messages="claimUserForm.password.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Enter a new password.</p>
                    <div ng-repeat="passwordError in passwordErrors">
                      <p class="help-block error-text" ng-show="claimUserForm.password.$error.requirements">{{passwordError}}</p>
                    </div>
                  </div>
                </div>
                <div class="form-group" show-errors>
                  <label for="verifyPassword">Retype Password</label>
                  <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="Verify Password" password-verify="passwordDetails.password" required>
                  <div ng-messages="claimUserForm.verifyPassword.$error" role="alert">
                    <p class="help-block error-text" ng-message="required">Enter the password again to verify.</p>
                    <p class="help-block error-text" ng-show=claimUserForm.verifyPassword.$error.passwordVerify>Passwords do not match.</p>
                  </div>
                </div>
                <div class="form-group" ng-show="!claimUserForm.password.$error.required">
                  <label>Password Requirements</label>
                  <uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
                </div>
                <div class="text-center form-group">
                  <button type="submit" class="btn btn-primary">Claim</button>
                </div>
                <div ng-show="error" class="text-center text-danger">
                  <strong ng-bind="error"></strong>
                </div>
                <div ng-show="success" class="text-center text-success">
                  <strong ng-bind="success"></strong>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
    </section>
</section>
