
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
        LAYOUT FRAMEWORK
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #fff;
    color: #2c3c56;
    margin-top: 51px; /* allow for navbar, so content and jumbotron can be in any order */
}

.content { padding: 15px 15px 15px 95px; }
.content-unpadded { padding-bottom: 0; }

.popover {
  position: absolute;
  z-index: 100;
}

/* allow for sidenav */
@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 100%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1060px;
    }
}

.jumbotron {
    background-color: #f4f7f8;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .jumbotron.dark {
        background: #aaa;
        color: #fff;
    }

    .jumbotron .content {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.navbar-default {
    background: #fff;
    left: 80px;
    box-shadow: none;
}

.sidebar {
    width: 80px;
    height: 100%;
    background: #2C3C56;
    border: none;
    z-index: 1040;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

    .sidebar .text {
        display: none;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
    }

    .sidebar .open .dropdown-menu {
        display: none;
    }

    .sidebar i {
        font-size: 15px;
        width: 80px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
    }

    .sidebar .navbar-header {
        width: 100%;
    }

        .sidebar .navbar-brand {
            padding: 0;
            margin: 20px 0;
            height: 100px;
            width: 100%;
            text-align: center;
        }

            .sidebar .navbar-brand > img {
                width: 60px;
                display: inline;
            }

    .sidebar ul.nav,
    .sidebar ul.nav li {
        width: 100%;
        margin: 0;
    }

        .sidebar ul.nav > li > a {
            padding: 10px 0;
            position: relative;
            color: #778095;
        }

            .sidebar ul.nav > li > .dropdown-menu {
                position: relative;
                top: auto;
                left: auto;
                min-width: 0;
                width: 100%;
                background: #1C2A40;
                border: none;
                box-shadow: none;
                border-radius: 0;
                margin: 0;
                padding: 5px 0 5px 70px;
            }

                /*.sidebar ul.nav > li > .dropdown-menu i {
                    float: right;
                    width: auto;
                    padding-right: 20px;
                }*/

                .sidebar ul.nav > li.dropdown.open > a.dropdown-toggle {
                    color: #778095;
                }

                    .sidebar:hover ul.nav > li.dropdown.open > a.dropdown-toggle {
                        background: #2CA8FF;
                        color: #fff;
                        -webkit-transition: background 400ms ease-in-out;
                        -moz-transition: background 400ms ease-in-out;
                        -o-transition: background 400ms ease-in-out;
                        transition: background 400ms ease-in-out;
                    }

                        .sidebar:hover ul.nav > li.dropdown.open > a.dropdown-toggle i {
                            font-size: 30px;
                            height: 15px;
                        }

                .sidebar ul.nav > li > .dropdown-menu > li > a {
                    padding: 10px 0;
                    line-height: 1;
                    color: #778095;
                }

                    .sidebar ul.nav > li > .dropdown-menu > li > a:hover,
                    .sidebar ul.nav > li > .dropdown-menu > li > a:active,
                    .sidebar ul.nav > li > .dropdown-menu > .active > a,
                    .sidebar ul.nav > li > .dropdown-menu > .active > a:hover,
                    .sidebar ul.nav > li > .dropdown-menu > .active > a:focus {
                        background: transparent;
                        color: #fff;
                    }

    .sidebar:hover {
        width: 220px;
    }

        .sidebar:hover .text {
            display: block;
            position: absolute;
            top: 12px;
            left: 70px;
        }

        .sidebar:hover .open .dropdown-menu {
            display: block;
        }

        .sidebar:hover .navbar-brand > img {
            width: 80px;
        }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: transparent;
    box-shadow: none;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
              IMAGES
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}

.profile-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
              COLORS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.blue { color: #426ca9; }
.red { color: #ea6158; }
.darkblue { color: #2c3c56; }
.lightblue { color: #a0d0cb; }
.yellow { color: #fbe8ac; }
.crimson { color: #943234; }
.green { color: #4CAF50; }
.gray { color: #ccc; }
.shaded { background-color: #f4f7f8; }

/* LINK COLORS */

a {
    color: #777;
    cursor: pointer;
}

    a:hover, a:focus {
        text-decoration: none;
        color: #ea6158;
    }

.btn {
    border: none;
    background: #444;
    color: #fff;
    text-shadow: none;
}

    .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
        background: #426ca9;
    }

    .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
        background: #7094c7;
    }

    .btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success, .btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
        background: #4CAF50;
    }

    .btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger, .btn-danger:active:hover, .btn-danger.active:hover, .open > .dropdown-toggle.btn-danger:hover, .btn-danger:active:focus, .btn-danger.active:focus, .open > .dropdown-toggle.btn-danger:focus, .btn-danger:active.focus, .btn-danger.active.focus, .open > .dropdown-toggle.btn-danger.focus {
        background: #ea6158;
    }

        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active,
        .btn-primary.active,
        .open > .dropdown-toggle.btn-primary,
        .btn-primary:active:hover,
        .btn-primary.active:hover,
        .open > .dropdown-toggle.btn-primary:hover,
        .btn-primary:active:focus,
        .btn-primary.active:focus,
        .open > .dropdown-toggle.btn-primary:focus,
        .btn-primary:active.focus,
        .btn-primary.active.focus,
        .open > .dropdown-toggle.btn-primary.focus,
        .btn-default:hover,
        .btn-default:focus,
        .btn-default:active,
        .btn-default.active,
        .open > .dropdown-toggle.btn-default,
        .btn-default:active:hover,
        .btn-default.active:hover,
        .open > .dropdown-toggle.btn-default:hover,
        .btn-default:active:focus,
        .btn-default.active:focus,
        .open > .dropdown-toggle.btn-default:focus,
        .btn-default:active.focus,
        .btn-default.active.focus,
        .open > .dropdown-toggle.btn-default.focus,
        .btn-danger:hover,
        .btn-danger:focus,
        .btn-danger:active,
        .btn-danger.active,
        .open > .dropdown-toggle.btn-danger,
        .btn-danger:active:hover,
        .btn-danger.active:hover,
        .open > .dropdown-toggle.btn-danger:hover,
        .btn-danger:active:focus,
        .btn-danger.active:focus,
        .open > .dropdown-toggle.btn-danger:focus,
        .btn-danger:active.focus,
        .btn-danger.active.focus,
        .open > .dropdown-toggle.btn-danger.focus,
        .btn-success:hover,
        .btn-success:focus,
        .btn-success:active,
        .btn-success.active,
        .open > .dropdown-toggle.btn-success,
        .btn-success:active:hover,
        .btn-success.active:hover,
        .open > .dropdown-toggle.btn-success:hover,
        .btn-success:active:focus,
        .btn-success.active:focus,
        .open > .dropdown-toggle.btn-success:focus,
        .btn-success:active.focus,
        .btn-success.active.focus,
        .open > .dropdown-toggle.btn-success.focus {
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
            opacity: 0.8;
            color: #fff;
        }


/* LABEL COLORS*/

.label-default { background: #ccc; }
.label-success { background: #4CAF50; }
.label-info { background: #426ca9; }
.label-warning { background: #FF9501; }
.label-danger { background: #ea6158; }

    /* Not sure if we're still using these:
    .label-science {
        border-color: #00BCD4;
        background: #00BCD4;
    }

    .label-technology {
        border-color: #607D8B;
        background: #607D8B;
    }

    .label-engineering {
        border-color: #9E9E9E;
        background: #9E9E9E;
    }

    .label-math {
        border-color: #4CAF50;
        background: #4CAF50;
    }

    .label-socialstudies {
        border-color: #795548;
        background: #795548;
    }

    .label-english {
        border-color: #FF5722;
        background: #FF5722;
    }

    .label-music {
        border-color: #673AB7;
        background: #673AB7;
    }

    .label-art {
        border-color: #E91E63;
        background: #E91E63;
    }
    */


/* WELL COLORS */

.well {
    background: #f4f7f8;
}


/* BADGE COLORS */

.badge, .panel-default > .panel-heading .badge {
    background: #ccc;
}

    .badge-success, .panel-default > .panel-heading .badge-success { background: #4CAF50; }
    .badge-info, .panel-default > .panel-heading .badge-info { background: #426ca9; }
    .badge-warning, .panel-default > .panel-heading .badge-warning { background: #FF9501; }
    .badge-danger, .panel-default > .panel-heading .badge-danger { background: #ea6158; }


/* ALERT COLORS */

.alert {
    border: none;
    background: #f4f7f8;
    color: #777;
}

    .alert-success { background: #f3f9ef; color: #4caf50; }
    .alert-info { background: #e3eaf4; color: #426ca9; }
    .alert-warning { background: #fdf2d1; color: #ff9501; }
    .alert-danger { background: #fce5e3; color: #ea6158; }

    .alert .btn, .alert .btn:focus {
        border-color: #fff;
        color: #fff;
        margin: -5px 0 0 5px;
        outline: none;
        box-shadow: none;
    }


/* TABLE ROW COLORS */

tr.success { background: #f3f9ef; }
tr.info { background: #e3eaf4; }
tr.warning { background: #fdf2d1; }
tr.danger { background: #fce5e3; }


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            TYPOGRAPHY
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

h6, .h6 {
    text-transform: uppercase;
    color: #aaa;
    font-weight: bold;
    letter-spacing: 2px;
}

.page-header {
    border-color: #ddd;
}

.table h1,
.table h2,
.table h3,
.table h4,
.table h5,
.table h6,
.table p {
    margin: 0;
    display: inline-block;
}

.table.table-verticalalign tbody > tr > td {
    vertical-align: middle;
}

.table-hover > tbody > tr:hover {
    cursor: pointer;
    background-color: #f4f7f8;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
              MODALS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.modal-header,
.modal-footer,
.modal-body {
    padding: 30px;
}

.modal-header {
    border: none;
    padding-bottom: 0;
}

.modal-footer {
    background: #eee;
    border: none;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.modal-title {
    font-size: 16pt;
    color: #aaa;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
              FORMS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.panel-default > .panel-heading {
    background: #fff;
    border: 0;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:active {
    background: #f4f7f8;
}

.dropdown-header {
    padding: 0 0 5px 0;
    font-size: 15px;
}

    .dropdown-menu > li.dropdown-header > a {
        font-weight: bold;
        color: #aaa;
    }


/* SELECT2 PLUGIN */

.select2-container {
    display: block;
}

    .select2-container-multi .select2-choices .select2-search-choice {
        color: #444;
        border-color: #ddd;
        margin: 5px 0 0 5px;
        border-radius: 4px;
        box-shadow: none;
        background: #f4f7f8;
    }

        .select2-container-multi .select2-search-choice-close {
            left: 5px;
            top: 3px;
        }


/* SELECT2 & WYSIWYG EDITOR PLUGIN */

.advanced-wrapper,
.select2-container-multi .select2-choices,
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    /* extend form-control */
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.tab-content .advanced-wrapper {
    border-top: none;
    box-shadow: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}


/* WYSIWYG EDITOR PLUGIN */

.advanced-wrapper {
    padding: 6px 12px;
}

.ql-container {
    min-height: 300px;
}

.ql-snow.ql-toolbar {
    border-bottom: 1px solid #eee;
}


/* DRAG AND DROP */

.dragdrop {
    width: 20%;
}

    .draggable {
        cursor: move;
        padding: 5px;
        display: block;
        width: 100%;
        border: 1px dashed #ddd;
        margin-bottom: 10px;
    }

    .droppable {
        min-height: 300px;
        background: #f4f7f8;
    }

.multiDemo ul[dnd-list],
.multiDemo ul[dnd-list] > li {
  position: relative;
}

.multiDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

.multiDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

.multiDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

.multiDemo ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}


/* VALIDATION MESSAGES */

.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}

.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

.error-text {
  display: none;
}

.has-error .help-block.error-text {
  display: block;
}

.has-error .help-inline.error-text {
  display: inline;
}

form.ng-submitted .ng-invalid {
    border:1px solid #f00;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
             PANELS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.panel .panel-footer {
    text-align: right;
}

    .panel .panel-footer .btn {
        margin-left: 5px;
    }


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
           LIBRARY TILES
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.library-item .panel {
    border-color: #ddd;
    cursor: pointer;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

    .library-item .panel:hover,
    .library-item .panel:active {
        border: 1px solid #ea6158;
    }

    .library-item .panel .panel-heading {
        background: #ea6158; /*fallback*/
        color: #fff;
    }
