.content {
  margin: 50px 20px 0 100px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
              GLOBAL
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f4f7f8;
}

.navbar {
    background: #fff;
}

.sidebar {
    width: 80px;
    height: 100%;
    background: #2C3C56;
    border: none;
    z-index: 1040;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

    .sidebar .text {
        display: none;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
    }

    .sidebar i {
        font-size: 15px;
        width: 80px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
    }

    .sidebar .navbar-header {
        width: 100%;
    }

        .sidebar .navbar-brand {
            padding: 0;
            margin: 20px 0;
            height: 100px;
            width: 100%;
            text-align: center;
        }

            .sidebar .navbar-brand > img {
                width: 60px;
                display: inline;
            }

    .sidebar ul.nav,
    .sidebar ul.nav li {
        width: 100%;
    }

        .sidebar ul.nav > li > a {
            padding: 10px 0;
            position: relative;
            color: #778095;
        }

    .sidebar:hover {
        width: 220px;
    }

        .sidebar:hover .text {
            display: block;
            position: absolute;
            top: 12px;
            left: 70px;
        }

        .sidebar:hover .navbar-brand > img {
            width: 80px;
        }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background: transparent;
    box-shadow: none;
}


/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
              COLORS
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.label-science {
    border-color: #00BCD4;
    background: #00BCD4;
}

.label-technology {
    border-color: #607D8B;
    background: #607D8B;
}

.label-engineering {
    border-color: #9E9E9E;
    background: #9E9E9E;
}

.label-math {
    border-color: #4CAF50;
    background: #4CAF50;
}

.label-socialstudies {
    border-color: #795548;
    background: #795548;
}

.label-english {
    border-color: #FF5722;
    background: #FF5722;
}

.label-music {
    border-color: #673AB7;
    background: #673AB7;
}

.label-art {
    border-color: #E91E63;
    background: #E91E63;
}