<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select <span class="red">data</span> to compare</h4>
    </div>
    <div class="modal-body">
        <p>Within your selection of <b class="red">{{ce.expeditions.length}}</b> expeditions, choose the protocols and parameters to include in the comparison.</p>
        <div class="row">
            <div class="col-md-4 col-sm-6">
            <!-- TIFFANY: Wire up checkboxes. Selecting a parent checkbox should automatically check all the children checkboxes in the blockquote underneath. However, you can select a blockquote child checkbox without selecting the entire parent checkbox -->
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1all" ng-click="ce.toggleProtocol1()">
                          <b>Protocol 1: Site Conditions</b></label>
                    </div>
                    <blockquote>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.weatherTemperature"> Weather/temperature</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.windSpeedDirection"> Wind speed/direction</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.humidity"> Humidity</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.recentRainfall"> Recent rainfall</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.closestHighTideTime"> Closest high tide time</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.closestLowTideTime"> Closest low tide time</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.closestHighTideHeight"> Closest high tide height</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.closestLowTideHeight"> Closest low tide height</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.referencePoint"> Reference point</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.tidalCurrent"> Tidal current</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.surfaceCurrentSpeed"> Surface current speed</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.waterColor"> Water color</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.oilSheen"> Oil sheen</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.garbageWater"> Garbage in water</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.pipes"> Pipes</label></div>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <blockquote>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.shorelineType"> Shoreline type</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.garbageLand"> Garbage on land</label></div>
                        <div class="checkbox"><label>
                          <input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol1.surfaceCover"> Surface cover</label></div>
                    </blockquote>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol2all" ng-click="ce.toggleProtocol2()">
                          <b>Protocol 2: Oyster Measurements</b></label>
                    </div>
                    <blockquote>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol2.submergedDepth"> Submerged depth of cage</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol2.bioaccumulationOnCage"> Bioaccumulation on cage</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol2.cageDamage"> Cage damage</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol2.setDate"> Substrate shell set date</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol2.source"> Substrate shell source</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol2.liveOystersBaseline"> Live oysters on shell at baseline</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol2.liveOystersMonitoring"> Live oysters on shell at monitoring</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol2.totalMass"> Total mass of scrubbed substrate shell + oysters + tag</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol2.oysterMeasurements"> Oyster measurements</label></div>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="form-group">
                    <div class="checkbox">
                        <label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol3all" ng-click="ce.toggleProtocol3()">
                          <b>Protocol 3: Mobile Trap</b></label>
                    </div>
                    <blockquote>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol3.organism"> Organisms observed</label></div>
                    </blockquote>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol4all" ng-click="ce.toggleProtocol4()">
                          <b>Protocol 4: Settlement Tiles</b></label>
                    </div>
                    <blockquote>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol4.description"> Settlement tile description</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol4.organism"> Sessile organisms observed</label></div>
                    </blockquote>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol5all" ng-click="ce.toggleProtocol5()">
                          <b>Protocol 5: Water Quality</b></label>
                    </div>
                    <blockquote>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol5.depth"> Depth</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol5.temperature"> Temperature</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol5.dissolvedOxygen"> Dissolved Oxygen</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol5.salinity"> Salinity</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol5.pH"> pH</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol5.turbidity"> Turbidity</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol5.ammonia"> Ammonia</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol5.nitrates"> Nitrates</label></div>
                        <div class="checkbox"><label><input type="checkbox" ng-true-value="'YES'" ng-false-value="''"
                          ng-model="ce.parameters.protocol5.other"> Other</label></div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" ng-click="ce.nextStep(1)">Back</a>
        <a class="btn btn-primary" ng-click="ce.nextStep(3)" ng-disabled="ce.dataPointCount() === 0">Compare</a>
    </div>
</div>
