<section>
    <div class="row">
        <div class="col-md-12">
            <h3>comparison of <span class="red">{{vm.dataPointCount()}} data points</span> across
            <span class="red">{{vm.expeditions.length}} expeditions</span></h3>
        </div>
    </div>
    <table class="table table-responsive">
        <!-- <tr>
            <td></td>
            <td ng-show="vm.dataPointProtocol1Count() > 0" colspan="{{vm.protocol1paramCount}}" class="text-center">
              <h6>Site Conditions</h6></td>
            <td ng-show="vm.dataPointProtocol2Count() > 0" colspan="{{vm.protocol2paramCount}}" class="text-center">
              <h6>Oyster Measurements</h6></td>
            <td ng-show="vm.dataPointProtocol3Count() > 0" colspan="{{vm.protocol3paramCount}}" class="text-center">
              <h6>Mobile Trap</h6></td>
            <td ng-show="vm.dataPointProtocol4Count() > 0" colspan="{{vm.protocol4paramCount}}" class="text-center">
              <h6>Settlement Tiles</h6</td>
            <td ng-show="vm.dataPointProtocol5Count() > 0" colspan="{{vm.protocol5paramCount}}" class="text-center">
              <h6>Water Quality</h6></td>
        </tr> -->
        <tr>
            <td></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <a ui-sref="expedition.view({ expeditionId: expedition.id })">{{expedition.name}}</a><br/>
              <small class="text-muted"><i class="fa fa-map-marker"></i> {{expedition.station.name}},
                {{vm.getExpeditionDate(expedition.monitoringStartDate)}}</small>
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.weatherTemperature === 'YES'">
            <td><b>Weather/temperature</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.siteCondition.meteorologicalConditions.airTemperatureC">
                {{vm.getWeatherCondition(expedition.protocols.siteCondition.meteorologicalConditions.weatherConditions)}}<br/>
                {{expedition.protocols.siteCondition.meteorologicalConditions.airTemperatureC}}&#8451;
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.windSpeedDirection === 'YES'">
            <td><b>Wind speed/direction</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.siteCondition.meteorologicalConditions.windSpeedMPH">
                {{expedition.protocols.siteCondition.meteorologicalConditions.windSpeedMPH}}mph
                {{vm.getWindDirection(expedition.protocols.siteCondition.meteorologicalConditions.windDirection)}}
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.humidity === 'YES'">
            <td><b>Humidity</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.siteCondition.meteorologicalConditions.humidityPer">
                {{expedition.protocols.siteCondition.meteorologicalConditions.humidityPer}}%
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.recentRainfall === 'YES'">
            <td><b>Recent rainfall</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span id="rainedIn24Hours" ng-show="expedition.protocols.siteCondition.recentRainfall.rainedIn7Days === true &&
                expedition.protocols.siteCondition.recentRainfall.rainedIn72Hours === true &&
                expedition.protocols.siteCondition.recentRainfall.rainedIn24Hours === true">past 24 hours</span>
              <span id="rainedIn72Hours" ng-show="expedition.protocols.siteCondition.recentRainfall.rainedIn7Days === true &&
                expedition.protocols.siteCondition.recentRainfall.rainedIn72Hours === true &&
                (expedition.protocols.siteCondition.recentRainfall.rainedIn24Hours === false ||
                !expedition.protocols.siteCondition.recentRainfall.rainedIn24Hours)">past 72 hours</span>
              <span id="rainedIn7Days" ng-show="expedition.protocols.siteCondition.recentRainfall.rainedIn7Days === true &&
                (expedition.protocols.siteCondition.recentRainfall.rainedIn72Hours === false ||
                !expedition.protocols.siteCondition.recentRainfall.rainedIn72Hours) &&
                (expedition.protocols.siteCondition.recentRainfall.rainedIn24Hours === false ||
                !expedition.protocols.siteCondition.recentRainfall.rainedIn24Hours)">past 7 days</span>
              <span id="noRain" ng-show="(expedition.protocols.siteCondition.recentRainfall.rainedIn7Days === false ||
                !expedition.protocols.siteCondition.recentRainfall.rainedIn7Days) &&
                (expedition.protocols.siteCondition.recentRainfall.rainedIn72Hours === false ||
                !expedition.protocols.siteCondition.recentRainfall.rainedIn72Hours) &&
                (expedition.protocols.siteCondition.recentRainfall.rainedIn24Hours === false ||
                !expedition.protocols.siteCondition.recentRainfall.rainedIn24Hours)">None in the past 7 days</span>
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.tide === 'YES'">
            <td><b>Tide</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
                Closest high tide:
                  {{expedition.protocols.siteCondition.tideConditions.closestHighTideHeight}}ft
                at
                  {{vm.getTime(expedition.protocols.siteCondition.tideConditions.closestHighTide)}}
                  {{vm.getShortDate(expedition.protocols.siteCondition.tideConditions.closestHighTide)}}
                , Closest low tide:
                  {{expedition.protocols.siteCondition.tideConditions.closestLowTideHeight}}ft
                at
                  {{vm.getTime(expedition.protocols.siteCondition.tideConditions.closestLowTide)}}
                  {{vm.getShortDate(expedition.protocols.siteCondition.tideConditions.closestLowTide)}}
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.referencePoint === 'YES'">
            <td><b>Reference Point</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              {{expedition.protocols.siteCondition.tideConditions.referencePoint}}&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.tidalCurrent === 'YES'">
            <td><b>Tidal current</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.siteCondition.tideConditions.tidalCurrent">
                <span ng-show="expedition.protocols.siteCondition.tideConditions.tidalCurrent === 'flood-current'">
                  Flood current
                </span>
                <span ng-show="expedition.protocols.siteCondition.tideConditions.tidalCurrent === 'slack-water'">
                  Slack water
                </span>
                <span ng-show="expedition.protocols.siteCondition.tideConditions.tidalCurrent === 'ebb-current'">
                  Ebb current
                </span>
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.surfaceCurrentSpeed === 'YES'">
            <td><b>Surface current speed</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.siteCondition.waterConditions.surfaceCurrentSpeedMPS">
                {{expedition.protocols.siteCondition.waterConditions.surfaceCurrentSpeedMPS}} meters/sec
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.waterColor === 'YES'">
            <td><b>Water color</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              {{vm.getWaterColors(expedition.protocols.siteCondition.waterConditions.waterColor)}}&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.oilSheen === 'YES'">
            <td><b>Oil sheen</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span id="noOilSheen" ng-show="expedition.protocols.siteCondition.waterConditions.oilSheen === false ||
                !expedition.protocols.siteCondition.waterConditions.oilSheen">No<br/></span>
              <span id="oilSheen" ng-show="expedition.protocols.siteCondition.waterConditions.oilSheen === true">
                Yes<br/></span>
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.garbageWater === 'YES'">
            <td><b>Garbage in water</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span id="noGarbagePresentWater"
              ng-show="expedition.protocols.siteCondition.waterConditions.garbage.garbagePresent === false ||
                !expedition.protocols.siteCondition.waterConditions.garbage.garbagePresent">
                No<br/></span>
              <span id="garbagePresentWater"
              ng-show="expedition.protocols.siteCondition.waterConditions.garbage.garbagePresent === true">
                Yes:<br/>
                <span ng-show="expedition.protocols.siteCondition.waterConditions.garbage.hardPlastic !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.waterConditions.garbage.hardPlastic)}} amount of hard plastic,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.waterConditions.garbage.softPlastic !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.waterConditions.garbage.softPlastic)}} amount of soft plastic,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.waterConditions.garbage.metal !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.waterConditions.garbage.metal)}} amount of metal,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.waterConditions.garbage.paper !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.waterConditions.garbage.paper)}} amount of paper,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.waterConditions.garbage.glass !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.waterConditions.garbage.glass)}} amount of glass,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.waterConditions.garbage.organic !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.waterConditions.garbage.organic)}} amount of organic,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.waterConditions.garbage.other.description">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.waterConditions.garbage.other.extent)}} amount of
                  {{expedition.protocols.siteCondition.waterConditions.garbage.other.description}}<br/></span>
              </span>
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.pipes === 'YES'">
            <td><b>Pipes</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span id="noMarkedCSO"
              ng-show="expedition.protocols.siteCondition.waterConditions.markedCombinedSewerOverflowPipes.markedCSOPresent === false ||
                !expedition.protocols.siteCondition.waterConditions.markedCombinedSewerOverflowPipes.markedCSOPresent">
                No CSO pipes<br/></span>
              <span id="markedCSO"
              ng-show="expedition.protocols.siteCondition.waterConditions.markedCombinedSewerOverflowPipes.markedCSOPresent === true">
                  CSO pipes present:<br/>
                  Location at {{expedition.protocols.siteCondition.waterConditions.markedCombinedSewerOverflowPipes.location.latitude}},
                  {{expedition.protocols.siteCondition.waterConditions.markedCombinedSewerOverflowPipes.location.longitude}}<br/>
                  Flow: {{vm.getWaterFlows(expedition.protocols.siteCondition.waterConditions.markedCombinedSewerOverflowPipes.howMuchFlowThrough)}}
              </span>
              <span id="noUnmarkedPipe"
              ng-show="expedition.protocols.siteCondition.waterConditions.unmarkedOutfallPipes.unmarkedPipePresent === false ||
                !expedition.protocols.siteCondition.waterConditions.unmarkedOutfallPipes.unmarkedPipePresent">
                No unmarked or other outfall pipes</span>
              <span id="unmarkedPipe"
              ng-show="expedition.protocols.siteCondition.waterConditions.unmarkedOutfallPipes.unmarkedPipePresent === true">
                  Unmarked or other outfall pipes present:<br/>
                  Location at {{expedition.protocols.siteCondition.waterConditions.unmarkedOutfallPipes.location.latitude}},
                  {{expedition.protocols.siteCondition.waterConditions.unmarkedOutfallPipes.location.longitude}}<br/>
                  Flow: {{vm.getWaterFlows(expedition.protocols.siteCondition.waterConditions.unmarkedOutfallPipes.howMuchFlowThrough)}}<br/>
                  <b>{{expedition.protocols.siteCondition.waterConditions.unmarkedOutfallPipes.approximateDiameterCM}}cm</b> approximate diameter
              </span>
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.shorelineType === 'YES'">
            <td><b>Shoreline type</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              {{vm.getShorelineTypes(expedition.protocols.siteCondition.landConditions.shoreLineType)}}&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.garbageLand === 'YES'">
            <td><b>Garbage on land</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span id="noGarbagePresentLand"
              ng-show="expedition.protocols.siteCondition.landConditions.garbage.garbagePresent === false ||
                !expedition.protocols.siteCondition.landConditions.garbage.garbagePresent">No</span>
              <span ng-show="expedition.protocols.siteCondition.landConditions.garbage.garbagePresent === true">
                Yes:<br/>
                <span ng-show="expedition.protocols.siteCondition.landConditions.garbage.hardPlastic !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.landConditions.garbage.hardPlastic)}} amount of hard plastic,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.landConditions.garbage.softPlastic !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.landConditions.garbage.softPlastic)}} amount of soft plastic,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.landConditions.garbage.metal !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.landConditions.garbage.metal)}} amount of metal,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.landConditions.garbage.paper !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.landConditions.garbage.paper)}} amount of paper,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.landConditions.garbage.glass !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.landConditions.garbage.glass)}} amount of glass,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.landConditions.garbage.organic !== 'none'">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.landConditions.garbage.organic)}} amount of organic,<br/></span>
                <span ng-show="expedition.protocols.siteCondition.landConditions.garbage.other.description">
                  {{vm.getGarbageExtent(expedition.protocols.siteCondition.landConditions.garbage.other.extent)}} amount of
                  {{expedition.protocols.siteCondition.landConditions.garbage.other.description}}<br/></span>
              </span>
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol1.surfaceCover === 'YES'">
            <td><b>Surface cover</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.siteCondition.landConditions.shorelineSurfaceCoverEstPer.imperviousSurfacePer">
                {{expedition.protocols.siteCondition.landConditions.shorelineSurfaceCoverEstPer.imperviousSurfacePer}}%
                Impervious Surface</span><br/>
              <span ng-show="expedition.protocols.siteCondition.landConditions.shorelineSurfaceCoverEstPer.perviousSurfacePer">
                {{expedition.protocols.siteCondition.landConditions.shorelineSurfaceCoverEstPer.perviousSurfacePer}}%
                Pervious Surface</span><br/>
              <span ng-show="expedition.protocols.siteCondition.landConditions.shorelineSurfaceCoverEstPer.vegetatedSurfacePer">
                {{expedition.protocols.siteCondition.landConditions.shorelineSurfaceCoverEstPer.vegetatedSurfacePer}}%
                Vegetated surface</span>
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol2.submergedDepth === 'YES'">
            <td><b>Submerged depth of cage</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.oysterMeasurement.depthOfOysterCage.submergedDepthofCageM">
                {{expedition.protocols.oysterMeasurement.depthOfOysterCage.submergedDepthofCageM}} meters</span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol2.bioaccumulationOnCage === 'YES'">
            <td><b>Bioaccumulation on cage</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span id="bioaccumulationHeavy"
              ng-show="expedition.protocols.oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage === 'heavy'">
                Heavy</span>
              <span id="bioaccumulationMedium"
              ng-show="expedition.protocols.oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage === 'medium'">
                Medium</span>
              <span id="bioaccumulationLight"
              ng-show="expedition.protocols.oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage === 'light'">
                Light</span>
              <span id="noBioaccumulation"
              ng-show="expedition.protocols.oysterMeasurement.conditionOfOysterCage.bioaccumulationOnCage === 'none'">
                None/clean</span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol2.cageDamage === 'YES'">
            <td><b>Cage damage</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              {{expedition.protocols.oysterMeasurement.conditionOfOysterCage.notesOnDamageToCage}}&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol2.totalLive === 'YES'">
            <td><b>Population live</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              {{expedition.protocols.oysterMeasurement.totalNumberOfAllLiveOysters}}&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol2.totalAverageSize === 'YES'">
            <td><b>Population avg size</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              {{expedition.protocols.oysterMeasurement.averageSizeOfAllLiveOysters | number:2}}&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol2.totalMinimumSize === 'YES'">
            <td><b>Population min size</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              {{expedition.protocols.oysterMeasurement.minimumSizeOfAllLiveOysters | number:2}}&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol2.totalMaximumSize === 'YES'">
            <td><b>Population max size</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              {{expedition.protocols.oysterMeasurement.maximumSizeOfAllLiveOysters | number:2}}&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol3.organism === 'YES'">
            <td><b>Organisms observed</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-repeat="organism in expedition.protocols.mobileTrap.mobileOrganisms">
                {{organism.count}} {{vm.getMobileOrganismName(organism.organism)}}<br/>
              </span>
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol4.description === 'YES'">
            <td><b>Settlement tile description</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-repeat="tile in expedition.protocols.settlementTiles.settlementTiles"
              ng-show="tile.description">
                Settlement Tile {{$index+1}}: {{tile.description}}<br/>
              </span>
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol4.organism === 'YES'">
            <td><b>Sessile organisms observed</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-repeat="h in [0, 1, 2, 3]" ng-show="expedition.protocols.settlementTiles.settlementTiles[h].grid1.organism">
                Settlement Tile #{{h+1}}<br/>
                <span ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,
                14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]">
                  <span>
                    <h4 class="text-muted">{{i}}</h4> :
                    {{vm.getSessileOrganismName(expedition.protocols.settlementTiles.settlementTiles[h]['grid'+i].organism)}}
                    <em>{{expedition.protocols.settlementTiles.settlementTiles[h]['grid'+i].notes}}</em><br/>
                  </span>
                </span><br/>
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol5.depth === 'YES'">
            <td><b>Depth</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.waterQuality.avgSample.depthOfWaterSampleM">
                {{expedition.protocols.waterQuality.avgSample.depthOfWaterSampleM}} meters deep</span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol5.temperature === 'YES'">
            <td><b>Temperature</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.waterQuality.avgSample.waterTemperatureC">
                  {{expedition.protocols.waterQuality.avgSample.waterTemperatureF | number:2}}&#8457; /
                  {{expedition.protocols.waterQuality.avgSample.waterTemperatureC | number:2}}&#8451;</span>
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol5.dissolvedOxygen === 'YES'">
            <td><b>Dissolved Oxygen</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.waterQuality.avgSample.dissolvedOxygen">
                {{expedition.protocols.waterQuality.avgSample.dissolvedOxygen | number:2}}
                {{vm.getDissolvedOxygenUnit(expedition.protocols.waterQuality.avgSample.dissolvedOxygen)}}
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol5.salinity === 'YES'">
            <td><b>Salinity</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.waterQuality.avgSample.salinity">
                {{expedition.protocols.waterQuality.avgSample.salinity | number:2}}
                {{vm.getSalinityUnit(expedition.protocols.waterQuality.avgSample.salinity)}}
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol5.pH === 'YES'">
            <td><b>pH</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.waterQuality.avgSample.pH">
                {{expedition.protocols.waterQuality.avgSample.pH | number:2}}
                {{vm.getPHUnits(expedition.protocols.waterQuality.avgSample.pH)}}
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol5.turbidity === 'YES'">
            <td><b>Turbidity</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.waterQuality.avgSample.turbidity">
                {{expedition.protocols.waterQuality.avgSample.turbidity | number:2}}
                {{vm.getTurbidityUnit(expedition.protocols.waterQuality.avgSample.turbidity)}}
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol5.ammonia === 'YES'">
            <td><b>Ammonia</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.waterQuality.avgSample.ammonia">
                {{expedition.protocols.waterQuality.avgSample.ammonia | number:2}}
                {{vm.getAmmoniaUnit(expedition.protocols.waterQuality.avgSample.ammonia)}}
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol5.nitrates === 'YES'">
            <td><b>Nitrates</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <span ng-show="expedition.protocols.waterQuality.avgSample.nitrates">
                {{expedition.protocols.waterQuality.avgSample.nitrates | number:2}}
                {{vm.getNitratesUnit(expedition.protocols.waterQuality.avgSample.nitrates)}}
              </span>&nbsp;
            </td>
        </tr>
        <tr ng-show="vm.parameters.protocol5.other === 'YES'">
            <td><b>Other</b></td>
            <td ng-repeat="expedition in vm.compareExpeditions">
              <!-- {{expedition.protocols.waterQuality.avgSample.avgOthers}} -->
              <span ng-repeat="(key, value) in expedition.protocols.waterQuality.avgSample.avgOthers">
                {{expedition.protocols.waterQuality.avgSample.avgOthers[key].label}}:
                {{expedition.protocols.waterQuality.avgSample.avgOthers[key].average | number:2}}
                {{expedition.protocols.waterQuality.avgSample.avgOthers[key].units}}<br/>
              </span>&nbsp;
            </td>
        </tr>
    </table>
    <a class="btn btn-primary" target="_blank">Download data</a>
</section>
