<form name="vm.form.protocolSiteConditionForm" ng-submit="vm.save(vm.form.protocolSiteConditionForm.$valid)" novalidate>
    <fieldset>
        <section class="content shaded content-unpadded">
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#protocol1" data-toggle="tab" aria-controls="protocol1" role="tab">Protocol 1: Site Conditions</a></li>
                <li role="presentation"><a href="#protocol2" data-toggle="tab" aria-controls="protocol2" role="tab">Protocol 2: Oyster Measurements</a></li>
                <li role="presentation"><a href="#protocol3" data-toggle="tab" aria-controls="protocol3" role="tab">Protocol 3: Mobile Trap</a></li>
                <li role="presentation"><a href="#protocol4" data-toggle="tab" aria-controls="protocol4" role="tab">Protocol 4: Settlement Tiles</a></li>
                <li role="presentation"><a href="#protocol5" data-toggle="tab" aria-controls="protocol5" role="tab">Protocol 5: Water Quality</a></li>
            </ul>
        </section>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="protocol1">
                <form-protocol-site-condition></form-protocol-site-condition>
            </div>
            <div role="tabpanel" class="tab-pane" id="protocol2">
                <form-protocol-oyster-measurement></form-protocol-oyster-measurement>
            </div>
            <div role="tabpanel" class="tab-pane" id="protocol3">
                <form-protocol-mobile-trap></form-protocol-mobile-trap>
            </div>
            <div role="tabpanel" class="tab-pane" id="protocol4">
                <form-protocol-settlement-tile></form-protocol-settlement-tile>
            </div>
            <div role="tabpanel" class="tab-pane" id="protocol5">
                <form-protocol-water-quality></form-protocol-water-quality>
            </div>
        </div>
        <section class="content">
            <section class="container">
                <button type="submit" class="btn btn-default">{{vm.protocolSiteCondition._id ? 'Update' : 'Create'}}</button>
                <div ng-show="vm.error" class="text-danger">
                    <strong ng-bind="vm.error"></strong>
                </div>
            </section>
        </section>
    </fieldset>
</form>
