<section ng-cloak>
    <section class="content shaded content-unpadded content-fixed">
        <section class="container-fluid">
            <div class="row">
                <nav class="navbar">
                    <a href="#" ui-sref="expeditions.view({ expeditionId: vm.expedition._id })"><h6 class="navbar-text blue">{{vm.expedition.name}}</h6></a>
                    <h6 class="navbar-text"><i class="glyphicon glyphicon-user"></i> {{vm.team.teamLead.displayName}}</h6>
                    <h6 class="navbar-text">{{vm.getExpeditionDate}}</h6>
                    <h6 class="navbar-text"><i class="glyphicon glyphicon-map-marker"></i> {{vm.expedition.station.name}}</h6>
                    <!--<h6 class="navbar-text"><i class="glyphicon glyphicon-user"></i> {{vm.user.displayName}}</h6>-->
                    <div class="pull-right">
                        <!-- If never submitted (Status: Incomplete) --->
                        <!-- Show if team member: -->
                        <button class="btn btn-success navbar-btn" ng-click="vm.submitTeamMember()" ng-disabled="!vm.protocolsSuccessful()"
                        ng-show="vm.checkStatusIncomplete() && vm.isTeamMember">Submit</button>

                        <!--If submitted by team member (Status: Under Review) -->
                        <!-- Show if team lead: -->
                        <button class="btn btn-danger navbar-btn" ng-click="vm.return()" ng-disabled="!vm.protocolsLoaded()"
                        ng-show="vm.checkStatusPending() && (vm.isTeamLead || vm.isAdmin)">Return</button>
                        <!-- Show if team lead: -->
                        <button class="btn btn-success navbar-btn" ng-click="vm.publish()" ng-disabled="!vm.protocolsSuccessful()"
                        ng-show="(vm.checkStatusIncomplete() || vm.checkStatusPending() || vm.checkStatusReturned()) && 
                        (vm.isTeamLead || vm.isAdmin)">Publish</button>

                        <!-- If returned by team lead (Status: Returned) -->
                        <!-- Show if team member: -->
                        <button class="btn btn-success navbar-btn" ng-click="vm.submitTeamMember()" ng-disabled="!vm.protocolsSuccessful()"
                        ng-show="vm.checkStatusReturned() && vm.isTeamMember">Submit</button>

                        <!-- If published by team lead (Status: Published) -->
                        <!-- Show if team lead: -->
                        <!-- Show if team lead: -->
                        <button class="btn btn-danger navbar-btn" ng-click="vm.unpublish()" ng-disabled="!vm.protocolsLoaded()"
                        ng-show="vm.expedition.status === 'published' && (vm.isTeamLead || vm.isAdmin)">Unpublish</button>

                        <!-- Show saving when saving -->
                        <h6 class="navbar-text green" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Saving</h6>
                        <h6 class="navbar-text green" ng-show="vm.submitting"><i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Submitting</h6>
                        <h6 class="navbar-text green" ng-show="vm.returning"><i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Returning</h6>
                        <h6 class="navbar-text green" ng-show="vm.publishing"><i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Publishing</h6>
                        <h6 class="navbar-text green" ng-show="vm.unpublishing"><i class="fa fa-circle-o-notch fa-spin fa-fw green"></i> Unpublishing</h6>

                        <!-- If submitted by team member -->
                        <!-- Show if team lead: -->
                        <h6 class="navbar-text"
                        ng-show="vm.checkStatusPending() && (vm.isTeamLead || vm.isAdmin)">Needs Review</h6>
                        <!-- Show if team member: -->
                        <h6 class="navbar-text"
                        ng-show="vm.checkStatusPending() && vm.isTeamMember && !vm.isTeamLead">Under Review</h6>

                        <!-- If returned by team lead -->
                        <!-- Show if team lead: -->
                        <h6 class="navbar-text" ng-show="vm.checkStatusIncomplete()">Incomplete</h6>
                        <!-- Show if team member: -->
                        <h6 class="navbar-text" ng-show="vm.checkStatusReturned()">Returned</h6>

                        <!-- If published by team lead -->
                        <h6 class="navbar-text" ng-show="vm.expedition.status === 'published'">Published</h6>
                    </div>
                </nav>
            </div>
        </section>
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" disable="vm.tabs.protocol1.isDisabled" ng-class="{'active': vm.tabs.protocol1.isActive === true}"
            ng-show="vm.viewSiteCondition" ng-click="vm.switchTabs('protocol1')">
              <a href="#protocol1" data-toggle="tab" aria-controls="protocol1" role="tab">
              <i class="glyphicon glyphicon-exclamation-sign red" ng-show="vm.tabs.protocol1.saveSuccessful === false"></i>
              <i class="glyphicon glyphicon-ok-sign green" ng-show="vm.tabs.protocol1.saveSuccessful === true"></i>
              <!--<i class="glyphicon glyphicon-exclamation-sign gray" ng-hide="vm.tabs.protocol1.saveSuccessful === true ||
                vm.tabs.protocol1.saveSuccessful === false"></i>-->
              Protocol 1: Site Conditions</a>
            </li>
            <li role="presentation" ng-class="{'active': vm.tabs.protocol2.isActive === true}"
            ng-show="vm.viewOysterMeasurement" disable="vm.tabs.protocol2.isDisabled" ng-click="vm.switchTabs('protocol2')">
              <a href="#protocol2" data-toggle="tab" aria-controls="protocol2" role="tab">
                <i class="glyphicon glyphicon-exclamation-sign red" ng-show="vm.tabs.protocol2.saveSuccessful === false"></i>
                <i class="glyphicon glyphicon-ok-sign green" ng-show="vm.tabs.protocol2.saveSuccessful === true"></i>
                <!--<i class="glyphicon glyphicon-exclamation-sign gray" ng-hide="vm.tabs.protocol2.saveSuccessful === true ||
                vm.tabs.protocol2.saveSuccessful === false"></i>-->
              Protocol 2: Oyster Measurements</a>
            </li>
            <li role="presentation" ng-class="{'active': vm.tabs.protocol3.isActive === true}"
            ng-show="vm.viewMobileTrap" disable="vm.tabs.protocol3.isDisabled" ng-click="vm.switchTabs('protocol3')">
              <a href="#protocol3" data-toggle="tab" aria-controls="protocol3" role="tab" ng-click="vm.refreshTiles()">
                <i class="glyphicon glyphicon-exclamation-sign red" ng-show="vm.tabs.protocol3.saveSuccessful === false"></i>
                <i class="glyphicon glyphicon-ok-sign green" ng-show="vm.tabs.protocol3.saveSuccessful === true"></i>
                <!--<i class="glyphicon glyphicon-exclamation-sign gray" ng-hide="vm.tabs.protocol3.saveSuccessful === true ||
                vm.tabs.protocol3.saveSuccessful === false"></i>-->
              Protocol 3: Mobile Trap</a>
            </li>
            <li role="presentation" ng-class="{'active': vm.tabs.protocol4.isActive === true}"
            ng-show="vm.viewSettlementTiles" disable="vm.tabs.protocol4.isDisabled" ng-click="vm.switchTabs('protocol4')">
              <a href="#protocol4" data-toggle="tab" aria-controls="protocol4" role="tab">
                <i class="glyphicon glyphicon-exclamation-sign red" ng-show="vm.tabs.protocol4.saveSuccessful === false"></i>
                <i class="glyphicon glyphicon-ok-sign green" ng-show="vm.tabs.protocol4.saveSuccessful === true"></i>
                <!--<i class="glyphicon glyphicon-exclamation-sign gray" ng-hide="vm.tabs.protocol4.saveSuccessful === true ||
                vm.tabs.protocol4.saveSuccessful === false"></i>-->
              Protocol 4: Settlement Tiles</a>
            </li>
            <li role="presentation" ng-class="{'active': vm.tabs.protocol5.isActive === true}"
            ng-show="vm.viewWaterQuality" disable="vm.tabs.protocol5.isDisabled" ng-click="vm.switchTabs('protocol5')">
              <a href="#protocol5" data-toggle="tab" aria-controls="protocol5" role="tab">
                <i class="glyphicon glyphicon-exclamation-sign red" ng-show="vm.tabs.protocol5.saveSuccessful === false"></i>
                <i class="glyphicon glyphicon-ok-sign green" ng-show="vm.tabs.protocol5.saveSuccessful === true"></i>
                <!--<i class="glyphicon glyphicon-exclamation-sign gray" ng-hide="vm.tabs.protocol5.saveSuccessful === true ||
                vm.tabs.protocol5.saveSuccessful === false"></i>-->
              Protocol 5: Water Quality</a>
            </li>
        </ul>
    </section>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" ng-class="{'active': vm.tabs.protocol1.isActive === true}"
        id="protocol1" ng-show="vm.viewSiteCondition">
            <form-protocol-site-condition protocol-site-condition="vm.siteCondition"
            error="vm.siteConditionErrors" ng-cloak></form-protocol-site-condition>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{'active': vm.tabs.protocol2.isActive === true}"
        id="protocol2" ng-show="vm.viewOysterMeasurement">
            <form-protocol-oyster-measurement protocol-oyster-measurement="vm.oysterMeasurement"
            error="vm.oysterMeasurmentErrors" ng-cloak></form-protocol-oyster-measurement>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{'active': vm.tabs.protocol3.isActive === true}"
        id="protocol3" ng-show="vm.viewMobileTrap">
            <form-protocol-mobile-trap protocol-mobile-trap="vm.mobileTrap"
            error="vm.mobileTrapErrors" ng-cloak></form-protocol-mobile-trap>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{'active': vm.tabs.protocol4.isActive === true}"
        id="protocol4" ng-show="vm.viewSettlementTiles">
            <form-protocol-settlement-tiles protocol-settlement-tiles="vm.settlementTiles"
            error="vm.settlementTilesErrors" ng-cloak></form-protocol-settlement-tiles>
        </div>
        <div role="tabpanel" class="tab-pane" ng-class="{'active': vm.tabs.protocol5.isActive === true}"
        id="protocol5" ng-show="vm.viewWaterQuality">
            <form-protocol-water-quality protocol-water-quality="vm.waterQuality"
            error="vm.waterQualityErrors" ng-cloak></form-protocol-water-quality>
        </div>
    </div>
    <section class="content">
      <section class="container">
        <div ng-show="vm.tabs.protocol1.isActive === true" class="text-danger">
          <strong ng-bind="vm.tabs.protocol1.error"></strong>
        </div>
        <div ng-show="vm.tabs.protocol2.isActive === true" class="text-danger">
          <strong ng-bind="vm.tabs.protocol2.error"></strong>
        </div>
        <div ng-show="vm.tabs.protocol3.isActive === true" class="text-danger">
          <strong ng-bind="vm.tabs.protocol3.error"></strong>
        </div>
        <div ng-show="vm.tabs.protocol4.isActive === true" class="text-danger">
          <strong ng-bind="vm.tabs.protocol4.error"></strong>
        </div>
        <div ng-show="vm.tabs.protocol5.isActive === true" class="text-danger">
          <strong ng-bind="vm.tabs.protocol5.error"></strong>
        </div>
      </section>
    </section>
</section>

<!-- modals -->
<remove-protocol-tab-modal changes="vm.disableProtocolChanges"></remove-protocol-tab-modal>
