<section>
    <section class="content shaded content-unpadded">
        <section class="container-fluid">
            <div class="row">
                <nav class="navbar">
                    <a ui-sref="expeditions.edit({ expeditionId: vm.expedition._id })">
                        <h6 class="navbar-text blue">{{vm.expedition.name}}</h6>
                    </a>
                    <h6 class="navbar-text"><i class="glyphicon glyphicon-user"></i> Team Lead Name</h6><!-- TODO: Wire up -->
                    <h6 class="navbar-text">{{vm.getExpeditionDate}}</h6>
                    <h6 class="navbar-text"><i class="glyphicon glyphicon-map-marker"></i> {{vm.expedition.station.name}}</h6>
                    <h6 class="navbar-text"><i class="glyphicon glyphicon-user"></i> {{vm.user.displayName}}</h6>
                    <div class="navbar-right">
                        <!-- TODO: Wire up buttons
                        If never submitted (Status: Incomplete) --->
                        <!-- Show if team member: -->
                        <button class="btn btn-success navbar-btn"
                        ng-show="vm.expedition.status === 'incomplete' && vm.isTeamMember">Submit</button>

                        <!--If submitted by team member (Status: Under Review) -->
                        <!-- Show if team lead: -->
                        <button class="btn btn-danger navbar-btn"
                        ng-show="vm.expedition.status === 'pending' && vm.isTeamLead">Return</button>
                        <!-- Show if team lead: -->
                        <button class="btn btn-success navbar-btn"
                        ng-show-"vm.expedition.status === 'pending' && vm.isTeamLead">Publish</button>

                        <!-- If returned by team lead (Status: Returned) -->
                        <!-- Show if team member: -->
                        <button class="btn btn-success navbar-btn"
                        ng-show="vm.expedition.status === 'returned' && vm.isTeamMember">Submit</button>

                        <!-- If published by team lead (Status: Published) -->
                        <!-- Show if team lead: -->
                        <!-- Show if team lead: -->
                        <button class="btn btn-danger navbar-btn"
                        ng-show="vm.expedition.status === 'published' && vm.isTeamLead">Unpublish</button>

                        <!-- TODO: Wire up statuses
                        If submitted by team member -->
                        <!-- Show if team lead: -->
                        <h6 class="navbar-text"
                        ng-show="vm.expedition.status === 'pending' && vm.isTeamLead">Needs Review</h6>
                        <!-- Show if team member: -->
                        <h6 class="navbar-text"
                        ng-show="vm.expedition.status === 'pending' && vm.isTeamMember">Under Review</h6>

                        <!-- If returned by team lead -->
                        <!-- Show if team lead: -->
                        <h6 class="navbar-text" ng-show="vm.expedition.status === 'incomplete'">Incomplete</h6>
                        <!-- Show if team member: -->
                        <h6 class="navbar-text" ng-show="vm.expedition.status === 'returned'">Returned</h6>

                        <!-- If published by team lead -->
                        <h6 class="navbar-text" ng-show="vm.expedition.status === 'published'">Published</h6>
                    </div>
                </nav>
            </div>
        </section>
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#protocol1" data-toggle="tab" aria-controls="protocol1" role="tab">Protocol 1: Site Conditions</a></li>
            <li role="presentation"><a href="#protocol2" data-toggle="tab" aria-controls="protocol2" role="tab">Protocol 2: Oyster Measurements</a></li>
            <li role="presentation"><a href="#protocol3" data-toggle="tab" aria-controls="protocol3" role="tab">Protocol 3: Mobile Trap</a></li>
            <li role="presentation"><a href="#protocol4" data-toggle="tab" aria-controls="protocol4" role="tab">Protocol 4: Settlement Tiles</a></li>
            <li role="presentation"><a href="#protocol5" data-toggle="tab" aria-controls="protocol5" role="tab">Protocol 5: Water Quality</a></li>
        </ul>
    </section>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="protocol1">
            <form-protocol-site-condition protocol-site-condition="vm.expedition.protocols.siteCondition">
            </form-protocol-site-condition>
        </div>
        <div role="tabpanel" class="tab-pane" id="protocol2">
            <form-protocol-oyster-measurement protocol-oyster-measurement="vm.expedition.protocols.oysterMeasurement">
            </form-protocol-oyster-measurement>
        </div>
        <div role="tabpanel" class="tab-pane" id="protocol3">
            <form-protocol-mobile-trap protocol-mobile-trap="vm.expedition.protocols.mobileTrap">
            </form-protocol-mobile-trap>
        </div>
        <div role="tabpanel" class="tab-pane" id="protocol4">
            <form-protocol-settlement-tiles protocol-settlement-tiles="vm.expedition.protocols.settlementTiles">
            </form-protocol-settlement-tiles>
        </div>
        <div role="tabpanel" class="tab-pane" id="protocol5">
            <form-protocol-water-quality protocol-water-quality="vm.expedition.protocols.waterQuality">
            </form-protocol-water-quality>
        </div>
    </div>
</section>
