<div class="modal fade" id="modal-save-draft-progress-bar" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Saving draft: <small>{{status}}</small></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <uib-progressbar class="progress-striped active" value="value" type="{{status}}">
            </uib-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
