<div class="jumbotron text-center">
    <section class="content">
        <section class="container">
            <h2>Submissions</h2>
        </section>
    </section>
</div>
<section class="content">
    <section class="container">
        <table class="table table-hover" ng-show="vm.activities && vm.activities.length > 0">
            <thead>
                <tr>
                    <th></th>
                    <th>Assignment</th>
                    <th>Expedition</th>
                    <th>Name</th>
                    <th class="text-right">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="activity in vm.activities"
                  ui-sref="expeditions.protocols({ expeditionId: activity.expedition._id })">
                  <td ng-show="vm.isUpcoming(activity.expedition)">
                    <i class="glyphicon glyphicon-unchecked"></i>
                  </td>
                  <td ng-show="activity.expedition.status === 'incomplete' || activity.expedition.status === 'returned' ||
                  activity.expedition.status === 'pending'">
                    <i class="glyphicon glyphicon-unchecked red"></i>
                  </td>
                  <td ng-show="activity.expedition.status === 'published'">
                    <i class="glyphicon glyphicon-check green"></i>
                  </td>
                    <td><h4>{{vm.displaySubmittedProtocols(activity)}}</h4></td>
                    <td>{{activity.expedition.name}}<br/><small>{{vm.getExpeditionDate(activity.expedition)}}</small></td>
                    <td><img ng-src="{{activity.user.profileImageURL}}" class="header-profile-image">
                      <b>{{activity.user.displayName}}</b><br/><p class="text-muted">{{activity.team.name}}</p></td>
                      <td class="text-right" ng-show="vm.isUpcoming(activity.expedition)">
                        <span class="label label-default">Coming up</span>
                      </td>
                      <td class="text-right" ng-show="activity.expedition.status === 'incomplete' || activity.expedition.status === 'returned'">
                        <span class="label label-danger">Incomplete</span>
                      </td>
                      <td class="text-right" ng-show="activity.expedition.status === 'pending'">
                        <span class="label label-danger">Needs Review</span>
                      </td>
                      <td class="text-right" ng-show="activity.expedition.status === 'published'">
                        <span class="label label-success">Published</span>
                      </td>
                </tr>
            </tbody>
        </table>
        <div class="alert" ng-show="vm.activities && vm.activities.length === 0">
          No expeditions submitted yet! Why don't you <a ui-sref="expeditions.create">create one</a>?
        </div>
    </section>
</section>
