<section class="content shaded">
    <section class="container">
        <div class="row">
            <div class="col col-sm-6">
                <h2>{{vm.expedition.name}}</h2>
            </div>
            <div class="col col-sm-6 text-right">
                <h6 ng-show="vm.expedition.status === 'incomplete' || vm.expedition.status === 'returned'">Incomplete</h6>
                <h6 ng-show="vm.expedition.status === 'pending'" class="green">Submitted</h6>
                <h6 ng-show="vm.expedition.status === 'published'" class="green">Published</h6>
                <h6 ng-show="vm.expedition.status === 'unpublished'" class="green">Unpublished</h6>
                <a class="btn btn-primary" ui-sref="expeditions.edit({ expeditionId: vm.expedition._id })"
                  view-permissions="team lead">Edit</a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-3">
                <img ng-src="{{vm.team.teamLead.profileImageURL}}" class="profile-image pull-left">
                <p>
                    <b>{{vm.team.name}}</b><br/>
                    {{vm.team.teamLead.displayName}}<br/>
                    <span class="text-muted">{{vm.team.schoolOrg.name}}</span>
                </p>
            </div>
            <div class="col-sm-3">
                <p>
                    <i class="glyphicon glyphicon-calendar gray"></i> <b>{{vm.getExpeditionDate(vm.expedition)}}, {{vm.getExpeditionTimeRange(vm.expedition)}}</b><br/>
                    <i class="glyphicon glyphicon-map-marker gray"></i> {{vm.expedition.station.name}}
                </p>
            </div>
            <div class="col-sm-6">
                <p>{{vm.expedition.notes}}</p>
            </div>
        </div>
    </section>
</section>
<section class="content">
    <section class="container">
        <h3 class="gray">Protocols</h3>
        <table class="table" ng-class="{'table-hover' : (vm.isTeamLead || vm.isAdmin ||
          (vm.isTeamMember && (vm.expedition.status === 'incomplete' || vm.expedition.status === 'returned')))}">
            <tbody>
              <tr id="protocol1Link" ui-sref="expeditions.protocols({ expeditionId: vm.expedition._id })" ng-show="(vm.isTeamLead || vm.isAdmin ||
                (vm.isTeamMember && (vm.expedition.protocols.siteCondition.status === 'incomplete' ||
                vm.expedition.protocols.siteCondition.status === 'returned') &&
                vm.checkWrite(vm.expedition.teamLists.siteCondition)))">
                  <td><h6>Protocol 1</h6><br/><h4 class="blue">Site Condition</h4></td>
                  <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.siteCondition"></view-protocol-team-list-summary></td>
                  <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.siteCondition.status}}"></view-protocol-status></td>
              </tr>
              <tr id="protocol1View" ng-show="(vm.isTeamMember && (vm.expedition.protocols.siteCondition.status === 'submitted' ||
                vm.expedition.protocols.siteCondition.status === 'published') || !vm.checkWrite(vm.expedition.teamLists.siteCondition))" class="nohover">
                  <td><h6>Protocol 1</h6><br/><h4 class="blue">Site Condition</h4></td>
                  <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.siteCondition"></view-protocol-team-list-summary></td>
                  <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.siteCondition.status}}"></view-protocol-status></td>
              </tr>
                <tr id="protocol2Link" ui-sref="expeditions.protocols({ expeditionId: vm.expedition._id })" ng-show="(vm.isTeamLead || vm.isAdmin ||
                  (vm.isTeamMember && (vm.expedition.protocols.oysterMeasurement.status === 'incomplete' ||
                  vm.expedition.protocols.oysterMeasurement.status === 'returned') &&
                  vm.checkWrite(vm.expedition.teamLists.oysterMeasurement)))">
                    <td><h6>Protocol 2</h6><br/><h4 class="blue">Oyster Measurements</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.oysterMeasurement"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.oysterMeasurement.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol2View" ng-show="(vm.isTeamMember && (vm.expedition.protocols.oysterMeasurement.status === 'submitted' ||
                  vm.expedition.protocols.oysterMeasurement.status === 'published') || !vm.checkWrite(vm.expedition.teamLists.oysterMeasurement))" class="nohover">
                    <td><h6>Protocol 2</h6><br/><h4 class="blue">Oyster Measurements</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.oysterMeasurement"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.oysterMeasurement.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol3Link" ui-sref="expeditions.protocols({ expeditionId: vm.expedition._id })" ng-show="(vm.isTeamLead || vm.isAdmin ||
                  (vm.isTeamMember && (vm.expedition.protocols.mobileTrap.status === 'incomplete' ||
                  vm.expedition.protocols.mobileTrap.status === 'returned') &&
                  vm.checkWrite(vm.expedition.teamLists.mobileTrap)))">
                    <td><h6>Protocol 3</h6><br/><h4 class="blue">Mobile Trap</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.mobileTrap"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.mobileTrap.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol3View" ng-show="(vm.isTeamMember && (vm.expedition.protocols.mobileTrap.status === 'submitted' ||
                  vm.expedition.protocols.mobileTrap.status === 'published') || !vm.checkWrite(vm.expedition.teamLists.mobileTrap))" class="nohover">
                    <td><h6>Protocol 3</h6><br/><h4 class="blue">Mobile Trap</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.mobileTrap"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.mobileTrap.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol4Link" ui-sref="expeditions.protocols({ expeditionId: vm.expedition._id })" ng-show="(vm.isTeamLead || vm.isAdmin ||
                  (vm.isTeamMember && (vm.expedition.protocols.settlementTiles.status === 'incomplete' ||
                  vm.expedition.protocols.settlementTiles.status === 'returned') &&
                  vm.checkWrite(vm.expedition.teamLists.settlementTiles)))">
                    <td><h6>Protocol 4</h6><br/><h4 class="blue">Settlement Tiles</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.settlementTiles"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.settlementTiles.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol4View" ng-show="(vm.isTeamMember && (vm.expedition.protocols.settlementTiles.status === 'submitted' ||
                vm.expedition.protocols.settlementTiles.status === 'published') || !vm.checkWrite(vm.expedition.teamLists.settlementTiles))" class="nohover">
                    <td><h6>Protocol 4</h6><br/><h4 class="blue">Settlement Tiles</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.settlementTiles"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.settlementTiles.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol5Link" ui-sref="expeditions.protocols({ expeditionId: vm.expedition._id })" ng-show="(vm.isTeamLead || vm.isAdmin ||
                  (vm.isTeamMember && (vm.expedition.protocols.waterQuality.status === 'incomplete' ||
                  vm.expedition.protocols.waterQuality.status === 'returned') &&
                  vm.checkWrite(vm.expedition.teamLists.waterQuality)))">
                    <td><h6>Protocol 5</h6><br/><h4 class="blue">Water Quality</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.waterQuality"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.waterQuality.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol5View" ng-show="(vm.isTeamMember && (vm.expedition.protocols.waterQuality.status === 'submitted' ||
                  vm.expedition.protocols.waterQuality.status === 'published') || !vm.checkWrite(vm.expedition.teamLists.waterQuality))" class="nohover">
                    <td><h6>Protocol 5</h6><br/><h4 class="blue">Water Quality</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.waterQuality"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.waterQuality.status}}"></view-protocol-status></td>
                </tr>
            </tbody>
        </table>
    </section>
</section>
<section class="content shaded content-unpadded">
    <section class="container">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active">
              <a href="#protocol1" data-toggle="tab" aria-controls="protocol1" role="tab">
              <span class="hidden-xs">Protocol </span>1<span class="hidden-xs">:<br/>Site Conditions</span></a>
            </li>
            <li role="presentation">
              <a href="#protocol2" data-toggle="tab" aria-controls="protocol2" role="tab">
              <span class="hidden-xs">Protocol </span>2<span class="hidden-xs">:<br/>Oyster Measurements</span></a>
            </li>
            <li role="presentation">
              <a href="#protocol3" data-toggle="tab" aria-controls="protocol3" role="tab">
              <span class="hidden-xs">Protocol </span>3<span class="hidden-xs">:<br/>Mobile Trap</span></a>
            </li>
            <li role="presentation">
              <a href="#protocol4" data-toggle="tab" aria-controls="protocol4" role="tab">
              <span class="hidden-xs">Protocol </span>4<span class="hidden-xs">:<br/>Settlement Tiles</span></a>
            </li>
            <li role="presentation">
              <a href="#protocol5" data-toggle="tab" aria-controls="protocol5" role="tab">
              <span class="hidden-xs">Protocol </span>5<span class="hidden-xs">:<br/>Water Quality</span></a>
            </li>
        </ul>
    </section>
</section>
<section class="content">
    <section class="container">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="protocol1">
                <div class="row">
                    <div class="col-sm-3">
                        <h3 class="blue">
                            <i class="fa fa-clock-o pull-left"></i>
                            11:39am<br/><small>September 15, 2016</small>
                        </h3>
                    </div>
                    <div class="col-sm-3">
                        <h5><img class="header-profile-image" src="modules/users/client/img/profile/avatar-gray.png"> Joe Smith</h5>
                        <h5><img class="header-profile-image" src="modules/users/client/img/profile/avatar-gray.png"> Sally Martin</h5>
                        <h5><img class="header-profile-image" src="modules/users/client/img/profile/avatar-gray.png"> Bob Johnson</h5>
                    </div>
                    <div class="col-sm-6">
                        <p><b>Notes:</b> Bacon ipsum dolor amet ball tip rump tri-tip sausage, fatback leberkas pancetta tenderloin tongue pork loin pork. Jerky meatball sausage tongue, bresaola frankfurter pork chop porchetta capicola biltong chuck cow strip steak. Doner sirloin shankle shoulder bresaola.</p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <h6>Meteorological Conditions</h6>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="green">
                                    <img class="pull-left" width="30" src="modules/core/client/img/icons/temperature.svg" />
                                    Sunny 95&#8451;<br/><small>54% humidity</small>
                                </h4>
                            </div>
                            <div class="col-sm-4">
                                <h4 class="green">
                                    <img class="pull-left" width="30" src="modules/core/client/img/icons/humidity.svg" />
                                    Rain<br/><small>in the past 72hrs</small>
                                </h4>
                            </div>
                            <div class="col-sm-4">
                                <h4 class="green">
                                    <img class="pull-left" width="30" src="modules/core/client/img/icons/wind.svg" />
                                    10mph<br/><small>Northwest wind</small>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6>Tide Conditions</h6>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="green">
                                    <img width="30" src="modules/core/client/img/icons/tide-high-4.svg" />
                                    5ft, 11:34 am</br><small>Closest high tide on 9/15/16</small>
                                </h4>
                            </div>
                            <div class="col-sm-4">
                                <h4 class="green">
                                    <img width="30" src="modules/core/client/img/icons/tide-low-2.svg" />
                                    1ft, 1:34 am</br><small>Closest low tide on 9/15/16</small>
                                </h4>
                            </div>
                            <div class="col-sm-4">
                                <h4 class="green">
                                    Flood current</br><small>(incoming tide)</small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6>Water Conditions</h6>
                                <img class="img-rounded img-responsive" src="https://www.carbonbrief.org/wp-content/uploads/2015/02/stock-clear-blue-sea-ocean.jpg"/>
                            </div>
                            <div class="col-sm-6">
                                <h3 class="blue">4 meters/sec</br><small>Surface current speed</small></h3>
                                <p>
                                    <b>Dark Blue</b> water color<br/>
                                    <b>No</b> oil sheen<br/><!--if yes, "Oil sheen present"-->
                                    <b>No</b> garbage present<br/>
                                    <b>No</b> CSO pipes<br/>
                                    <b>No</b> unmarked or other outfall pipes
                                </p>
                                <p><!--if garbage is present-->
                                    <b>Garbage present:</b><br/>
                                    Common amount of soft plastic<br/>
                                    Sporadic amount of glass<br/>
                                    Extensive amount of metal
                                </p>
                                <p><!--if CSO pipes are present-->
                                    <b>CSO pipes present:</b><br/>
                                    Location at 40.704586878965245, -74.11788940429688<br/>
                                    No flow through the pipe
                                </p>
                                <p><!--if unmarked pipes are present-->
                                    <b>Unmarked or other outfall pipes present:</b><br/>
                                    Location at 40.704586878965245, -74.11788940429688<br/>
                                    No flow through the pipe<br/>
                                    <b>9cm</b> approximate diameter
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <h6>Land Conditions</h6>
                                <img class="img-rounded img-responsive" src="http://www.teara.govt.nz/files/p2655enz.jpg"/>
                            </div>
                            <div class="col-sm-6">
                                <h3 class="blue">43% <small>Impervious Surface (concrete/asphalt paths, roads, buildings etc)</small></h3>
                                <h3 class="blue">22% <small>Pervious Surface (dirt, gravel etc)</small></h3>
                                <h3 class="blue">35% <small>Vegetated surface (grass, shrubs, trees)</small></h3>
                                <p>
                                    <b>Rock/sand</b> shoreline<br/>
                                    <b>No</b> garbage present
                                </p>
                                <p><!--if garbage is present-->
                                    <b>Garbage present:</b><br/>
                                    Common amount of soft plastic<br/>
                                    Sporadic amount of glass<br/>
                                    Extensive amount of metal
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
            <div role="tabpanel" class="tab-pane" id="protocol2">
                Protocol 2
            </div>
            <div role="tabpanel" class="tab-pane" id="protocol3">
                Protocol 3
            </div>
            <div role="tabpanel" class="tab-pane" id="protocol4">
                Protocol 4
            </div>
            <div role="tabpanel" class="tab-pane" id="protocol5">
                Protocol 5
            </div>
        </div>
    </section>
</section>
