<section class="content shaded">
    <section class="container">
        <div class="row">
            <div class="col col-sm-6">
                <h2>{{vm.expedition.name}}</h2>
            </div>
            <div class="col col-sm-6 text-right">
                <h6 ng-show="vm.expedition.status === 'incomplete' || vm.expedition.status === 'returned'">Incomplete</h6>
                <h6 ng-show="vm.expedition.status === 'pending'" class="green">Submitted</h6>
                <h6 ng-show="vm.expedition.status === 'published'" class="green">Published</h6>
                <h6 ng-show="vm.expedition.status === 'unpublished'" class="green">Unpublished</h6>
                <a class="btn btn-primary" ui-sref="expeditions.edit({ expeditionId: vm.expedition._id })"
                  view-permissions="team lead">Edit</a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-3">
                <img ng-src="{{vm.team.teamLead.profileImageURL}}" class="profile-image pull-left">
                <p>
                    <b>{{vm.team.name}}</b><br/>
                    {{vm.team.teamLead.displayName}}<br/>
                    <span class="text-muted">{{vm.team.schoolOrg.name}}</span>
                </p>
            </div>
            <div class="col-sm-3">
                <p>
                    <i class="glyphicon glyphicon-calendar gray"></i> <b>{{vm.getExpeditionDate(vm.expedition)}}, {{vm.getExpeditionTimeRange(vm.expedition)}}</b><br/>
                    <i class="glyphicon glyphicon-map-marker gray"></i> {{vm.expedition.station.name}}
                </p>
            </div>
            <div class="col-sm-6">
                <p>{{vm.expedition.notes}}</p>
            </div>
        </div>
    </section>
</section>
<section class="content">
    <section class="container">
        <h3 class="gray">Protocols</h3>
        <table class="table" ng-class="{'table-hover' : (vm.isTeamLead || vm.isAdmin ||
          (vm.isTeamMember && (vm.expedition.status === 'incomplete' || vm.expedition.status === 'returned')))}">
            <tbody>
              <tr id="protocol1Link" ui-sref="expeditions.protocols({ expeditionId: vm.expedition._id })" ng-show="(vm.isTeamLead || vm.isAdmin ||
                (vm.isTeamMember && (vm.expedition.protocols.siteCondition.status === 'incomplete' ||
                vm.expedition.protocols.siteCondition.status === 'returned') &&
                vm.checkWrite(vm.expedition.teamLists.siteCondition)))">
                  <td><h6>Protocol 1</h6><br/><h4 class="blue">Site Condition</h4></td>
                  <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.siteCondition"></view-protocol-team-list-summary></td>
                  <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.siteCondition.status}}"></view-protocol-status></td>
              </tr>
              <tr id="protocol1View" ng-show="(vm.isTeamMember && (vm.expedition.protocols.siteCondition.status === 'submitted' ||
                vm.expedition.protocols.siteCondition.status === 'published') || !vm.checkWrite(vm.expedition.teamLists.siteCondition))" class="nohover">
                  <td><h6>Protocol 1</h6><br/><h4 class="blue">Site Condition</h4></td>
                  <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.siteCondition"></view-protocol-team-list-summary></td>
                  <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.siteCondition.status}}"></view-protocol-status></td>
              </tr>
                <tr id="protocol2Link" ui-sref="expeditions.protocols({ expeditionId: vm.expedition._id })" ng-show="(vm.isTeamLead || vm.isAdmin ||
                  (vm.isTeamMember && (vm.expedition.protocols.oysterMeasurement.status === 'incomplete' ||
                  vm.expedition.protocols.oysterMeasurement.status === 'returned') &&
                  vm.checkWrite(vm.expedition.teamLists.oysterMeasurement)))">
                    <td><h6>Protocol 2</h6><br/><h4 class="blue">Oyster Measurements</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.oysterMeasurement"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.oysterMeasurement.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol2View" ng-show="(vm.isTeamMember && (vm.expedition.protocols.oysterMeasurement.status === 'submitted' ||
                  vm.expedition.protocols.oysterMeasurement.status === 'published') || !vm.checkWrite(vm.expedition.teamLists.oysterMeasurement))" class="nohover">
                    <td><h6>Protocol 2</h6><br/><h4 class="blue">Oyster Measurements</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.oysterMeasurement"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.oysterMeasurement.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol3Link" ui-sref="expeditions.protocols({ expeditionId: vm.expedition._id })" ng-show="(vm.isTeamLead || vm.isAdmin ||
                  (vm.isTeamMember && (vm.expedition.protocols.mobileTrap.status === 'incomplete' ||
                  vm.expedition.protocols.mobileTrap.status === 'returned') &&
                  vm.checkWrite(vm.expedition.teamLists.mobileTrap)))">
                    <td><h6>Protocol 3</h6><br/><h4 class="blue">Mobile Trap</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.mobileTrap"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.mobileTrap.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol3View" ng-show="(vm.isTeamMember && (vm.expedition.protocols.mobileTrap.status === 'submitted' ||
                  vm.expedition.protocols.mobileTrap.status === 'published') || !vm.checkWrite(vm.expedition.teamLists.mobileTrap))" class="nohover">
                    <td><h6>Protocol 3</h6><br/><h4 class="blue">Mobile Trap</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.mobileTrap"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.mobileTrap.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol4Link" ui-sref="expeditions.protocols({ expeditionId: vm.expedition._id })" ng-show="(vm.isTeamLead || vm.isAdmin ||
                  (vm.isTeamMember && (vm.expedition.protocols.settlementTiles.status === 'incomplete' ||
                  vm.expedition.protocols.settlementTiles.status === 'returned') &&
                  vm.checkWrite(vm.expedition.teamLists.settlementTiles)))">
                    <td><h6>Protocol 4</h6><br/><h4 class="blue">Settlement Tiles</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.settlementTiles"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.settlementTiles.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol4View" ng-show="(vm.isTeamMember && (vm.expedition.protocols.settlementTiles.status === 'submitted' ||
                vm.expedition.protocols.settlementTiles.status === 'published') || !vm.checkWrite(vm.expedition.teamLists.settlementTiles))" class="nohover">
                    <td><h6>Protocol 4</h6><br/><h4 class="blue">Settlement Tiles</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.settlementTiles"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.settlementTiles.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol5Link" ui-sref="expeditions.protocols({ expeditionId: vm.expedition._id })" ng-show="(vm.isTeamLead || vm.isAdmin ||
                  (vm.isTeamMember && (vm.expedition.protocols.waterQuality.status === 'incomplete' ||
                  vm.expedition.protocols.waterQuality.status === 'returned') &&
                  vm.checkWrite(vm.expedition.teamLists.waterQuality)))">
                    <td><h6>Protocol 5</h6><br/><h4 class="blue">Water Quality</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.waterQuality"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.waterQuality.status}}"></view-protocol-status></td>
                </tr>
                <tr id="protocol5View" ng-show="(vm.isTeamMember && (vm.expedition.protocols.waterQuality.status === 'submitted' ||
                  vm.expedition.protocols.waterQuality.status === 'published') || !vm.checkWrite(vm.expedition.teamLists.waterQuality))" class="nohover">
                    <td><h6>Protocol 5</h6><br/><h4 class="blue">Water Quality</h4></td>
                    <td><td><view-protocol-team-list-summary team="vm.expedition.teamLists.waterQuality"></view-protocol-team-list-summary></td>
                    <td class="text-right"><view-protocol-status status="{{vm.expedition.protocols.waterQuality.status}}"></view-protocol-status></td>
                </tr>
            </tbody>
        </table>
    </section>
</section>
