<span class="label label-danger" ng-show="status === 'incomplete'">Protocol Incomplete</span>
<span class="label label-info" ng-show="status === 'submitted'">Protocol Submitted</span>

<!--TODO: wire up -->
<!--span class="label label-info" ng-show="status === 'submitted' && isTeamMember && !isTeamLead">Protocol Submitted</span>
<span class="label label-info" ng-show="status === 'submitted' && (isTeamLead || isAdmin)">Protocol Needs Review</span-->

<span class="label label-danger" ng-show="status === 'returned'">Protocol Returned</span>
<span class="label label-success" ng-show="status === 'published'">Expedition Published</span>
<span class="label label-default" ng-show="status === 'unpublished'">Expedition Unpublished</span>
